In [3]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException,ElementNotInteractableException
import pandas as pd

In [4]:
years=['2013-2014','2014-2015','2015-2016','2016-2017','2017-2018','2018-2019','2019-2020','2020-2021']
codes=['01','02','03','04','05','06','07','08','09']
for i in range(10,37):
    codes.append(str(i))

In [7]:
driver.get('https://mnregaweb4.nic.in/netnrega/demand_emp_demand.aspx?file1=dmd&page1=s&lflag=eng&state_name=THE+DADRA+AND+NAGAR+HAVELI+AND+DAMAN+AND+DIU&state_code='+'07'+'&fin_year='+'2020-2021'+'&source=national&rbl=0&rblhpb=Persons&Digest=XLZYLM10qSfNxbVc8K5hQQ')

In [6]:

import os

par_dir='C:\\Users\\akhil\\Downloads'
state_dir='nrega_state_2016-2017'
new=os.path.join(par_dir,state_dir)
os.mkdir(new)
#code='01'
#year='2020-2021'
#new_state=os.path.join(new,code)
#os.mkdir(new_state)
#os.rename('C:\\Users\\akhil\\Downloads\\demand_emp_demand.xls','C:\\Users\\akhil\\Downloads\\nrega_state\\'+code+'\\'+code+'-'+year+'.xls')

In [7]:
for code in codes:
    new_state=os.path.join(new,code)
    os.mkdir(new_state)

In [5]:
def change_file_location(code,year):
    os.rename('C:\\Users\\akhil\\Downloads\\demand_emp_demand.xls','C:\\Users\\akhil\\Downloads\\nrega_state_2016-2017\\'+code+'\\'+code+'-'+year+'.xls')

In [6]:
driver=webdriver.Firefox()

In [90]:
#driver=webdriver.Firefox()
for code in codes:
    for year in years:
        try:
            driver.get('https://mnregaweb4.nic.in/netnrega/demand_emp_demand.aspx?file1=dmd&page1=s&lflag=eng&state_name=THE+DADRA+AND+NAGAR+HAVELI+AND+DAMAN+AND+DIU&state_code='+code+'&fin_year='+year+'&source=national&rbl=0&rblhpb=Persons&Digest=XLZYLM10qSfNxbVc8K5hQQ')
            excel_button=driver.find_element_by_link_text('Excel View')
            excel_button.click()
            change_file_location(code,year)
        except:
            continue

In [ ]:
states=['AN','AP','AR','AS','BR','CG','DD','DL','GA','GJ','HR','HP','JK','JH','KA','KL','MP','MH','MN','MG','MZ','NL','OR','PY','PB','RJ','SK','TN','TS','TR','UP','UK','WB']

In [71]:
import os
import pandas as pd
os.chdir('C:\\Users\\akhil\\Downloads')
files=os.listdir()
#files

In [68]:
#df=pd.read_excel('01-2013-2014.xlsx')
def process(df,file_name,folder):
    df['S.No'].apply(str).iat[0]='S.No'
    df['District'].iat[0]='District'
    df.columns = df.iloc[0]
    df.drop([0,1,2],inplace=True)
    df['Year']=file_name[3:12]
    df=df[df['District']!='Total']
    df=df[list(df.columns[1:])]
    df=pd.melt(df,id_vars=['District','Year'],value_vars=df.columns[1:len(df.columns)-1],var_name='Month',value_name='Persons')
    directory=os.getcwd()
    df['State']=folder
    return df
#df=process(df,'01-2013-2014.xlsx')
#df.to_excel('01-2013-2014.xlsx')

In [117]:
main_dir='C:\\Users\\akhil\\Downloads\\nrega_state_first_back_up'
os.chdir(main_dir)
folders_in_nrega=os.listdir()
final_data=pd.DataFrame()
for folder in folders_in_nrega:
    os.chdir(main_dir)
    state_dir=os.path.join(main_dir,folder)
    print(state_dir)
    os.chdir(state_dir)
    files=os.listdir()
    for f in files:
        try:
            df=pd.read_excel(f)  
            df=process(df,f,folder)
            final_data=final_data.append(df,sort=False)
            print(f)
        except:
            continue
        
final_data

C:\Users\akhil\Downloads\nrega_state_first_back_up\AN
01-2013-2014.xlsx
01-2014-2015.xlsx
01-2015-2016.xlsx
01-2017-2018.xlsx
01-2018-2019.xlsx
01-2019-2020.xlsx
01-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\AP
02-2013-2014.xlsx
02-2014-2015.xlsx
02-2015-2016.xlsx
02-2017-2018.xlsx
02-2018-2019.xlsx
02-2019-2020.xlsx
02-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\AR
03-2013-2014.xlsx
03-2014-2015.xlsx
03-2015-2016.xlsx
03-2017-2018.xlsx
03-2018-2019.xlsx
03-2019-2020.xlsx
03-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\AS
04-2013-2014.xlsx
04-2014-2015.xlsx
04-2015-2016.xlsx
04-2017-2018.xlsx
04-2018-2019.xlsx
04-2019-2020.xlsx
04-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\BR
05-2013-2014.xlsx
05-2014-2015.xlsx
05-2015-2016.xlsx
05-2017-2018.xlsx
05-2018-2019.xlsx
05-2019-2020.xlsx
05-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\CG
33-2013-2014.xlsx
33-2014-2015.xlsx
33-2015-2016.xlsx
33-2017-2018.xlsx
33-2018-2019.xlsx
33-2019-2020.xlsx
33-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\DD
08-2013-2014.xlsx
08-2014-2015.xlsx
08-2015-2016.xlsx
08-2017-2018.xlsx
08-2018-2019.xlsx
08-2019-2020.xlsx
08-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\DH
07-2013-2014.xlsx
07-2014-2015.xlsx
07-2015-2016.xlsx
07-2017-2018.xlsx
07-2018-2019.xlsx
07-2019-2020.xlsx
07-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\GA
10-2013-2014.xlsx
10-2014-2015.xlsx
10-2015-2016.xlsx
10-2017-2018.xlsx
10-2018-2019.xlsx
10-2019-2020.xlsx
10-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\GJ
11-2014-2015.xlsx
11-2017-2018.xlsx
11-2018-2019.xlsx
11-2019-2020.xlsx
11-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\HP
13-2013-2014.xlsx
13-2014-2015.xlsx
13-2015-2016.xlsx
13-2017-2018.xlsx
13-2018-2019.xlsx
13-2019-2020.xlsx
13-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\HR
12-2013-2014.xlsx
12-2014-2015.xlsx
12-2015-2016.xlsx
12-2017-2018.xlsx
12-2018-2019.xlsx
12-2019-2020.xlsx
12-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\JH
34-2013-2014.xlsx
34-2014-2015.xlsx
34-2015-2016.xlsx
34-2017-2018.xlsx
34-2018-2019.xlsx
34-2019-2020.xlsx
34-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\JK
14-2013-2014.xlsx
14-2014-2015.xlsx
14-2015-2016.xlsx
14-2017-2018.xlsx
14-2018-2019.xlsx
14-2019-2020.xlsx
14-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\KA
15-2013-2014.xlsx
15-2014-2015.xlsx
15-2015-2016.xlsx
15-2017-2018.xlsx
15-2018-2019.xlsx
15-2019-2020.xlsx
15-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\KL
16-2013-2014.xlsx
16-2014-2015.xlsx
16-2015-2016.xlsx
16-2017-2018.xlsx
16-2018-2019.xlsx
16-2019-2020.xlsx
16-2020-2021.xlsx
C:\Users\akhil\Downloads\nrega_state_first_back_up\LD

                     District       Year  Month Persons State
0                    NICOBARS  2013-2014  April     556    AN
1    NORTH AND MIDDLE ANDAMAN  2013-2014  April    4398    AN
2               SOUTH ANDAMAN  2013-2014  April     579    AN
3                    NICOBARS  2013-2014    May     449    AN
4    NORTH AND MIDDLE ANDAMAN  2013-2014    May    2443    AN
..                        ...        ...    ...     ...   ...
163                  PALAKKAD  2020-2021  March  106895    KL
164            PATHANAMTHITTA  2020-2021  March   37106    KL
165        THIRUVANANTHAPURAM  2020-2021  March  139066    KL
166                  THRISSUR  2020-2021  March   51050    KL
167                   WAYANAD  2020-2021  March   33759    KL

[23928 rows x 5 columns]

In [114]:
#os.chdir('C:\\Users\\akhil\\Downloads')
#f='19-2013-2014.xlsx'
#df=pd.read_excel(f)
def process_2(df,file_name,folder):
    df.columns = df.iloc[1]
    df.drop([0,1,2,3],inplace=True)
    df=df[df['District']!='Total']
    df=df[list(df.columns[2:])]
    df['Year']=f[3:12]
    df=pd.melt(df,id_vars=['District','Year'],value_vars=df.columns[1:len(df.columns)-1],var_name='Month',value_name='Persons')
    df['State']=folder
    return df
#process_2(df,f,'LD')

                District       Year      Month Persons State
0   LAKSHADWEEP DISTRICT  2013-2014      April     410    LD
1   LAKSHADWEEP DISTRICT  2013-2014        May     104    LD
2   LAKSHADWEEP DISTRICT  2013-2014       June     192    LD
3   LAKSHADWEEP DISTRICT  2013-2014       July      38    LD
4   LAKSHADWEEP DISTRICT  2013-2014     August      52    LD
5   LAKSHADWEEP DISTRICT  2013-2014  September     104    LD
6   LAKSHADWEEP DISTRICT  2013-2014    October      47    LD
7   LAKSHADWEEP DISTRICT  2013-2014   November     141    LD
8   LAKSHADWEEP DISTRICT  2013-2014   December      51    LD
9   LAKSHADWEEP DISTRICT  2013-2014    January      15    LD
10  LAKSHADWEEP DISTRICT  2013-2014   February      81    LD
11  LAKSHADWEEP DISTRICT  2013-2014      March     168    LD

In [115]:
main_dir='C:\\Users\\akhil\\Downloads\\second_half_K'
os.chdir(main_dir)
folders_in_nrega=os.listdir()
final_data_second=pd.DataFrame()
for folder in folders_in_nrega:
    os.chdir(main_dir)
    state_dir=os.path.join(main_dir,folder)
    print(state_dir)
    os.chdir(state_dir)
    files=os.listdir()
    for f in files:
        try:
            df=pd.read_excel(f)  
            df=process_2(df,f,folder)
            final_data_second=final_data_second.append(df,sort=False)
            print(f)
        except:
            continue
final_data_second

C:\Users\akhil\Downloads\second_half_K\LD
19-2013-2014.xlsx
19-2014-2015.xlsx
19-2015-2016.xlsx
19-2017-2018.xlsx
19-2018-2019.xlsx
19-2019-2020.xlsx
C:\Users\akhil\Downloads\second_half_K\MG
21-2013-2014.xlsx
21-2014-2015.xlsx
21-2015-2016.xlsx
21-2017-2018.xlsx
21-2018-2019.xlsx
21-2019-2020.xlsx
21-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\MH
18-2013-2014.xlsx
18-2014-2015.xlsx
18-2015-2016.xlsx
18-2017-2018.xlsx
18-2018-2019.xlsx
18-2019-2020.xlsx
18-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\MN
20-2013-2014.xlsx
20-2014-2015.xlsx
20-2015-2016.xlsx
20-2017-2018.xlsx
20-2018-2019.xlsx
20-2019-2020.xlsx
20-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\MP
17-2013-2014.xlsx
17-2014-2015.xlsx
17-2015-2016.xlsx
17-2017-2018.xlsx
17-2018-2019.xlsx
17-2019-2020.xlsx
17-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\MZ
22-2013-2014.xlsx
22-2014-2015.xlsx
22-2017-2018.xlsx
22-2018-2019.xlsx
22-2019-2020.xlsx
22-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\NL
23-2013-2014.xlsx
23-2014-2015.xlsx
23-2015-2016.xlsx
23-2017-2018.xlsx
23-2018-2019.xlsx
23-2019-2020.xlsx
23-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\OR
24-2013-2014.xlsx
24-2014-2015.xlsx
24-2015-2016.xlsx
24-2017-2018.xlsx
24-2018-2019.xlsx
24-2019-2020.xlsx
24-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\PB
26-2013-2014.xlsx
26-2014-2015.xlsx
26-2015-2016.xlsx
26-2017-2018.xlsx
26-2018-2019.xlsx
26-2019-2020.xlsx
26-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\PY
25-2013-2014.xlsx
25-2014-2015.xlsx
25-2015-2016.xlsx
25-2017-2018.xlsx
25-2018-2019.xlsx
25-2019-2020.xlsx
25-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\RJ
27-2013-2014.xlsx
27-2014-2015.xlsx
27-2015-2016.xlsx
27-2017-2018.xlsx
27-2018-2019.xlsx
27-2019-2020.xlsx
27-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\SK
28-2013-2014.xlsx
28-2014-2015.xlsx
28-2015-2016.xlsx
28-2017-2018.xlsx
28-2018-2019.xlsx
28-2019-2020.xlsx
28-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\TN
29-2013-2014.xlsx
29-2014-2015.xlsx
29-2015-2016.xlsx
29-2017-2018.xlsx
29-2018-2019.xlsx
29-2019-2020.xlsx
29-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\TR
30-2013-2014.xlsx
30-2014-2015.xlsx
30-2015-2016.xlsx
30-2017-2018.xlsx
30-2018-2019.xlsx
30-2019-2020.xlsx
30-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\TS
36-2013-2014.xlsx
36-2014-2015.xlsx
36-2015-2016.xlsx
36-2017-2018.xlsx
36-2018-2019.xlsx
36-2019-2020.xlsx
36-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\UK
35-2013-2014.xlsx
35-2014-2015.xlsx
35-2015-2016.xlsx
35-2017-2018.xlsx
35-2018-2019.xlsx
35-2019-2020.xlsx
C:\Users\akhil\Downloads\second_half_K\UP
31-2013-2014.xlsx
31-2014-2015.xlsx
31-2017-2018.xlsx
31-2018-2019.xlsx
31-2019-2020.xlsx
31-2020-2021.xlsx
C:\Users\akhil\Downloads\second_half_K\WB
32-2013-2014.xlsx
32-2014-2015.xlsx
32-2015-2016.xlsx
32-2017-2018.xlsx
32-2019-2020.xlsx
32-2020-2021.xlsx

                      District       Year   Month Persons State
0         LAKSHADWEEP DISTRICT  2013-2014   April     410    LD
1         LAKSHADWEEP DISTRICT  2013-2014     May     104    LD
2         LAKSHADWEEP DISTRICT  2013-2014    June     192    LD
3         LAKSHADWEEP DISTRICT  2013-2014    July      38    LD
4         LAKSHADWEEP DISTRICT  2013-2014  August      52    LD
..                         ...        ...     ...     ...   ...
271          PASCHIM MEDINIPUR  2020-2021   March   49236    WB
272            PURBA BARDHAMAN  2020-2021   March   51281    WB
273            PURBA MEDINIPUR  2020-2021   March   49851    WB
274                    PURULIA  2020-2021   March   27320    WB
275  SILIGURI MAHAKUMA PARISAD  2020-2021   March    7693    WB

[31344 rows x 5 columns]

In [116]:
main_dir='C:\\Users\\akhil\\Downloads\\nrega_state_16-17-final'
os.chdir(main_dir)
folders_in_nrega=os.listdir()
for folder in folders_in_nrega:
    os.chdir(main_dir)
    state_dir=os.path.join(main_dir,folder)
    print(state_dir)
    os.chdir(state_dir)
    files=os.listdir()
    for f in files:
        try:
            df=pd.read_excel(f)  
            df=process_2(df,f,folder)
            final_data_second=final_data_second.append(df,sort=False)
            print(f)
        except:
            continue
final_data_second

C:\Users\akhil\Downloads\nrega_state_16-17-final\AN
01-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\AP
02-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\AR
03-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\AS
04-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\BR
05-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\CG
33-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\DD
08-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\DH
07-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\GA
10-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\GJ
11-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\HP
13-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\HR
12-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\JH
34-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\JK
14-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\KA
15-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\KL
16-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\LD
19-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\MG
21-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\MH
18-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\MN
20-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\MP
17-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\MZ
22-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\NL
23-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\OR
24-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\PB
26-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\PY
25-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\RJ
27-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\SK
28-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\TN
29-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\TR
30-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\TS
36-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\UK
35-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\UP
31-2016-2017.xlsx
C:\Users\akhil\Downloads\nrega_state_16-17-final\WB
32-2016-2017.xlsx

                      District       Year   Month Persons State
0         LAKSHADWEEP DISTRICT  2013-2014   April     410    LD
1         LAKSHADWEEP DISTRICT  2013-2014     May     104    LD
2         LAKSHADWEEP DISTRICT  2013-2014    June     192    LD
3         LAKSHADWEEP DISTRICT  2013-2014    July      38    LD
4         LAKSHADWEEP DISTRICT  2013-2014  August      52    LD
..                         ...        ...     ...     ...   ...
235          PASCHIM BARDHAMAN  2016-2017   March  467093    WB
236          PASCHIM MEDINIPUR  2016-2017   March  361381    WB
237            PURBA MEDINIPUR  2016-2017   March  238425    WB
238                    PURULIA  2016-2017   March   64213    WB
239  SILIGURI MAHAKUMA PARISAD  2016-2017   March   10310    WB

[39588 rows x 5 columns]

In [118]:
final_data1=final_data.append(final_data_second,sort=False)
final_data1

                      District       Year  Month Persons State
0                     NICOBARS  2013-2014  April     556    AN
1     NORTH AND MIDDLE ANDAMAN  2013-2014  April    4398    AN
2                SOUTH ANDAMAN  2013-2014  April     579    AN
3                     NICOBARS  2013-2014    May     449    AN
4     NORTH AND MIDDLE ANDAMAN  2013-2014    May    2443    AN
..                         ...        ...    ...     ...   ...
235          PASCHIM BARDHAMAN  2016-2017  March  467093    WB
236          PASCHIM MEDINIPUR  2016-2017  March  361381    WB
237            PURBA MEDINIPUR  2016-2017  March  238425    WB
238                    PURULIA  2016-2017  March   64213    WB
239  SILIGURI MAHAKUMA PARISAD  2016-2017  March   10310    WB

[63516 rows x 5 columns]

In [122]:
final_data1=final_data1.sort_values(by=['State','District'])

In [123]:
final_data1.to_excel('MNREGA_Panel_data.xlsx')

In [144]:

"""
df_new=pd.DataFrame()
os.chdir(main_dir)
for folder in ['KL']:
    state_dir=os.path.join(main_dir,folder)
    print(state_dir)
    os.chdir(state_dir)
    files=os.listdir()
    for f in files:
        try:
            df=pd.read_excel(f)  
            df=process(df,f,folder)
            df_new=df_new.append(df,sort=False)
            print(f) 
        except:
            continue  
"""
print('Not Needed')

Not Needed

In [124]:
os.getcwd()

'C:\\Users\\akhil\\Downloads\\nrega_state_first_back_up\\LD'

In [6]:
main_dir='C:\\Users\\akhil\\Downloads'
os.chdir(main_dir)
df=pd.read_excel('MNREGA_Panel_data.xlsx')
df.Persons=df.Persons.apply(int)

In [128]:
df.to_excel('MNREGA_Panel_data.xlsx')

In [145]:
import pandas as pd

In [7]:
districts_df=df[['District','State']].drop_duplicates()

In [137]:
districts_df['uid']=districts_df['District']+districts_df['State']
districts_df

                        District State                          uid
0                       NICOBARS    AN                   NICOBARSAN
96      NORTH AND MIDDLE ANDAMAN    AN   NORTH AND MIDDLE ANDAMANAN
192                SOUTH ANDAMAN    AN              SOUTH ANDAMANAN
288                     ADILABAD    AP                   ADILABADAP
300                    ANANTAPUR    AP                  ANANTAPURAP
...                          ...   ...                          ...
63144          PASCHIM MEDINIPUR    WB          PASCHIM MEDINIPURWB
63228            PURBA BARDHAMAN    WB            PURBA BARDHAMANWB
63264            PURBA MEDINIPUR    WB            PURBA MEDINIPURWB
63348                    PURULIA    WB                    PURULIAWB
63432  SILIGURI MAHAKUMA PARISAD    WB  SILIGURI MAHAKUMA PARISADWB

[738 rows x 3 columns]

In [138]:
border_df=pd.read_csv('districts_correct.csv')
border_df
border_df['uid']=border_df['district']+border_df['states']

In [150]:
border_df.merge(districts_df,on='uid',how='outer').dropna(subset=['district']).to_csv('merged_file.csv')

In [140]:
districts_df.to_csv('740_list.csv')

In [147]:
border_df

,states,district,border,AN,AP,AR,AS,BR,CG,CH,...,RJ,SK,TN,TR,TS,UK,UP,WB,Unnamed: 39,uid
0,AN,NICOBARS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NICOBARSAN
1,AN,NORTH & MIDDLE ANDAMAN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,NORTH & MIDDLE ANDAMANAN
2,AN,SOUTH ANDAMAN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,SOUTH ANDAMANAN
3,AP,ANANTAPUR,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,ANANTAPURAP
4,AP,CHITTOOR,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,4,CHITTOORAP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,WB,PASCHIM MEDINIPUR,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,654,PASCHIM MEDINIPURWB
655,WB,PURBA MEDINIPUR,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,655,PURBA MEDINIPURWB
656,WB,PURULIYA,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,656,PURULIYAWB
657,WB,SOUTH TWENTY FOUR PARGANAS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,657,SOUTH TWENTY FOUR PARGANASWB
658,WB,UTTAR DINAJPUR,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,658,UTTAR DINAJPURWB

In [9]:
import pandas as pd
import os
main_dir='C:\\Users\\akhil\\Downloads'
os.chdir(main_dir)
df=pd.read_csv('merged_file (1).csv')
#df.District.value_counts()

In [12]:
df['uid2']=df['District_as_in_mnrega']+df['State_as_in_MNREGA']
districts_df['uid2']=districts_df['District']+districts_df['State']

,Unnamed: 0,states,district,border,AN,AP,AR,AS,BR,CG,...,UK,UP,WB,Unnamed: 39,uid,District_as_in_mnrega,State_as_in_MNREGA,uid2,District,State
0,0,AN,NICOBARS,0,0,0,0,0,0,0,...,0,0,0,0,NICOBARSAN,NICOBARS,AN,NICOBARSAN,NICOBARS,AN
1,1,AN,NORTH & MIDDLE ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,1,NORTH & MIDDLE ANDAMANAN,NORTH AND MIDDLE ANDAMAN,AN,NORTH AND MIDDLE ANDAMANAN,NORTH AND MIDDLE ANDAMAN,AN
2,2,AN,SOUTH ANDAMAN,0,0,0,0,0,0,0,...,0,0,0,2,SOUTH ANDAMANAN,SOUTH ANDAMAN,AN,SOUTH ANDAMANAN,SOUTH ANDAMAN,AN
3,3,AP,ANANTAPUR,1,0,1,0,0,0,0,...,0,0,0,3,ANANTAPURAP,ANANTAPUR,AP,ANANTAPURAP,ANANTAPUR,AP
4,4,AP,CHITTOOR,1,0,1,0,0,0,0,...,0,0,0,4,CHITTOORAP,CHITTOOR,AP,CHITTOORAP,CHITTOOR,AP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,654,WB,PASCHIM MEDINIPUR,1,0,0,0,0,0,0,...,0,0,1,654,PASCHIM MEDINIPURWB,PASCHIM MEDINIPUR,WB,PASCHIM MEDINIPURWB,PASCHIM MEDINIPUR,WB
622,655,WB,PURBA MEDINIPUR,1,0,0,0,0,0,0,...,0,0,1,655,PURBA MEDINIPURWB,PURBA MEDINIPUR,WB,PURBA MEDINIPURWB,PURBA MEDINIPUR,WB
623,656,WB,PURULIYA,1,0,0,0,0,0,0,...,0,0,1,656,PURULIYAWB,PURULIA,WB,PURULIAWB,PURULIA,WB
624,657,WB,SOUTH TWENTY FOUR PARGANAS,0,0,0,0,0,0,0,...,0,0,0,657,SOUTH TWENTY FOUR PARGANASWB,24 PARGANAS SOUTH,WB,24 PARGANAS SOUTHWB,24 PARGANAS SOUTH,WB
625,658,WB,UTTAR DINAJPUR,1,0,0,0,0,1,0,...,0,0,1,658,UTTAR DINAJPURWB,DINAJPUR UTTAR,WB,DINAJPUR UTTARWB,DINAJPUR UTTAR,WB