In [1]:
import pandas as pd
import os
os.chdir('C:\\Users\\akhil\\Downloads')
#df=pd.read_csv('nfhs4_data_pre_border.csv')

10

In [21]:
ts=df[df['OR']==1]
ts2=ts[ts['WB']==0]
df

,Unnamed: 0,states,district,District,Rural/Urban/Total,1. Population (female) age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered (%)(PHP),...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
0,5,AP,East Godavari,East Godavari,Total,69.0,21.8,927,"1,008",84.3,...,0,0,0,0,0,0,1,0,0,0
1,6,AP,Guntur,Guntur,Total,51.4,21.7,985,552,87.2,...,0,0,0,0,0,0,1,0,0,0
2,7,AP,Krishna,Krishna,Total,64.3,22.7,"1,032",993,78.4,...,0,0,0,0,0,0,1,0,0,0
3,8,AP,Kurnool,Kurnool,Total,56.6,29.4,"1,021",816,73.3,...,0,0,0,0,0,0,1,0,0,0
4,9,AP,Prakasam,Prakasam,Total,53.5,25.0,"1,016",799,68.9,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,648,WB,Koch Bihar,Koch Bihar,Total,73.7,26.3,"1,008","1,073",94.6,...,0,0,0,0,0,0,0,0,0,1
77,650,WB,Maldah,Maldah,Total,68.4,32.9,"1,019",881,93.0,...,0,0,0,0,0,0,0,0,0,1
78,651,WB,Murshidabad,Murshidabad,Total,70.8,31.8,"1,083","1,075",98.9,...,0,0,0,0,0,0,0,0,0,1
79,656,WB,Puruliya,Puruliya,Total,53.6,28.8,983,998,95.9,...,0,0,0,0,0,0,0,0,0,1
80,658,WB,Uttar Dinajpur,Uttar Dinajpur,Total,60.1,36.8,"1,023",937,88.5,...,0,0,0,0,0,0,0,0,0,1

In [76]:
def clean_df(df):
    for i in df.columns:
        for j in range(df.shape[0]):
            if(not isinstance(df[i].iat[j],str) and df[i].iat[j]):
                df[i].iat[j]=abs(df[i].iat[j])
            if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan'):
                df[i].iat[j]=None
    return df  
def clean_df2(df):
    for i in df.columns:
        for j in range(df.shape[0]):
            if(isinstance(df[i].iat[j],str)):
                df[i].iat[j]=df[i].iat[j].replace(',','')
                df[i].iat[j]=df[i].iat[j].replace('(','')
                df[i].iat[j]=df[i].iat[j].replace(')','')
                df[i].iat[j]=df[i].iat[j].replace('<','')
                df[i].iat[j]=df[i].iat[j].replace('>','')
                df[i].iat[j]=df[i].iat[j].replace('=','')
            if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan' or df[i].iat[j]==' *'):
                df[i].iat[j]=None
    return df 
def get_avg(df,l,state):
    l2=[state]
    new_df=df.drop(['Rural/Urban/Total','states'],axis=1)
    for i in l:
        l2.append(new_df[i].dropna().apply(float).apply(abs).mean())
    cols=['state']
    cols.extend(l)
    temp=pd.DataFrame([l2],columns=cols)
    return temp
def get_avg2(df,l,state):
    l2=[state]
    new_df=df.drop(['Rural/Urban/Total','states'],axis=1)
    for i in l:
        t=new_df[i].dropna().apply(float).apply(abs)
        t1=new_df[[i,'Population']].dropna()
        t=t*t1['Population']
        l2.append(t.sum()/t1['Population'].sum())
    cols=['state']
    cols.extend(l)
    temp=pd.DataFrame([l2],columns=cols)
    return temp
    
def get_avg2_state(df,l,state):
    l2=[state]
    new_df=df.drop(['category','state'],axis=1)
    for i in l:
        t=new_df[i].dropna().apply(float).apply(abs)
        t1=new_df[[i,'Population']].dropna()
        t=t*t1['Population']
        l2.append(t.sum()/t1['Population'].sum())
    cols=['state']
    cols.extend(l)
    temp=pd.DataFrame([l2],columns=cols)
    return temp

def bar_graph1(df1,df2,df3,df4,l,state):
    nfhs4_bord=get_avg(df1,l,'NFHS4 Border')
    nfhs5_bord=get_avg(df2,l,'NFHS5 Border')
    wb_5=get_avg(df3,l,state+' NFHS5')
    wb_4=get_avg(df4,l,state+' NFHS4')
    final_df=nfhs4_bord.append([nfhs5_bord,wb_4,wb_5])
    final_df=final_df.set_index(['states'])
    final_df=final_df.T

    return final_df

def bar_graph2(df1,df4,l,state):
    nfhs4_bord=get_avg2(df1,l,'NFHS4 Border')
    wb_4=get_avg2(df4,l,state+' NFHS4')
    final_df=nfhs4_bord.append([wb_4])
    final_df=final_df.set_index(['state'])
    final_df=final_df.T

    return final_df
def bar_graph2_state(df1,df4,l,state):
    nfhs4_bord=get_avg2_state(df1,l,'NFHS4 Border')
    wb_4=get_avg2_state(df4,l,state+' NFHS4')
    final_df=nfhs4_bord.append([wb_4])
    final_df=final_df.set_index(['state'])
    final_df=final_df.T

    return final_df

In [13]:
graph1=['1. Population (female) age 6 years and above who ever attended school (%)(PHP)',
 '2. Population below age 15 years (%)(PHP)',
 '3. Sex ratio of the total population (females per 1,000 males)(PHP)',
 '4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)',
 '5. Children under age 5 years whose birth was registered (%)(PHP)',
 '6. Households with electricity (%)(PHP)',
 '7. Households with an improved drinking-water source1 (%)(PHP)',
 '8. Households using improved sanitation facility2 (%)(PHP)',
 '9. Households using clean fuel for cooking3 (%)(PHP)',
 '10. Households using iodized salt (%)(PHP)']
graph2=['11. Households with any usual member covered by a health scheme or health insurance (%)(PHP)',
 '12. Women who are literate (%)(CW(Age 15-49))',
 '13. Men who are literate (%)(CW(Age 15-49))',
 '14. Women with 10 or more years of schooling (%)(CW(Age 15-49))']
#new3 not present at district level
graph3=['18. Any method4 (%)(CUFMP(CW Age 15-49))',
 '19. Any modern method4 (%)(CUFMP(CW Age 15-49))',
 '20. Female sterilization (%)(CUFMP(CW Age 15-49))',
 '21. Male sterilization (%)(CUFMP(CW Age 15-49))',
 '22. IUD/PPIUD (%)(CUFMP(CW Age 15-49))',
 '23. Pill (%)(CUFMP(CW Age 15-49))',
 '24. Condom (%)(CUFMP(CW Age 15-49))']
graph4=['25. Total unmet need (%)(UNPF(CW Age 15-49))',
 '26. Unmet need for spacing (%)(UNPF(CW Age 15-49))']
graph5=['27. Health worker ever talked to female non-users about family planning (%)(QFPS)',
 '28. Current users ever told about side effects of current method6 (%)(QFPS)']
graph6=[ '29. Mothers who had antenatal check-up in the first trimester (%)(MCH-MC(LB 5Years))',
 '30. Mothers who had at least 4 antenatal care visits (%)(MCH-MC(LB 5Years))',
 '31. Mothers whose last birth was protected against neonatal tetanus7 (%)(MCH-MC(LB 5Years))',
 '32. Mothers who consumed iron folic acid for 100 days or more when they were pregnant (%)(MCH-MC(LB 5Years))',
 '33. Mothers who had full antenatal care8 (%)(MCH-MC(LB 5Years))',
 '(MCP) card (%)(MCH-MC(LB 5Years))',
 'personnel within 2 days of delivery (%)(MCH-MC(LB 5Years))']
#new8=['37. Registered pregnancies for which the mother received a Mother and Child Protection (MCP) card (%)(DC(LB 5Years))',
 #'38. Mothers who received postnatal care from a doctor/nurse/LHV/ANM/midwife/other health personnel within 2 days of delivery (%)(DC(LB 5Years))']
graph7=['40. Institutional births (%)(DC(LB 5Years))',
 '41. Institutional births in public facility (%)(DC(LB 5Years))',
 '42. Home delivery conducted by skilled health personnel (out of total deliveries) (%)(DC(LB 5Years))',
 '43. Births assisted by a doctor/nurse/LHV/ANM/other health personnel (%)(DC(LB 5Years))',
 '44. Births delivered by caesarean section (%)(DC(LB 5Years))',
 '45. Births in a private health facility delivered by caesarean section (%)(DC(LB 5Years))',
 '46. Births in a public health facility delivered by caesarean section (%)(DC(LB 5Years))',
 ]
graph8=['48. Children age 12-23 months who have received BCG (%)(CIVAS)',
 '49. Children age 12-23 months who have received 3 doses of polio vaccine (%)(CIVAS)',
 '50. Children age 12-23 months who have received 3 doses of DPT vaccine (%)(CIVAS)',
 '51. Children age 12-23 months who have received measles vaccine (%)(CIVAS)',
 '52. Children age 12-23 months who have received 3 doses of Hepatitis B vaccine (%)(CIVAS)',
 '53. Children age 9-59 months who received a vitamin A dose in last 6 months (%)(CIVAS)',
 '54. Children age 12-23 months who received most of the vaccinations in public health facility (%)(CIVAS)',
 '55. Children age 12-23 months who received most of the vaccinations in private health facility (%)(CIVAS)']
graph9=[
 '59. Children with diarrhoea in the last 2 weeks taken to a health facility (%)(TCD(CU5Years))',
 '57. Children with diarrhoea in the last 2 weeks who received oral rehydration salts (ORS) (%)(TCD(CU5Years))',
 'facility (%)(TCD(CU5Years))']
 #new12= graph12 data not available
graph10=['62. Children under age 3 years breastfed within one hour of birth9 (%)(CFPNSC)',
 '63. Children under age 6 months exclusively breastfed10 (%)(CFPNSC)',
 '65. Breastfeeding children age 6-23 months receiving an adequate diet10,11 (%)(CFPNSC)',
 '67. Total children age 6-23 months receiving an adequate diet10,11 (%)(CFPNSC)',
 '68. Children under 5 years who are stunted (height-for-age)12 (%)(CFPNSC)',
 '69. Children under 5 years who are wasted (weight-for-height)12 (%)(CFPNSC)',
 '70. Children under 5 years who are severely wasted (weight-for-height)13 (%)(CFPNSC)',
 '71. Children under 5 years who are underweight (weight-for-age)12 (%)(CFPNSC)',
 '72. Women whose Body Mass Index (BMI) is below normal (BMI < 18.5 kg/m2)14 (%)(NSW(Age 15-49))',
 '73. Men whose Body Mass Index (BMI) is below normal (BMI < 18.5 kg/m2) (%)(NSW(Age 15-49))',
 '74. Women who are overweight or obese (BMI ò 25.0 kg/m2)14 (%)(NSW(Age 15-49))',
 '75. Men who are overweight or obese (BMI ò 25.0 kg/m2) (%)(NSW(Age 15-49))']

In [14]:
df_wb_border=df[(df['states']=='BR')|(df['states']=='JH')|(df['states']=='AS')|(df['states']=='SK')]
df_ts_border=df[(df['states']=='AP')|(df['states']=='KA')|(df['states']=='CG')|(df['states']=='MH')]
df_or_border=df[(df['states']=='AP')|(df['states']=='JH')|(df['states']=='CG')]
df_border=df[(df['states']=='AP')|(df['states']=='JH')|(df['states']=='CG')|(df['states']=='MH')|(df['states']=='AS')|(df['states']=='SK')|(df['states']=='BR')|(df['states']=='UP')|(df['states']=='HR')]
df_up_hr=df[(df['states']=='UP')|(df['states']=='HR')]
df_dl=df[df['states']=='DL']
df_or=df[df['states']=='OR']
df_ts=df[df['states']=='TS']
df_wb=df[df['states']=='WB']
df_non_imp=df[(df['states']=='OR') | (df['states']=='WB') | (df['states']=='TS')|(df['states']=='DL')]
df_imp=df[(df['states']=='OR') | (df['states']=='WB') | (df['states']=='TS')|(df['states']=='DL')]

In [3]:
df_or

,Unnamed: 0,states,district,District,Rural/Urban/Total,1. Population (female) age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered (%)(PHP),...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
51,418,OR,Baleshwar,Baleshwar,Total,74.1,26.5,"1,089",969,90.3,...,0,0,0,0,0,0,0,0,0,1
52,419,OR,Bargarh,Bargarh,Total,69.6,24.2,"1,020",929,88.1,...,0,0,0,0,0,0,0,0,0,0
53,425,OR,Gajapati,Gajapati,Total,53.3,31.8,"1,026",800,82.9,...,0,0,0,0,0,0,0,0,0,0
54,426,OR,Ganjam,Ganjam,Total,64.5,25.7,"1,111",801,93.1,...,0,0,0,0,0,0,0,0,0,0
55,429,OR,Jharsuguda,Jharsuguda,Total,70.9,22.3,995,"1,045",94.0,...,0,0,0,0,0,0,0,0,0,0
56,430,OR,Kalahandi,Kalahandi,Total,50.9,28.9,"1,011",898,79.7,...,0,0,0,0,0,0,0,0,0,0
57,433,OR,Kendujhar,Kendujhar,Total,64.1,28.8,"1,065",843,66.0,...,0,0,0,0,0,0,0,0,0,0
58,435,OR,Koraput,Koraput,Total,46.2,31.0,"1,019",872,83.9,...,0,0,0,0,0,0,0,0,0,0
59,436,OR,Malkangiri,Malkangiri,Total,44.5,34.3,"1,027",925,75.3,...,0,0,0,0,0,0,0,0,0,0
60,437,OR,Mayurbhanj,Mayurbhanj,Total,59.3,27.4,"1,032",974,79.5,...,0,0,0,0,0,0,0,0,0,1
61,438,OR,Nabarangapur,Nabarangapur,Total,48.6,33.2,"1,036","1,077",65.9,...,0,0,0,0,0,0,0,0,0,0
62,440,OR,Nuapada,Nuapada,Total,57.2,30.9,"1,044",999,66.7,...,0,0,0,0,0,0,0,0,0,0
63,442,OR,Rayagada,Rayagada,Total,43.8,29.7,"1,074",967,79.1,...,0,0,0,0,0,0,0,0,0,0
64,445,OR,Sundargarh,Sundargarh,Total,65.1,25.9,"1,065","1,038",73.5,...,0,0,0,0,0,0,0,0,0,0

In [11]:
clean_df2(df_up_hr)
clean_df2(df_dl)
df_dl_border=df_up_hr
df_temp1=bar_graph2(df_dl_border,df_dl,graph1,'Delhi')
df_temp2=bar_graph2(df_dl_border,df_dl,graph2,'Delhi')
df_temp3=bar_graph2(df_dl_border,df_dl,graph3,'Delhi')
df_temp4=bar_graph2(df_dl_border,df_dl,graph4,'Delhi')
df_temp5=bar_graph2(df_dl_border,df_dl,graph5,'Delhi')
df_temp6=bar_graph2(df_dl_border,df_dl,graph6,'Delhi')
df_temp7=bar_graph2(df_dl_border,df_dl,graph7,'Delhi')
df_temp8=bar_graph2(df_dl_border,df_dl,graph8,'Delhi')
df_temp9=bar_graph2(df_dl_border,df_dl,graph9,'Delhi')
df_temp10=bar_graph2(df_dl_border,df_dl,graph10,'Delhi')
df_delhi=df_temp1.append([df_temp2,df_temp3,df_temp4,df_temp5,df_temp6,df_temp7,df_temp8,df_temp9,df_temp10])
df_delhi.to_csv('delhi_border_districts_nfhs4_3.csv')

In [62]:
clean_df2(df_wb)
clean_df2(df_wb_border)
df_temp1=bar_graph2(df_wb_border,df_wb,graph1,'West Bengal')
df_temp2=bar_graph2(df_wb_border,df_wb,graph2,'West Bengal')
df_temp3=bar_graph2(df_wb_border,df_wb,graph3,'West Bengal')
df_temp4=bar_graph2(df_wb_border,df_wb,graph4,'West Bengal')
df_temp5=bar_graph2(df_wb_border,df_wb,graph5,'West Bengal')
df_temp6=bar_graph2(df_wb_border,df_wb,graph6,'West Bengal')
df_temp7=bar_graph2(df_wb_border,df_wb,graph7,'West Bengal')
df_temp8=bar_graph2(df_wb_border,df_wb,graph8,'West Bengal')
df_temp9=bar_graph2(df_wb_border,df_wb,graph9,'West Bengal')
df_temp10=bar_graph2(df_wb_border,df_wb,graph10,'West Bengal')

df_west=df_temp1.append([df_temp2,df_temp3,df_temp4,df_temp5,df_temp6,df_temp7,df_temp8,df_temp9,df_temp10])
df_west.to_csv('wb_border_districts_nfhs4_3.csv')

In [70]:
clean_df2(df_ts)
clean_df2(df_ts_border)
df_temp1=bar_graph2(df_ts_border,df_ts,graph1,'Telangana')
df_temp2=bar_graph2(df_ts_border,df_ts,graph2,'Telangana')
df_temp3=bar_graph2(df_ts_border,df_ts,graph3,'Telangana')
df_temp4=bar_graph2(df_ts_border,df_ts,graph4,'Telangana')
df_temp5=bar_graph2(df_ts_border,df_ts,graph5,'Telangana')
df_temp6=bar_graph2(df_ts_border,df_ts,graph6,'Telangana')
df_temp7=bar_graph2(df_ts_border,df_ts,graph7,'Telangana')
df_temp8=bar_graph2(df_ts_border,df_ts,graph8,'Telangana')
df_temp9=bar_graph2(df_ts_border,df_ts,graph9,'Telangana')
df_temp10=bar_graph2(df_ts_border,df_ts,graph10,'Telangana')

df_telangana=df_temp1.append([df_temp2,df_temp3,df_temp4,df_temp5,df_temp6,df_temp7,df_temp8,df_temp9,df_temp10])
df_telangana.to_csv('ts_border_districts_nfhs4_2.csv')

In [71]:
clean_df2(df_or)
clean_df2(df_or_border)
df_temp1=bar_graph2(df_or_border,df_or,graph1,'Orissa')
df_temp2=bar_graph2(df_or_border,df_or,graph2,'Orissa')
df_temp3=bar_graph2(df_or_border,df_or,graph3,'Orissa')
df_temp4=bar_graph2(df_or_border,df_or,graph4,'Orissa')
df_temp5=bar_graph2(df_or_border,df_or,graph5,'Orissa')
df_temp6=bar_graph2(df_or_border,df_or,graph6,'Orissa')
df_temp7=bar_graph2(df_or_border,df_or,graph7,'Orissa')
df_temp8=bar_graph2(df_or_border,df_or,graph8,'Orissa')
df_temp9=bar_graph2(df_or_border,df_or,graph9,'Orissa')
df_temp10=bar_graph2(df_or_border,df_or,graph10,'Orissa')

df_orissa=df_temp1.append([df_temp2,df_temp3,df_temp4,df_temp5,df_temp6,df_temp7,df_temp8,df_temp9,df_temp10])
df_orissa.to_csv('orissa_border_districts_nfhs4_3.csv')

In [15]:
clean_df2(df_border)
clean_df2(df_non_imp)
df_temp1=bar_graph2(df_border,df_non_imp,graph1,'Non Implemented')
df_temp2=bar_graph2(df_border,df_non_imp,graph2,'Non Implemented')
df_temp3=bar_graph2(df_border,df_non_imp,graph3,'Non Implemented')
df_temp4=bar_graph2(df_border,df_non_imp,graph4,'Non Implemented')
df_temp5=bar_graph2(df_border,df_non_imp,graph5,'Non Implemented')
df_temp6=bar_graph2(df_border,df_non_imp,graph6,'Non Implemented')
df_temp7=bar_graph2(df_border,df_non_imp,graph7,'Non Implemented')
df_temp8=bar_graph2(df_border,df_non_imp,graph8,'Non Implemented')
df_temp9=bar_graph2(df_border,df_non_imp,graph9,'Non Implemented')
df_temp10=bar_graph2(df_border,df_non_imp,graph10,'Non Implemented')


df_all=df_temp1.append([df_temp2,df_temp3,df_temp4,df_temp5,df_temp6,df_temp7,df_temp8,df_temp9,df_temp10])
df_all.to_csv('all_border_districts_nfhs4_7.csv')

In [22]:
df_temp10=bar_graph2(df_border,df_non_imp,cols,'Non Implemented')

In [24]:
df_temp10.to_csv('all_border_districts_nfhs_8.csv')

In [276]:
df=pd.read_csv('nfhs4.csv')
df=df[df['category']=='Total']

In [277]:
pops=pd.read_csv('state_populations.csv')
pops=pops.rename({'State':'state'},axis=1)
pops
df=df.merge(pops,on='state')

In [278]:
df.Population=df.Population.apply(float)

In [259]:
df_border2.Population

1      49577103.0
3     104099452.0
24     25351462.0
Name: Population, dtype: float64

In [280]:
cols=list(df.columns)
cols=cols[3:len(cols)-2]

In [279]:
df_border=df[(df['state']=='AP')|(df['state']=='JH')|(df['state']=='CG')|(df['state']=='MH')|(df['state']=='AS')|(df['state']=='SK')|(df['state']=='BR')|(df['state']=='UP')|(df['state']=='HR')]
df_border2=df[(df['state']=='AP')|(df['state']=='HR')|(df['state']=='BR')|(df['state']=='JH')]
df_non_imp=df[(df['state']=='OR') | (df['state']=='WB') | (df['state']=='TS')|(df['state']=='DL')]
df_imp=df[(df['state']!='OR') & (df['state']!='WB') & (df['state']!='TS')&(df['state']!='DL')]

In [205]:
import re
def clean_df2(df):
    for i in df.columns:
        for j in range(df.shape[0]):
            if(isinstance(df[i].iat[j],str)):
                df[i].iat[j]=re.sub('[^A-Za-z0-9]+', '', df[i].iat[j])
            if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan' or df[i].iat[j]==' *' or df[i].iat[j]=='' ):
                df[i].iat[j]=None
    return df 
def clean_df3(df):
    for i in df.columns:
        for j in range(df.shape[0]):
            if(isinstance(df[i].iat[j],str)):
                df[i].iat[j]=df[i].iat[j].replace(',','')
                df[i].iat[j]=df[i].iat[j].replace('(','')
                df[i].iat[j]=df[i].iat[j].replace(')','')
                
            if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan' or df[i].iat[j]==' *'):
                df[i].iat[j]=None
    return df 
    
def get_avg2_state(df,l,state):
    l2=[state]
    new_df=df.drop(['category','state'],axis=1)
    for i in l:
        t=new_df[i].dropna().apply(float).apply(abs)
        t1=new_df[[i,'Population']].dropna()
        t=t*t1['Population']
        l2.append(t.sum()/t1['Population'].sum())
    cols=['state']
    cols.extend(l)
    temp=pd.DataFrame([l2],columns=cols)
    return temp

def bar_graph2_state(df1,df4,l,state):
    nfhs4_bord=get_avg2_state(df1,l,'NFHS4 Border')
    wb_4=get_avg2_state(df4,l,state+' NFHS4')
    final_df=nfhs4_bord.append([wb_4])
    final_df=final_df.set_index(['state'])
    final_df=final_df.T
    return final_df

In [281]:
clean_df3(df_border2)
clean_df3(df_non_imp)
df_temp10=bar_graph2_state(df_border2,df_non_imp,cols,'Non Implemented')
df_temp10.head(20)

state,NFHS4 Border,Non Implemented NFHS4
1. Population (female) age 6 years and above who ever attended school (%),60.348336,71.063124
2. Population below age 15 years (%),33.281267,25.579164
"3. Sex ratio of the total population (females per 1,000 males)",1020.602690,1001.670408
"4. Sex ratio at birth for children born in the last five years (females per 1,000 males)",915.271204,923.574656
5. Children under age 5 years whose birth was registered (%),70.519154,90.124878
6. Households with electricity (%),76.152310,93.263530
7. Households with an improved drinking-water source1 (%),88.285856,88.800689
8. Households using improved sanitation facility2 (%),38.173437,47.979596
9. Households using clean fuel for cooking3 (%),32.420043,39.681098
10. Households using iodized salt (%),91.320674,94.867216
11. Households with any usual member covered by a health scheme or health insurance (%),27.011646,41.280408
12. Women who are literate (%),57.257585,69.991826
13. Men who are literate (%),80.000302,83.004904
14. Women with 10 or more years of schooling (%),29.157300,32.293193
15. Women age 20-24 years married before age 18 years (%),36.800686,31.605272
16. Men age 25-29 years married before age 21 years (%),28.630210,16.301198
17. Total fertility rate (children per woman),2.745942,1.868051
18. Women age 15-19 years who were already mothers or pregnant at the time of the survey (%),11.310078,12.946527
19. Infant mortality rate (IMR),42.544157,30.994210
20. Under-five mortality rate (U5MR),51.369665,36.536630

In [261]:
df_temp10.to_csv('with_selected_states_nfhs4.csv')

In [157]:
df_temp10.to_csv('all_imp_states_vs_non_imp_states.csv')

In [216]:
clean_df3(df_non_imp)
t=df_non_imp[df_non_imp.columns[14]]*df_non_imp['Population']
t.sum()/df_non_imp['Population'].sum()

69.991826491192

In [222]:
t=df_border['11. Households with any usual member covered by a health scheme or health insurance (%)']*df_border['Population']
t.sum()/df_border['Population'].sum()

18.440372389099842

In [207]:
df_temp10.head(20)

state,NFHS4 Border,Non Implemented NFHS4
1. Population (female) age 6 years and above who ever attended school (%),68.105296,71.063124
2. Population below age 15 years (%),29.277295,25.579164
"3. Sex ratio of the total population (females per 1,000 males)",990.171155,1001.670408
"4. Sex ratio at birth for children born in the last five years (females per 1,000 males)",919.756720,923.574656
5. Children under age 5 years whose birth was registered (%),79.887204,90.124878
6. Households with electricity (%),85.800885,93.263530
7. Households with an improved drinking-water source1 (%),90.529674,88.800689
8. Households using improved sanitation facility2 (%),47.259421,47.979596
9. Households using clean fuel for cooking3 (%),42.671984,39.681098
10. Households using iodized salt (%),93.110553,94.867216
11. Households with any usual member covered by a health scheme or health insurance (%),23.484977,41.280408
12. Women who are literate (%),67.546949,69.991826
13. Men who are literate (%),85.371337,83.004904
14. Women with 10 or more years of schooling (%),35.946210,32.293193
15. Women age 20-24 years married before age 18 years (%),25.702611,31.605272
16. Men age 25-29 years married before age 21 years (%),22.355084,16.301198
17. Total fertility rate (children per woman),2.288073,1.868051
18. Women age 15-19 years who were already mothers or pregnant at the time of the survey (%),7.032183,12.946527
19. Infant mortality rate (IMR),40.608177,30.994210
20. Under-five mortality rate (U5MR),49.549859,36.536630

    Unnamed: 0             state   Population
0            0                AN     380581.0
1           12                AP   49577103.0
2           24                AR    1383727.0
3           35                AS   31205576.0
4           47                BR  104099452.0
5           59                CD    1055450.0
6           71                CG   25545198.0
7           83                DD     585764.0
8           94                DL   16787941.0
9          106                GA    1458545.0
10         118                GJ   60439692.0
11         130                HR   25351462.0
12         142                HP    6864602.0
13         154                LD      64429.0
14         178                DN      52076.0
15         182  State Unassigned          NaN
16         188                JK   12267032.0
17         200                JH   32988134.0
18         212                KA   61095297.0
19         224                KL   33406061.0
20         238                MP   72626809.0
21         250                MH  112374333.0
22         262                MN    2570390.0
23         274                ML    2966889.0
24         285                MZ    1097206.0
25         297                NL    1978502.0
26         308                OR   41974219.0
27         320                PY    1247953.0
28         332                PB   27743338.0
29         344                RJ   68548437.0
30         356                SK     610577.0
31         366                TN   72147030.0
32         378                TS   35003674.0
33         390                TR    3673917.0
34         401                UP  199812341.0
35         413                UK   10086292.0
36         425                WB   91276115.0

In [272]:
df=pd.read_csv('with_selected_states_nfhs4.csv')
df

,Buckets1,Buckets,Health Indicators,NFHS4 Border,Non Implemented NFHS4
0,Population and Household Profile,Population and Household Profile,Population (female) age 6 years and above who ...,60.209833,71.063124
1,NaN,Population and Household Profile,Population below age 15 years (%),33.351520,25.579164
2,NaN,Population and Household Profile,Sex ratio of the total population (females per...,102.403047,100.167041
3,NaN,Population and Household Profile,Sex ratio at birth for children born in the la...,91.458413,92.357466
4,NaN,Population and Household Profile,Children under age 5 years whose birth was reg...,71.536127,90.124878
...,...,...,...,...,...
109,NaN,Tobacco Use and Alcohol Consumption among Adul...,Men who use any kind of tobacco (%),41.622710,49.826426
110,NaN,Tobacco Use and Alcohol Consumption among Adul...,Women who consume alcohol (%),0.241224,2.639206
111,NaN,Tobacco Use and Alcohol Consumption among Adul...,Men who consume alcohol (%),29.938475,35.489634
112,NaN,Tobacco Use and Alcohol Consumption among Adul...,Women who tried to stop smoking or using tobac...,30.312576,26.265953
113,NaN,Tobacco Use and Alcohol Consumption among Adul...,Men who tried to stop smoking or using tobacco...,30.383287,25.792690

In [273]:
buckets=df.Buckets.unique()
mainl=[]
for i in buckets:
    temp=df[df['Buckets']==i]
    l=[i,temp['NFHS4 Border'].mean(),temp['Non Implemented NFHS4'].mean()]
    mainl.append(l)
df_new=pd.DataFrame(mainl,columns=['Bucket','NFHS4 Border Implemented','NFHS4 Non Implemented'])

In [275]:
df_new.to_csv('selected_border_imp_states_vs_non_imp_bucket_means.csv')

In [274]:
df_new

,Bucket,NFHS4 Border Implemented,NFHS4 Non Implemented
0,Population and Household Profile,69.038812,74.388380
1,Health Insurance/Financing Scheme Coverage,29.538187,41.280408
2,Characteristics of Adults (15-19 Years),55.411241,61.763308
3,Marriage and Fertility,19.709897,15.680262
4,"Infant and Child Mortality Rates (per 1,000 li...",46.580446,33.765420
5,Current use of Family Planning Methods (curren...,17.778148,24.371114
6,Unmet Need for Family Planning (currently Marr...,10.904016,6.609132
7,Quality of Family Planning Services,25.803817,30.543669
8,Maternal and Child Health,42.223484,52.145246
9,Average out of pocket expenditure per delivery...,1902.539642,6435.534153
10,Delivery Care (for Births in the 5 Years befor...,43.747362,49.893930
11,Child Vaccinations and Vitamin A Supplementation,70.086408,76.327211
12,Treatment of Childhood Diseases,35.450350,40.819286
13,Child Feeding Practices and Nutritional Status...,26.470998,29.160983
14,Nutritional Status for Adults (Age 15-49 Years),20.915569,20.459496
15,Anaemia among Children and Adults,54.023117,49.375860
16,Blood Sugar Level among Adults (age 15-49 years),4.858211,6.598164
17,Hypertension among Adults (age 15-49 years),3.326891,3.771601
18,Women Age 15-49 Years Who Have Ever Undergone ...,12.612682,9.659287
19,Knowledge of HIV/AIDS among Adults (age 15-49 ...,43.951896,48.559649
20,Women’s Empowerment and Gender Based Violence ...,40.641418,43.276658
21,Tobacco Use and Alcohol Consumption among Adul...,22.498314,24.817412

In [471]:
df=pd.read_csv('Added (4).csv')
df

,Unnamed: 0,state,District,Year,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),6. Deaths in the last 3 years registered with the civil authority (%)(PHP),...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
0,0,Telangana,BhadradriKothagudem,2020,64.2,23.6,"1,038","1,072",96.9,89.2,...,0,0,0,0,0,0,0,0,0,0
1,1,Bihar,Bhagalpur,2020,65.1,35.1,986,879,74.1,26.4,...,0,0,0,0,0,0,0,0,0,0
2,2,Gujarat,Dahod,2020,59.6,35.6,"1,047","1,013",95.1,91.3,...,0,0,0,0,0,0,0,0,0,0
3,3,Telangana,KomaramBheemAsifabad,2020,96.6,18.9,"1,171","1,135",100.0,96.2,...,0,0,0,0,0,0,0,0,0,0
4,4,WestBengal,PurbaBarddhaman,2020,72.1,27.2,946,"1,175",96.4,82.1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,577,West Bengal,Puruliya,2016,53.6,28.8,983,998,95.9,na,...,0,0,0,0,0,0,0,0,0,1
578,578,West Bengal,Haora,2016,79.6,23.8,"1,069",901,96.5,na,...,0,0,0,0,0,0,0,0,0,0
579,579,West Bengal,Kolkata,2016,82.5,20.2,921,"1,020",95.6,na,...,0,0,0,0,0,0,0,0,0,0
580,580,West Bengal,South Twenty Four Parganas,2016,76.5,26.7,"1,036","1,066",98.5,na,...,0,0,0,0,0,0,0,0,0,0
581,581,West Bengal,Purba Medinipur,2016,78.8,24.7,991,998,99.0,na,...,0,0,0,0,0,0,0,0,0,1

In [224]:
df.columns

Index(['Unnamed: 0', 'state', 'District', 'Year',
       '1. Female population age 6 years and above who ever attended school (%)(PHP)',
       '2. Population below age 15 years (%)(PHP)',
       '3. Sex ratio of the total population (females per 1,000 males)(PHP)',
       '4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)',
       '5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP)',
       '6. Deaths in the last 3 years registered with the civil authority (%)(PHP)',
       ...
       'PB', 'PY', 'RJ', 'SK', 'TN', 'TR', 'TS', 'UK', 'UP', 'WB'],
      dtype='object', length=146)

In [473]:
cols=df.columns[4:108]

In [474]:
cols

Index(['1. Female population age 6 years and above who ever attended school (%)(PHP)',
       '2. Population below age 15 years (%)(PHP)',
       '3. Sex ratio of the total population (females per 1,000 males)(PHP)',
       '4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)',
       '5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP)',
       '6. Deaths in the last 3 years registered with the civil authority (%)(PHP)',
       '7. Population living in households with electricity (%)(PHP)',
       '8. Population living in households with an improved drinking-water source1 (%)(PHP)',
       '9. Population living in households that use an improved sanitation facility2 (%)(PHP)',
       '10. Households using clean fuel for cooking3 (%)(PHP)',
       ...
       '95. Mildly elevated blood pressure (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)(SCW(Age 30-49))',
       '96. Moderately or severely elevated blood pressure (Systolic ≥160mm of Hg and/or Diastolic ≥100mm of Hg) (%)(SCW(Age 30-49))',
       '95. Elevated blood pressure (Systolic ≥140 mm of Hg and/or Diastolic ≥90 mm of Hg) or taking medicine to control blood pressure(%)(SCW(Age 30-49))',
       '98.Ever undergone a screening test for cervical cancer (%)(TUACA(Age>=150))',
       '99.Ever undergone a breast examination for breast cancer (%)(TUACA(Age>=150))',
       '100. Ever undergone an oral cavity examination for oral cancer (%)(TUACA(Age>=150))',
       '101. Women age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150))',
       '102. Men age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150))',
       '103. Women age 15 years and above who consume alcohol (%)(TUACA(Age>=150))',
       '104. Men age 15 years and above who consume alcohol (%)(TUACA(Age>=150))'],
      dtype='object', length=104)

In [645]:
for i in cols:
    for j in range(df.shape[0]):
        if(isinstance(df[i].iat[j],str)):
            df[i].iat[j]=df[i].iat[j].replace(',','')
            df[i].iat[j]=df[i].iat[j].replace('(','')
            df[i].iat[j]=df[i].iat[j].replace(')','')
            df[i].iat[j]=df[i].iat[j].replace('-','')
            if(df[i].iat[j]!='na' and df[i].iat[j]!='*' and df[i].iat[j]!='nan' and df[i].iat[j]!=' *'):
                df[i].iat[j]=float(df[i].iat[j])
    for j in range(df.shape[0]):
        if(isinstance(df[i].iat[j],int) or isinstance(df[i].iat[j],float)):
            df[i].iat[j]=abs(df[i].iat[j])   
        if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan' or df[i].iat[j]==' *'):
                df[i].iat[j]=None

In [476]:
df.to_csv('NFHS4_NFHS5_DISTRICT_DATA_Processed.csv')

In [40]:
df=pd.read_csv('NFHS4_NFHS5_DISTRICT_DATA_Processed.csv')

In [28]:
df

,state,District,Year,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),6. Deaths in the last 3 years registered with the civil authority (%)(PHP),7. Population living in households with electricity (%)(PHP),...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
0,Maharashtra,Ahmednagar,2016,75.4,25.8,905,843,93.4,na,92.2,...,0,0,0,0,0,0,0,0,0,0
1,Maharashtra,Ahmednagar,2020,77.4,23.0,967,845,99.3,85.7,94.5,...,0,0,0,0,0,0,0,0,0,0
2,Mizoram,Aizawl,2016,95.9,27.6,1064,902,96.9,na,99.7,...,0,0,0,0,0,0,0,0,0,0
3,Mizoram,Aizawl,2020,97.8,25.1,1052,1042,99.3,86.2,99.7,...,0,0,0,0,0,0,0,0,0,0
4,Maharashtra,Akola,2016,83.0,25.0,959,878,98.7,na,92.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,Karnataka,Yadgir,2020,51.9,29.2,1020,922,92.7,74.2,99.0,...,0,0,0,0,0,0,1,0,0,0
576,Maharashtra,Yavatmal,2016,76.1,24.7,969,863,95.8,na,89.6,...,0,0,0,0,0,0,1,0,0,0
577,Maharashtra,Yavatmal,2020,51.9,29.2,1020,922,92.7,74.2,99.0,...,0,0,0,0,0,0,1,0,0,0
578,Nagaland,Zunheboto,2016,86.5,29.4,936,747,58.9,na,99.4,...,0,0,0,0,0,0,0,0,0,0
579,Nagaland,Zunheboto,2020,87.4,22.2,1132,1207,51.6,51,99.4,...,0,0,0,0,0,0,0,0,0,0

In [31]:
temp=df[df.columns[3:108]]

In [32]:
temp

,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),6. Deaths in the last 3 years registered with the civil authority (%)(PHP),7. Population living in households with electricity (%)(PHP),8. Population living in households with an improved drinking-water source1 (%)(PHP),9. Population living in households that use an improved sanitation facility2 (%)(PHP),10. Households using clean fuel for cooking3 (%)(PHP),...,96. Moderately or severely elevated blood pressure (Systolic ≥160mm of Hg and/or Diastolic ≥100mm of Hg) (%)(SCW(Age 30-49)),95. Elevated blood pressure (Systolic ≥140 mm of Hg and/or Diastolic ≥90 mm of Hg) or taking medicine to control blood pressure(%)(SCW(Age 30-49)),98.Ever undergone a screening test for cervical cancer (%)(TUACA(Age>=150)),99.Ever undergone a breast examination for breast cancer (%)(TUACA(Age>=150)),100. Ever undergone an oral cavity examination for oral cancer (%)(TUACA(Age>=150)),101. Women age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150)),102. Men age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150)),103. Women age 15 years and above who consume alcohol (%)(TUACA(Age>=150)),104. Men age 15 years and above who consume alcohol (%)(TUACA(Age>=150)),states
0,75.4,25.8,905,843,93.4,na,92.2,86.1,50.8,57.8,...,7.1,na,52.8,28.9,14.4,na,na,na,na,MH
1,77.4,23.0,967,845,99.3,85.7,94.5,90.0,79.5,77.4,...,6.3,25.3,1.3,0.2,0.2,14.7,37.7,0.2,10.5,MH
2,95.9,27.6,1064,902,96.9,na,99.7,93.3,90.9,87.5,...,6.0,na,25.7,10.2,33.7,na,na,na,na,MZ
3,97.8,25.1,1052,1042,99.3,86.2,99.7,98.3,96.1,95.4,...,6.8,33.6,10.8,4.7,1.6,54.7,68.7,1,25.8,MZ
4,83.0,25.0,959,878,98.7,na,92.8,96.7,38.0,23.4,...,1.4,na,32.7,9.3,11.0,na,na,na,na,MH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,51.9,29.2,1020,922,92.7,74.2,99.0,95.2,37.4,48.8,...,4.5,18,0.0,0.1,0.2,14.6,31.8,1.1,19.4,KA
576,76.1,24.7,969,863,95.8,na,89.6,80.8,43.7,37.2,...,3.5,na,49.2,35.9,30.9,na,na,na,na,MH
577,51.9,29.2,1020,922,92.7,74.2,99.0,95.2,37.4,48.8,...,4.5,18,0.0,0.1,0.2,14.6,31.8,1.1,19.4,MH
578,86.5,29.4,936,747,58.9,na,99.4,88.7,81.1,12.8,...,3.1,na,14.3,2.0,8.6,na,na,na,na,NL
579,87.4,22.2,1132,1207,51.6,51,99.4,91.0,88.9,18.6,...,11.8,41.2,0.2,0.4,0.7,8,48.9,0.2,21.3,NL

In [310]:
t1=temp.set_index(['District'])
t2=t1.T

In [316]:
t2=t2.reset_index()

In [420]:
temp

,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),6. Deaths in the last 3 years registered with the civil authority (%)(PHP),7. Population living in households with electricity (%)(PHP),8. Population living in households with an improved drinking-water source1 (%)(PHP),9. Population living in households that use an improved sanitation facility2 (%)(PHP),10. Households using clean fuel for cooking3 (%)(PHP),...,98.Ever undergone a screening test for cervical cancer (%)(TUACA(Age>=150)),99.Ever undergone a breast examination for breast cancer (%)(TUACA(Age>=150)),100. Ever undergone an oral cavity examination for oral cancer (%)(TUACA(Age>=150)),101. Women age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150)),102. Men age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150)),103. Women age 15 years and above who consume alcohol (%)(TUACA(Age>=150)),104. Men age 15 years and above who consume alcohol (%)(TUACA(Age>=150)),states,border,AN
0,75.4,25.8,905,843,93.4,na,92.2,86.1,50.8,57.8,...,52.8,28.9,14.4,na,na,na,na,MH,0,0
1,77.4,23.0,967,845,99.3,85.7,94.5,90.0,79.5,77.4,...,1.3,0.2,0.2,14.7,37.7,0.2,10.5,MH,0,0
2,95.9,27.6,1064,902,96.9,na,99.7,93.3,90.9,87.5,...,25.7,10.2,33.7,na,na,na,na,MZ,1,0
3,97.8,25.1,1052,1042,99.3,86.2,99.7,98.3,96.1,95.4,...,10.8,4.7,1.6,54.7,68.7,1,25.8,MZ,1,0
4,83.0,25.0,959,878,98.7,na,92.8,96.7,38.0,23.4,...,32.7,9.3,11.0,na,na,na,na,MH,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,51.9,29.2,1020,922,92.7,74.2,99.0,95.2,37.4,48.8,...,0.0,0.1,0.2,14.6,31.8,1.1,19.4,KA,1,0
576,76.1,24.7,969,863,95.8,na,89.6,80.8,43.7,37.2,...,49.2,35.9,30.9,na,na,na,na,MH,1,0
577,51.9,29.2,1020,922,92.7,74.2,99.0,95.2,37.4,48.8,...,0.0,0.1,0.2,14.6,31.8,1.1,19.4,MH,1,0
578,86.5,29.4,936,747,58.9,na,99.4,88.7,81.1,12.8,...,14.3,2.0,8.6,na,na,na,na,NL,0,0
579,87.4,22.2,1132,1207,51.6,51,99.4,91.0,88.9,18.6,...,0.2,0.4,0.7,8,48.9,0.2,21.3,NL,0,0

In [423]:
temp['UID']=temp['District']+temp['states']+temp['Year'].apply(str)
temp['UID']

0      AhmednagarMH2016
1      AhmednagarMH2020
2          AizawlMZ2016
3          AizawlMZ2020
4           AkolaMH2016
             ...
575        YadgirKA2020
576      YavatmalMH2016
577      YavatmalMH2020
578     ZunhebotoNL2016
579     ZunhebotoNL2020
Name: UID, Length: 580, dtype: object

In [343]:
new=temp.T

In [345]:
new.to_csv('transpose_nfhs5_4.csv')

In [346]:
new=pd.read_csv('transpose_nfhs5_4.csv')

In [42]:
temp['UID']=temp['District']+temp['states']+temp['Year'].apply(str)

In [41]:
temp=df
#temp=temp.set_index(['District','Year','states'],append=True)

In [62]:
temp.columns[3:107]

Index(['1. Female population age 6 years and above who ever attended school (%)(PHP)',
       '2. Population below age 15 years (%)(PHP)',
       '3. Sex ratio of the total population (females per 1,000 males)(PHP)',
       '4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)',
       '5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP)',
       '6. Deaths in the last 3 years registered with the civil authority (%)(PHP)',
       '7. Population living in households with electricity (%)(PHP)',
       '8. Population living in households with an improved drinking-water source1 (%)(PHP)',
       '9. Population living in households that use an improved sanitation facility2 (%)(PHP)',
       '10. Households using clean fuel for cooking3 (%)(PHP)',
       ...
       '95. Mildly elevated blood pressure (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)(SCW(Age 30-49))',
       '96. Moderately or severely elevated blood pressure (Systolic ≥160mm of Hg and/or Diastolic ≥100mm of Hg) (%)(SCW(Age 30-49))',
       '95. Elevated blood pressure (Systolic ≥140 mm of Hg and/or Diastolic ≥90 mm of Hg) or taking medicine to control blood pressure(%)(SCW(Age 30-49))',
       '98.Ever undergone a screening test for cervical cancer (%)(TUACA(Age>=150))',
       '99.Ever undergone a breast examination for breast cancer (%)(TUACA(Age>=150))',
       '100. Ever undergone an oral cavity examination for oral cancer (%)(TUACA(Age>=150))',
       '101. Women age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150))',
       '102. Men age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150))',
       '103. Women age 15 years and above who consume alcohol (%)(TUACA(Age>=150))',
       '104. Men age 15 years and above who consume alcohol (%)(TUACA(Age>=150))'],
      dtype='object', length=104)

In [43]:
new=temp.melt(id_vars=['UID','District','Year','states'],value_vars=temp.columns[3:107])
len(new.variable.unique())

104

In [44]:
new=new.drop(['UID'],axis=1)
new

,District,Year,states,variable,value
0,Ahmednagar,2016,MH,1. Female population age 6 years and above who...,75.4
1,Ahmednagar,2020,MH,1. Female population age 6 years and above who...,77.4
2,Aizawl,2016,MZ,1. Female population age 6 years and above who...,95.9
3,Aizawl,2020,MZ,1. Female population age 6 years and above who...,97.8
4,Akola,2016,MH,1. Female population age 6 years and above who...,83
...,...,...,...,...,...
60315,Yadgir,2020,KA,104. Men age 15 years and above who consume al...,19.4
60316,Yavatmal,2016,MH,104. Men age 15 years and above who consume al...,na
60317,Yavatmal,2020,MH,104. Men age 15 years and above who consume al...,19.4
60318,Zunheboto,2016,NL,104. Men age 15 years and above who consume al...,na
60319,Zunheboto,2020,NL,104. Men age 15 years and above who consume al...,21.3

In [45]:
new['UID2']=new['District']+new['states']#+new['variable']+new['Year'].apply(str)

In [47]:
new1=new.set_index(['UID2','District','Year','states','variable'])

In [46]:
#new=new.drop_duplicates('UID2')
new.District.value_counts()

Aurangabad                416
Raigarh                   312
Bilaspur                  312
Bijapur                   312
Hamirpur                  312
                         ...
Mahabubnagar              104
Sepahijala                104
Komaram Bheem Asifabad    104
Warangal Urban            104
DimaHasao                 104
Name: District, Length: 316, dtype: int64

In [49]:
temp1=new1.unstack(2)
temp1

                                                                                  value  \
Year                                                                               2016
UID2         District   states variable
AhmednagarMH Ahmednagar MH     1. Female population age 6 years and above who ...  75.4
                               10. Households using clean fuel for cooking3 (%...  57.8
                               100. Ever undergone an oral cavity examination ...  14.4
                               101. Women age 15 years and above who use any k...    na
                               102. Men age 15 years and above who use any kin...    na
...                                                                                 ...
ZunhebotoNL  Zunheboto  NL     95. Elevated blood pressure (Systolic ≥140 mm o...    na
                               95. Mildly elevated blood pressure (Systolic 14...    na
                               96. Moderately or severely elevated blood press...   3.1
                               98.Ever undergone a screening test for cervical...  14.3
                               99.Ever undergone a breast examination for brea...     2


Year                                                                               2020
UID2         District   states variable
AhmednagarMH Ahmednagar MH     1. Female population age 6 years and above who ...  77.4
                               10. Households using clean fuel for cooking3 (%...  77.4
                               100. Ever undergone an oral cavity examination ...   0.2
                               101. Women age 15 years and above who use any k...  14.7
                               102. Men age 15 years and above who use any kin...  37.7
...                                                                                 ...
ZunhebotoNL  Zunheboto  NL     95. Elevated blood pressure (Systolic ≥140 mm o...  41.2
                               95. Mildly elevated blood pressure (Systolic 14...  29.2
                               96. Moderately or severely elevated blood press...  11.8
                               98.Ever undergone a screening test for cervical...   0.2
                               99.Ever undergone a breast examination for brea...   0.4

[33384 rows x 2 columns]

In [ ]:
temp

In [82]:
temp1.to_csv('transpose_.csv')

In [53]:
temp1

,District,states,variable,2016,2020
0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4
1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4
2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2
3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7
4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7
...,...,...,...,...,...
33379,Zunheboto,NL,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,41.2
33380,Zunheboto,NL,95. Mildly elevated blood pressure (Systolic 1...,NaN,29.2
33381,Zunheboto,NL,96. Moderately or severely elevated blood pres...,3.1,11.8
33382,Zunheboto,NL,98.Ever undergone a screening test for cervica...,14.3,0.2
33383,Zunheboto,NL,99.Ever undergone a breast examination for bre...,2.0,0.4

In [52]:
temp1=pd.read_csv('transpose_nfhs_final.csv')

In [586]:
temp2020=temp1[['District','variable','states','2020']]
temp2020['UID']=temp2020['District']+temp2020['states']+temp2020['variable']
temp2020.drop_duplicates()

,District,variable,states,2020,UID
0,Ahmednagar,1. Female population age 6 years and above who...,MH,NaN,AhmednagarMH1. Female population age 6 years a...
1,Ahmednagar,1. Female population age 6 years and above who...,MH,77.4,AhmednagarMH1. Female population age 6 years a...
2,Aizawl,1. Female population age 6 years and above who...,MZ,NaN,AizawlMZ1. Female population age 6 years and a...
3,Aizawl,1. Female population age 6 years and above who...,MZ,97.8,AizawlMZ1. Female population age 6 years and a...
4,Akola,1. Female population age 6 years and above who...,MH,NaN,AkolaMH1. Female population age 6 years and ab...
...,...,...,...,...,...
60523,Yadgir,104. Men age 15 years and above who consume al...,KA,19.4,YadgirKA104. Men age 15 years and above who co...
60524,Yavatmal,104. Men age 15 years and above who consume al...,MH,NaN,YavatmalMH104. Men age 15 years and above who ...
60525,Yavatmal,104. Men age 15 years and above who consume al...,MH,19.4,YavatmalMH104. Men age 15 years and above who ...
60526,Zunheboto,104. Men age 15 years and above who consume al...,NL,NaN,ZunhebotoNL104. Men age 15 years and above who...
60527,Zunheboto,104. Men age 15 years and above who consume al...,NL,21.3,ZunhebotoNL104. Men age 15 years and above who...

In [587]:
temp2020=temp2020.dropna()

In [588]:
temp2016=temp1[['District','variable','states','2016']]
temp2016['UID']=temp2016['District']+temp2016['states']+temp2016['variable']
temp2016=temp2016.dropna()
final=temp2020.merge(temp2016[['UID','2016']],on=['UID'],how='inner')
final

,District,variable,states,2020,UID,2016
0,Ahmednagar,1. Female population age 6 years and above who...,MH,77.4,AhmednagarMH1. Female population age 6 years a...,75.4
1,Aizawl,1. Female population age 6 years and above who...,MZ,97.8,AizawlMZ1. Female population age 6 years and a...,95.9
2,Akola,1. Female population age 6 years and above who...,MH,97.8,AkolaMH1. Female population age 6 years and ab...,83
3,Alappuzha,1. Female population age 6 years and above who...,KL,97.8,AlappuzhaKL1. Female population age 6 years an...,96.9
4,Amravati,1. Female population age 6 years and above who...,MH,97.8,AmravatiMH1. Female population age 6 years and...,78.3
...,...,...,...,...,...,...
26099,Wokha,104. Men age 15 years and above who consume al...,NL,27.2,WokhaNL104. Men age 15 years and above who con...,na
26100,Y.S.R.,104. Men age 15 years and above who consume al...,AP,27.2,Y.S.R.AP104. Men age 15 years and above who co...,na
26101,Yadgir,104. Men age 15 years and above who consume al...,KA,19.4,YadgirKA104. Men age 15 years and above who co...,na
26102,Yavatmal,104. Men age 15 years and above who consume al...,MH,19.4,YavatmalMH104. Men age 15 years and above who ...,na
26103,Zunheboto,104. Men age 15 years and above who consume al...,NL,21.3,ZunhebotoNL104. Men age 15 years and above who...,na

In [589]:
final.District.value_counts()

Aurangabad                    416
Nalanda                       208
Raigarh                       208
Hamirpur                      208
Bilaspur                      208
                             ...
Ganderbal                     104
Raichur                       104
Reasi                         104
Thane                         104
South Twenty Four Parganas    104
Name: District, Length: 243, dtype: int64

In [580]:
final1=final.dropna(subset=['2020'])

In [590]:
final1=final.drop_duplicates(['UID'])

In [591]:
final1.District.value_counts()

Nagpur                         104
Gaya                           104
Koppal                         104
Sri Potti Sriramulu Nellore    104
Pathanamthitta                 104
                              ...
Uttar Dinajpur                 104
Ganderbal                      104
Raichur                        104
Reasi                          104
South Twenty Four Parganas     104
Name: District, Length: 243, dtype: int64

In [584]:
final1

,District,variable,states,2020,UID,2016
0,Ahmednagar,1. Female population age 6 years and above who...,MH,NaN,AhmednagarMH1. Female population age 6 years a...,75.4
2,Aizawl,1. Female population age 6 years and above who...,MZ,NaN,AizawlMZ1. Female population age 6 years and a...,95.9
4,Akola,1. Female population age 6 years and above who...,MH,NaN,AkolaMH1. Female population age 6 years and ab...,83
6,Alappuzha,1. Female population age 6 years and above who...,KL,NaN,AlappuzhaKL1. Female population age 6 years an...,96.9
8,Amravati,1. Female population age 6 years and above who...,MH,NaN,AmravatiMH1. Female population age 6 years and...,78.3
...,...,...,...,...,...,...
62183,Y.S.R.,104. Men age 15 years and above who consume al...,AP,NaN,Y.S.R.AP104. Men age 15 years and above who co...,na
62185,YadadriBhuvanagiri,104. Men age 15 years and above who consume al...,TS,27.2,YadadriBhuvanagiriTS104. Men age 15 years and ...,NaN
62186,Yadgir,104. Men age 15 years and above who consume al...,KA,NaN,YadgirKA104. Men age 15 years and above who co...,na
62188,Yavatmal,104. Men age 15 years and above who consume al...,MH,NaN,YavatmalMH104. Men age 15 years and above who ...,na
62190,Zunheboto,104. Men age 15 years and above who consume al...,NL,NaN,ZunhebotoNL104. Men age 15 years and above who...,na

In [571]:
#final1.to_csv('transpose_data_correct.csv')

In [83]:
#new=new.reset_index()
temp1=pd.read_csv('transpose_nfhs_Final.csv')
temp1.drop_duplicates()

,District,states,variable,2016,2020
0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4
1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4
2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2
3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7
4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7
...,...,...,...,...,...
33379,Zunheboto,NL,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,41.2
33380,Zunheboto,NL,95. Mildly elevated blood pressure (Systolic 1...,NaN,29.2
33381,Zunheboto,NL,96. Moderately or severely elevated blood pres...,3.1,11.8
33382,Zunheboto,NL,98.Ever undergone a screening test for cervica...,14.3,0.2
33383,Zunheboto,NL,99.Ever undergone a breast examination for bre...,2.0,0.4

In [84]:
temp1.District.value_counts()

Raigarh       208
Bijapur       208
Aurangabad    208
Bilaspur      208
Hamirpur      208
             ...
Akola         104
Chittoor      104
Mandya        104
Gadchiroli    104
The Dangs     104
Name: District, Length: 316, dtype: int64

In [331]:
df=pd.read_csv('transpose_data_correct2.csv')

In [442]:
temp1.District.value_counts()

Raigarh       208
Aurangabad    208
Bilaspur      208
Hamirpur      208
Bijapur       208
             ...
Ribhoi        104
Sirmaur       104
Satara        104
Thoubal       104
Akola         104
Name: District, Length: 318, dtype: int64

In [330]:
318*104

33072

In [529]:
df['UID']=df['District']+df['variable']
df.drop_duplicates(['UID'])

,Unnamed: 0,District,variable,states,2016,2020,UID
0,0,Ahmednagar,1. Female population age 6 years and above who...,MH,75.4,77.4,Ahmednagar1. Female population age 6 years and...
2,2,Aizawl,1. Female population age 6 years and above who...,MZ,95.9,97.8,Aizawl1. Female population age 6 years and abo...
4,4,Akola,1. Female population age 6 years and above who...,MH,83,97.8,Akola1. Female population age 6 years and abov...
6,6,Alappuzha,1. Female population age 6 years and above who...,KL,96.9,97.8,Alappuzha1. Female population age 6 years and ...
8,8,Amravati,1. Female population age 6 years and above who...,MH,78.3,97.8,Amravati1. Female population age 6 years and a...
...,...,...,...,...,...,...,...
60519,60519,Y.S.R.,104. Men age 15 years and above who consume al...,AP,na,27.2,Y.S.R.104. Men age 15 years and above who cons...
60521,60521,YadadriBhuvanagiri,104. Men age 15 years and above who consume al...,TS,NaN,27.2,YadadriBhuvanagiri104. Men age 15 years and ab...
60522,60522,Yadgir,104. Men age 15 years and above who consume al...,KA,na,19.4,Yadgir104. Men age 15 years and above who cons...
60524,60524,Yavatmal,104. Men age 15 years and above who consume al...,MH,na,19.4,Yavatmal104. Men age 15 years and above who co...
60526,60526,Zunheboto,104. Men age 15 years and above who consume al...,NL,na,21.3,Zunheboto104. Men age 15 years and above who c...

In [530]:
new=df.drop_duplicates(['UID']).drop(['UID'],axis=1)
new

,Unnamed: 0,District,variable,states,2016,2020
0,0,Ahmednagar,1. Female population age 6 years and above who...,MH,75.4,77.4
2,2,Aizawl,1. Female population age 6 years and above who...,MZ,95.9,97.8
4,4,Akola,1. Female population age 6 years and above who...,MH,83,97.8
6,6,Alappuzha,1. Female population age 6 years and above who...,KL,96.9,97.8
8,8,Amravati,1. Female population age 6 years and above who...,MH,78.3,97.8
...,...,...,...,...,...,...
60519,60519,Y.S.R.,104. Men age 15 years and above who consume al...,AP,na,27.2
60521,60521,YadadriBhuvanagiri,104. Men age 15 years and above who consume al...,TS,NaN,27.2
60522,60522,Yadgir,104. Men age 15 years and above who consume al...,KA,na,19.4
60524,60524,Yavatmal,104. Men age 15 years and above who consume al...,MH,na,19.4
60526,60526,Zunheboto,104. Men age 15 years and above who consume al...,NL,na,21.3

In [531]:
new.to_csv('final_transpose_nfhs4_5_new_2.csv')

In [466]:
"""
District    Variable   2020    2016 
"""
df

,Unnamed: 0,District,states,variable,2016,2020,UID
0,0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar1. Female population age 6 years and...
1,1,Ahmednagar,MH,1. Female population age 6 years and above who...,NaN,NaN,Ahmednagar1. Female population age 6 years and...
2,2,Aizawl,MZ,1. Female population age 6 years and above who...,95.9,97.8,Aizawl1. Female population age 6 years and abo...
3,3,Aizawl,MZ,1. Female population age 6 years and above who...,NaN,NaN,Aizawl1. Female population age 6 years and abo...
4,4,Akola,MH,1. Female population age 6 years and above who...,83,97.8,Akola1. Female population age 6 years and abov...
...,...,...,...,...,...,...,...
60523,60523,Yadgir,KA,104. Men age 15 years and above who consume al...,NaN,NaN,Yadgir104. Men age 15 years and above who cons...
60524,60524,Yavatmal,MH,104. Men age 15 years and above who consume al...,na,19.4,Yavatmal104. Men age 15 years and above who co...
60525,60525,Yavatmal,MH,104. Men age 15 years and above who consume al...,NaN,NaN,Yavatmal104. Men age 15 years and above who co...
60526,60526,Zunheboto,NL,104. Men age 15 years and above who consume al...,na,21.3,Zunheboto104. Men age 15 years and above who c...
60527,60527,Zunheboto,NL,104. Men age 15 years and above who consume al...,NaN,NaN,Zunheboto104. Men age 15 years and above who c...

In [464]:
new.District.value_counts()

Nagpur                        104
Munger                        104
Anand                         104
Siddipet                      104
Sepahijala                    104
                             ...
Jalgaon                       104
Ukhrul                        104
DevbhumiDwarka                104
Solan                         104
South Twenty Four Parganas    104
Name: District, Length: 331, dtype: int64

In [35]:
df=pd.read_csv('NFHS4_NFHS5_DISTRICT_DATA_Processed.csv')

In [36]:
ay_imp=[]
post=[]
for i in range(df.shape[0]):
    if(df['states'].iat[i]!='OR') and (df['states'].iat[i]!='WB') and (df['states'].iat[i]!='DL')and (df['states'].iat[i]!='TS'):
        ay_imp.append(1)
    else:
        ay_imp.append(0)
    if(df['Year'].iat[i]==2016):
        post.append(0)
    else :
        post.append(1)
df['ay_imp']=ay_imp
df['post']=post
df['int_ay']=df['ay_imp']*df['post']

In [37]:
df['date']=df['Year'].apply(str)

In [38]:
df['date']='01-01-'+df['date']
df['date']

0      01-01-2016
1      01-01-2020
2      01-01-2016
3      01-01-2020
4      01-01-2016
          ...
575    01-01-2020
576    01-01-2016
577    01-01-2020
578    01-01-2016
579    01-01-2020
Name: date, Length: 580, dtype: object

In [39]:
df['date']=pd.to_datetime(df['date'])

In [354]:
df

,Unnamed: 0,Unnamed: 0.1,state,District,Year,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),...,TN,TR,TS,UK,UP,WB,ay_imp,post,int_ay,date
0,511,511,Maharashtra,Ahmednagar,2016,75.4,25.8,905,843,93.4,...,0,0,0,0,0,0,1,0,0,01-01-2016
1,40,40,Maharashtra,Ahmednagar,2020,77.4,23.0,967,845,99.3,...,0,0,0,0,0,0,1,1,1,01-01-2020
2,537,537,Mizoram,Aizawl,2016,95.9,27.6,1064,902,96.9,...,0,0,0,0,0,0,1,0,0,01-01-2016
3,270,270,Mizoram,Aizawl,2020,97.8,25.1,1052,1042,99.3,...,0,0,0,0,0,0,1,1,1,01-01-2020
4,490,490,Maharashtra,Akola,2016,83.0,25.0,959,878,98.7,...,0,0,0,0,0,0,1,0,0,01-01-2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,206,206,Karnataka,Yadgir,2020,51.9,29.2,1020,922,92.7,...,0,0,1,0,0,0,1,1,1,01-01-2020
578,499,499,Maharashtra,Yavatmal,2016,76.1,24.7,969,863,95.8,...,0,0,1,0,0,0,1,0,0,01-01-2016
579,237,237,Maharashtra,Yavatmal,2020,51.9,29.2,1020,922,92.7,...,0,0,1,0,0,0,1,1,1,01-01-2020
580,545,545,Nagaland,Zunheboto,2016,86.5,29.4,936,747,58.9,...,0,0,0,0,0,0,1,0,0,01-01-2016
581,288,288,Nagaland,Zunheboto,2020,87.4,22.2,1132,1207,51.6,...,0,0,0,0,0,0,1,1,1,01-01-2020

In [55]:
for i in cols:
    for j in range(df.shape[0]):
        if(isinstance(df[i].iat[j],str)):
            df[i].iat[j]=df[i].iat[j].replace(',','')
            df[i].iat[j]=df[i].iat[j].replace('(','')
            df[i].iat[j]=df[i].iat[j].replace(')','')
            df[i].iat[j]=df[i].iat[j].replace('-','')
            if(df[i].iat[j]!='na' and df[i].iat[j]!='*' and df[i].iat[j]!='nan' and df[i].iat[j]!=' *'):
                df[i].iat[j]=float(df[i].iat[j])
    for j in range(df.shape[0]):
        if(isinstance(df[i].iat[j],int) or isinstance(df[i].iat[j],float)):
            df[i].iat[j]=abs(df[i].iat[j])   
        if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan' or df[i].iat[j]==' *'):
                df[i].iat[j]=None

In [633]:

temp=df[['District','date','12. Households with any usual member covered under a health insurance/financing scheme (%)(PHP)','int_ay','Year']]
temp=temp.dropna(subset=['District'])
temp.date=pd.to_datetime(temp.date)
temp=temp.set_index(['District','date'])
from linearmodels import PanelOLS

mod = PanelOLS(temp['12. Households with any usual member covered under a health insurance/financing scheme (%)(PHP)'],temp['int_ay'],entity_effects=True,time_effects=True)
res = mod.fit(cluster_entity=True,cov_type='clustered')
res

                                                                 PanelOLS Estimation Summary
=============================================================================================================================================================
Dep. Variable:     12. Households with any usual member covered under a health insurance/financing scheme (%)(PHP)   R-squared:                        0.0366
Estimator:                                                                                                PanelOLS   R-squared (Between):              0.2645
No. Observations:                                                                                              582   R-squared (Within):               0.1094
Date:                                                                                             Sat, Apr 03 2021   R-squared (Overall):              0.2681
Time:                                                                                                     13:00:39   Log-likelihood                   -2114.1
Cov. Estimator:                                                                                          Clustered
                                                                                                                     F-statistic:                      9.4503
Entities:                                                                                                      331   P-value                           0.0023
Avg Obs:                                                                                                    1.7583   Distribution:                   F(1,249)
Min Obs:                                                                                                    1.0000
Max Obs:                                                                                                    4.0000   F-statistic (robust):             15.004
                                                                                                                     P-value                           0.0001
Time periods:                                                                                                    2   Distribution:                   F(1,249)
Avg Obs:                                                                                                    291.00
Min Obs:                                                                                                    264.00
Max Obs:                                                                                                    318.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
int_ay         15.721     4.0587     3.8735     0.0001      7.7276      23.715
==============================================================================

F-test for Poolability: 3.5004
P-value: 0.0000
Distribution: F(331,249)

Included effects: Entity, Time
PanelEffectsResults, id: 0x17354d1f850

In [616]:
res.params
res.pvalues
res.tstats

int_ay    3.873518
Name: tstat, dtype: float64

In [54]:
cols=list(df.columns[3:107])

In [53]:
cols[0]

'1. Female population age 6 years and above who ever attended school (%)(PHP)'

In [56]:
from linearmodels import PanelOLS
import numpy as np
mainl=[]
for i in cols:
    try:
        temp=df[['District','date',i,'int_ay']]
        #temp=temp.dropna(subset=['District'])
        #temp.date=pd.to_datetime(temp.date)
        temp=temp.set_index(['District','date'])
        temp=temp.dropna()
        temp['const']=1
        print(temp.shape[0])
        mod = PanelOLS(temp[i].astype('float64'),temp[['int_ay','const']],entity_effects=True,time_effects=True)
        res = mod.fit(cluster_entity=True,cov_type='clustered')
        l=[i,res.params[0],res.pvalues[0],res.tstats[0]]
        mainl.append(l)
    
    except:
        l=[i,None,None,None]
        mainl.append(l)

        continue
   
    
results=pd.DataFrame(mainl,columns=['Variable','Coef','P-val','T-stat'])

580
580
580
580
580
316
580
580
580
580
580
580
316
580
580
580
316
580
316
580
580
580
580
580
580
580
316
580
580
580
569
580
580
580
580
316
580
580
573
251
580
580
580
580
580
580
458
578
309
301
543
543
543
543
309
309
543
580
537
537
580
177
177
177
580
408
580
300
82
566
63
576
580
580
580
580
316
580
580
316
580
580
431
580
316
580
580
316
580
580
580
580
580
580
316
580
316
580
580
580
316
316
316
316

In [57]:
results

,Variable,Coef,P-val,T-stat
0,1. Female population age 6 years and above who...,2.909050,1.437966e-01,1.466187
1,2. Population below age 15 years (%)(PHP),-0.587011,6.621870e-01,-0.437393
2,3. Sex ratio of the total population (females ...,3.768239,7.969327e-01,0.257581
3,4. Sex ratio at birth for children born in the...,-37.844591,4.253758e-01,-0.798375
4,5. Children under age 5 years whose birth was ...,4.592954,3.783964e-03,2.921778
...,...,...,...,...
99,100. Ever undergone an oral cavity examination...,-11.534979,1.942757e-11,-7.016343
100,101. Women age 15 years and above who use any ...,NaN,NaN,NaN
101,102. Men age 15 years and above who use any ki...,NaN,NaN,NaN
102,103. Women age 15 years and above who consume ...,NaN,NaN,NaN
103,104. Men age 15 years and above who consume al...,NaN,NaN,NaN

In [58]:
results.to_csv('nfhs_reg_results_with_corrected_district_names_new.csv')

In [697]:
#np.log1p(temp[i].dropna())
#type(df[cols[5]].astype(float64).iat[0])
np.log1p(df[cols[5]].astype('float64'))

0           NaN
1      4.462454
2           NaN
3      4.468204
4           NaN
         ...
577    4.320151
578         NaN
579    4.320151
580         NaN
581    3.951244
Name: 6. Deaths in the last 3 years registered with the civil authority (%)(PHP), Length: 582, dtype: float64

In [684]:
df[cols[5]].dropna()

1      85.7
3      86.2
5      86.2
7       100
9       100
       ...
574    86.1
575    86.1
577    74.2
579    74.2
581      51
Name: 6. Deaths in the last 3 years registered with the civil authority (%)(PHP), Length: 318, dtype: object

In [56]:
results.to_csv('nfhs_pre_post_regression_with_const_term.csv')

In [658]:
temp=df[['District','date',cols[40],'int_ay']]
#temp=temp.dropna(subset=['District'])
#temp.date=pd.to_datetime(temp.date)
temp=temp.set_index(['District','date'])
temp=temp.dropna()
mod = PanelOLS(np.log1p(temp[cols[40]]),temp['int_ay'],entity_effects=True,time_effects=True)
res = mod.fit(cluster_entity=True,cov_type='clustered')
l=[i,res.params[0],res.pvalues[0],res.tstats[0]]
mainl.append(l)

In [365]:
import pandas as pd
from linearmodels import PanelOLS
import statsmodels.api as sm
df=pd.read_csv('transpose_with_controls_nfhs4_nfhs5_full.csv')

In [259]:
df

,Unnamed: 0,District,states,variable,2016,2020,districts,UID2,rainfall_2016,rainfall_2020,nl_2016,nl_2020
0,0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
1,1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
2,2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
3,3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
4,4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
...,...,...,...,...,...,...,...,...,...,...,...,...
33379,25787,Sepahijala,TR,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,19.9,NaN,NaN,NaN,NaN,NaN,NaN
33380,25788,Sepahijala,TR,95. Mildly elevated blood pressure (Systolic 1...,NaN,11.3,NaN,NaN,NaN,NaN,NaN,NaN
33381,25789,Sepahijala,TR,96. Moderately or severely elevated blood pres...,NaN,3.3,NaN,NaN,NaN,NaN,NaN,NaN
33382,25790,Sepahijala,TR,98.Ever undergone a screening test for cervica...,NaN,0.9,NaN,NaN,NaN,NaN,NaN,NaN
33383,25791,Sepahijala,TR,99.Ever undergone a breast examination for bre...,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
buckets=pd.read_csv('bucket_merging (1).csv')

In [261]:
buckets.head(13)

,Classes,Buckets,variable
0,Neutral,Population and Household Profile,1. Female population age 6 years and above who...
1,Neutral,Population and Household Profile,2. Population below age 15 years (%)(PHP)
2,Neutral,Population and Household Profile,3. Sex ratio of the total population (females ...
3,Neutral,Population and Household Profile,4. Sex ratio at birth for children born in the...
4,Neutral,Population and Household Profile,5. Children under age 5 years whose birth was ...
5,Neutral,Population and Household Profile,6. Deaths in the last 3 years registered with ...
6,Neutral,Population and Household Profile,7. Population living in households with electr...
7,Neutral,Population and Household Profile,8. Population living in households with an imp...
8,Neutral,Population and Household Profile,9. Population living in households that use an...
9,Neutral,Population and Household Profile,10. Households using clean fuel for cooking3 (...
10,Neutral,Population and Household Profile,11. Households using iodized salt (%)(PHP)
11,Positive,Health Insurance/Financing Scheme Coverage,12. Households with any usual member covered u...
12,Neutral,Characteristics of Adults (15-19 Years),13. Children age 5 years who attended pre-prim...

In [262]:
df=df.merge(buckets[['variable','Buckets']],on='variable')
df.shape[0]

33384

In [201]:
df[df['Buckets']=='Marriage and Fertility'].variable.unique()

array(['16. Women age 20-24 years married before age 18 years (%)(MF)',
       '17. Births in the 5 years preceding the survey that are third or higher order (%)(MF)',
       '18. Women age 15-19 years who were already mothers or pregnant at the time of the survey (%)(MF)',
       '19. Women age 15-24 years who use hygienic methods of protection during their menstrual period5 (%)(MF)'],
      dtype=object)

In [11]:
def get_int_ay(df):
    ay_imp=[]
    post=[]
    for i in range(df.shape[0]):
        if(df['states'].iat[i]!='OR') and (df['states'].iat[i]!='WB') and (df['states'].iat[i]!='DL')and (df['states'].iat[i]!='TS'):
            ay_imp.append(1)
        else:
            ay_imp.append(0)
    df['int_ay']=ay_imp
    return df

In [5]:
df=df.dropna(subset=['District'])

In [367]:
df

,Unnamed: 0,District,states,variable,2016,2020,districts,UID2,rainfall_2016,rainfall_2020,nl_2016,nl_2020,int_ay
0,0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334,1
1,1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334,1
2,2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334,1
3,3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334,1
4,4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33379,25787,Sepahijala,TR,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,19.9,NaN,NaN,NaN,NaN,NaN,NaN,1
33380,25788,Sepahijala,TR,95. Mildly elevated blood pressure (Systolic 1...,NaN,11.3,NaN,NaN,NaN,NaN,NaN,NaN,1
33381,25789,Sepahijala,TR,96. Moderately or severely elevated blood pres...,NaN,3.3,NaN,NaN,NaN,NaN,NaN,NaN,1
33382,25790,Sepahijala,TR,98.Ever undergone a screening test for cervica...,NaN,0.9,NaN,NaN,NaN,NaN,NaN,NaN,1
33383,25791,Sepahijala,TR,99.Ever undergone a breast examination for bre...,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,1

In [137]:
def process_df(df):
    for i in ['2016','2020']:

        for j in range(df.shape[0]):
            if(isinstance(df[i].iat[j],str)):
                df[i].iat[j]=df[i].iat[j].replace(',','')
                df[i].iat[j]=df[i].iat[j].replace('(','')
                df[i].iat[j]=df[i].iat[j].replace(')','')
                df[i].iat[j]=df[i].iat[j].replace('-','')
                if(df[i].iat[j]!='na' and df[i].iat[j]!='*' and df[i].iat[j]!='nan' and df[i].iat[j]!=' *'):
                    df[i].iat[j]=float(df[i].iat[j])
        
        for j in range(df.shape[0]):
            if(isinstance(df[i].iat[j],int) or isinstance(df[i].iat[j],float)):
                df[i].iat[j]=abs(df[i].iat[j])   
            if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan' or df[i].iat[j]==' *'):
                    df[i].iat[j]=None
    s_r=['3. Sex ratio of the total population (females per 1,000 males)(PHP)','4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)']
    avg=['39. Average out-of-pocket expenditure per delivery in a public health facility (Rs.)(DC(LB 5Years))']
    for i in range(df.shape[0]):
        if(df.variable.iat[i] in s_r):
            df['2020'].iat[i]=df['2020'].iat[i]/10
            df['2016'].iat[i]=df['2016'].iat[i]/10
        #if(df.variable.iat[i] in avg and df.variable.iat[i]):
            #df['2020'].iat[i]=df['2020'].astype('float64').iat[i]*100/117.421
    return df

In [266]:
df['rf_change']=df['rainfall_2020'].astype('float64')-df['rainfall_2016'].astype('float64')
df['nl_change']=df['nl_2020'].astype('float64')-df['nl_2016'].astype('float64')

In [469]:
new1=pd.melt(df,id_vars=['District','states','int_ay','variable'],value_vars=['2020','2016'],var_name='Year')
new2=new1.set_index(['District','states','int_ay','variable','Year'])
new2=new2.unstack(3)
new2

                     0.9
                         2020                                                5.2
Aizawl     MZ     1      2016                                                5.2
                         2020                                                6.8
Akola      MH     1      2016                                                4.1
...                                                                          ...
Yadgir     KA     1      2020                                                5.9
Yavatmal   MH     1      2016                                                  3
                         2020                                                5.9
Zunheboto  NL     1      2016                                                  3
                         2020                                                4.6

                                                                                                                                                            \
variable                      91. Blood sugar level - high or very high (>140 mg/dl) or taking medicine to control blood sugar level23 (%)(HA(Age >=15)-w)
District   states int_ay Year
Ahmednagar MH     1      2016                                                4.9
                         2020                                               12.5
Aizawl     MZ     1      2016                                                8.7
                         2020                                               17.3
Akola      MH     1      2016                                                6.9
...                                                                          ...
Yadgir     KA     1      2020                                               13.1
Yavatmal   MH     1      2016                                                5.6
                         2020                                               13.1
Zunheboto  NL     1      2016                                                9.6
                         2020                                                9.9

                                                                                                                                                  \
variable                      92. Mildly elevated blood pressure (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)(HA(Age >=15)-m)
District   states int_ay Year
Ahmednagar MH     1      2016                                                1.9
                         2020                                               13.4
Aizawl     MZ     1      2016                                                2.1
                         2020                                               14.1
Akola      MH     1      2016                                                1.4
...                                                                          ...
Yadgir     KA     1      2020                                               10.6
Yavatmal   MH     1      2016                                                1.2
                         2020                                               10.6
Zunheboto  NL     1      2016                                                4.8
                         2020                                               22.5

                                                                                                                                                            \
variable                      93. Moderately or severely elevated blood pressure (Systolic ≥160mm of Hg and/or Diastolic ≥100mm of Hg) (%)(HA(Age >=15)-m)
District   states int_ay Year
Ahmednagar MH     1      2016                                                0.8
                         2020                                                5.1
Aizawl     MZ     1      2016                                                0.5
                         2020                                                2.7
Akola      MH     1      2016                                                1.6
...                                                                          ...
Yadgir     KA     1      2020                                                4.5
Yavatmal   MH     1      2016                                                0.6
                         2020                                                4.5
Zunheboto  NL     1      2016                                                2.1
                         2020                                               10.5

                                                                                                                                                                                   \
variable                      94. Elevated blood pressure (Systolic ≥140 mm of Hg and/or Diastolic ≥90 mm of Hg) or taking medicine to control blood pressure (%)(HA(Age >=15)-m)
District   states int_ay Year
Ahmednagar MH     1      2016                                                  5
                         2020                                               23.6
Aizawl     MZ     1      2016                                               14.6
                         2020                                               23.4
Akola      MH     1      2016                                                8.7
...                                                                          ...
Yadgir     KA     1      2020                                               17.5
Yavatmal   MH     1      2016                                                2.6
                         2020                                               17.5
Zunheboto  NL     1      2016                                               15.8
                         2020                                               33.2

                                                                                                                                                                                  \
variable                      95. Elevated blood pressure (Systolic ≥140 mm of Hg and/or Diastolic ≥90 mm of Hg) or taking medicine to control blood pressure(%)(SCW(Age 30-49))
District   states int_ay Year
Ahmednagar MH     1      2016                                               None
                         2020                                               25.3
Aizawl     MZ     1      2016                                               None
                         2020                                               33.6
Akola      MH     1      2016                                               None
...                                                                          ...
Yadgir     KA     1      2020                                                 18
Yavatmal   MH     1      2016                                               None
                         2020                                                 18
Zunheboto  NL     1      2016                                               None
                         2020                                               41.2

                                                                                                                                                  \
variable                      95. Mildly elevated blood pressure (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)(SCW(Age 30-49))
District   states int_ay Year
Ahmednagar MH     1      2016                                               None
                         2020                                                 16
Aizawl     MZ     1      2016                                               None
                         2020                                               19.8
Akola      MH     1      2016                                               None
...                                                                          ...
Yadgir     KA     1      2020                                               11.2
Yavatmal   MH     1      2016                                               None
                         2020                                               11.2
Zunheboto  NL     1      2016                                               None
                         2020                                               29.2

                                                                                                                                                            \
variable                      96. Moderately or severely elevated blood pressure (Systolic ≥160mm of Hg and/or Diastolic ≥100mm of Hg) (%)(SCW(Age 30-49))
District   states int_ay Year
Ahmednagar MH     1      2016                                                7.1
                         2020                                                6.3
Aizawl     MZ     1      2016                                                  6
                         2020                                                6.8
Akola      MH     1      2016                                                1.4
...                                                                          ...
Yadgir     KA     1      2020                                                4.5
Yavatmal   MH     1      2016                                                3.5
                         2020                                                4.5
Zunheboto  NL     1      2016                                                3.1
                         2020                                               11.8

                                                                                                           \
variable                      98.Ever undergone a screening test for cervical cancer (%)(TUACA(Age>=150))
District   states int_ay Year
Ahmednagar MH     1      2016                                               52.8
                         2020                                                1.3
Aizawl     MZ     1      2016                                               25.7
                         2020                                               10.8
Akola      MH     1      2016                                               32.7
...                                                                          ...
Yadgir     KA     1      2020                                                  0
Yavatmal   MH     1      2016                                               49.2
                         2020                                                  0
Zunheboto  NL     1      2016                                               14.3
                         2020                                                0.2


variable                      99.Ever undergone a breast examination for breast cancer (%)(TUACA(Age>=150))
District   states int_ay Year
Ahmednagar MH     1      2016                                               28.9
                         2020                                                0.2
Aizawl     MZ     1      2016                                               10.2
                         2020                                                4.7
Akola      MH     1      2016                                                9.3
...                                                                          ...
Yadgir     KA     1      2020                                                0.1
Yavatmal   MH     1      2016                                               35.9
                         2020                                                0.1
Zunheboto  NL     1      2016                                                  2
                         2020                                                0.4

[646 rows x 104 columns]

In [470]:
new2.to_csv('real_transposed_data_nfhs4_5.csv')

In [195]:
df[df['Buckets']=='Population and Household Profile'].variable.unique()

array(['1. Female population age 6 years and above who ever attended school (%)(PHP)',
       '10. Households using clean fuel for cooking3 (%)(PHP)',
       '11. Households using iodized salt (%)(PHP)',
       '2. Population below age 15 years (%)(PHP)',
       '3. Sex ratio of the total population (females per 1,000 males)(PHP)',
       '4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)',
       '5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP)',
       '6. Deaths in the last 3 years registered with the civil authority (%)(PHP)',
       '7. Population living in households with electricity (%)(PHP)',
       '8. Population living in households with an improved drinking-water source1 (%)(PHP)',
       '9. Population living in households that use an improved sanitation facility2 (%)(PHP)'],
      dtype=object)

In [267]:
mainl=[]
for i in df.Buckets.unique():
    temp=df[df['Buckets']==i]
    for j in temp.District.unique():
        temp1=temp[temp['District']==j]
        mean_2020=temp1['2020'].dropna().mean()
        mean_2016=temp1['2016'].dropna().mean()
        l=[i,j,temp1['states'].iat[0],temp1.int_ay.iat[0],mean_2020,mean_2016,temp1['rf_change'].iat[0],temp1['nl_change'].iat[0]]
        mainl.append(l)
new=pd.DataFrame(mainl,columns=['bucket','district','states','int_ay','2020','2016','rf_change','nl_change'])
new

,bucket,district,states,int_ay,2020,2016,rf_change,nl_change
0,Population and Household Profile,Ahmednagar,MH,1,82.136364,75.12,0.037139,0.619834
1,Population and Household Profile,Aizawl,MZ,1,91.500000,88.72,-0.009650,0.249802
2,Population and Household Profile,Akola,MH,1,91.500000,73.94,0.035971,0.599010
3,Population and Household Profile,Alappuzha,KL,1,95.054545,84.68,0.125358,0.986913
4,Population and Household Profile,Amravati,MH,1,95.054545,77.56,0.044344,0.510749
...,...,...,...,...,...,...,...,...
6631,Hypertension among Adults (age 15-49 years) Men,Palghar,MH,1,14.166667,NaN,NaN,NaN
6632,Hypertension among Adults (age 15-49 years) Men,Peddapalli,TS,0,21.566667,NaN,NaN,NaN
6633,Hypertension among Adults (age 15-49 years) Men,Rajanna Sircilla,TS,0,10.466667,NaN,NaN,NaN
6634,Hypertension among Adults (age 15-49 years) Men,Sangareddy,TS,0,20.733333,NaN,NaN,NaN
6635,Hypertension among Adults (age 15-49 years) Men,Sepahijala,TR,1,11.500000,NaN,NaN,NaN

In [268]:
new.to_csv('Buckets_transpose_correct_final_with_controls.csv')

In [320]:
new=pd.read_csv('Buckets_transpose_correct_final_with_controls.csv')

In [145]:
new.bucket.unique()

array(['Population and Household Profile',
       'Women Age 15-49 Years Who Have Ever Undergone Examinations of: Cervix, Breast, Oral Cavity',
       'Tobacco and Alcohol Consumption',
       'Health Insurance/Financing Scheme Coverage',
       'Characteristics of Adults (15-19 Years)',
       'Marriage and Fertility',
       'Current use of Family Planning Methods (currently Married Women Age 15-49 Years)',
       'Unmet Need for Family Planning (currently Married Women Age 15-49 Years)',
       'Quality of Family Planning Services', 'Maternal and Child Health',
       'Average out of pocket expenditure per delivery in public health facility ',
       'Delivery Care (for Births in the 5 Years before the Survey)',
       ' Child Vaccinations and Vitamin A Supplementation',
       'Treatment of Childhood Diseases',
       'Child Feeding Practices and Nutritional Status of Children',
       'Nutritional Status for Adults (Age 15-49 Years)',
       'Anaemia among Children and Adults',
       'Blood Sugar Level among Adults (age 15-49 years) Women',
       'Blood Sugar Level among Adults (age 15-49 years) Men',
       'Hypertension among Adults (age 15-49 years) Women',
       'Hypertension among Adults (age 15-49 years) Men'], dtype=object)

In [12]:
new[new['bucket']=='Treatment of Childhood Diseases']

,bucket,district,states,int_ay,2020,2016
3952,Treatment of Childhood Diseases,Ahmednagar,MH,1,44.683333,38.883333
3953,Treatment of Childhood Diseases,Aizawl,MZ,1,21.733333,37.700000
3954,Treatment of Childhood Diseases,Akola,MH,1,47.216667,34.633333
3955,Treatment of Childhood Diseases,Alappuzha,KL,1,29.066667,1.950000
3956,Treatment of Childhood Diseases,Amravati,MH,1,40.900000,5.300000
...,...,...,...,...,...,...
4251,Treatment of Childhood Diseases,Y.S.R.,AP,1,22.833333,4.000000
4252,Treatment of Childhood Diseases,Yadadri Bhuvanagiri,TS,0,22.833333,NaN
4253,Treatment of Childhood Diseases,Yadgir,KA,1,28.833333,2.150000
4254,Treatment of Childhood Diseases,Yavatmal,MH,1,34.900000,42.766667
4255,Treatment of Childhood Diseases,Zunheboto,NL,1,0.900000,1.000000

In [222]:
new[new['int_ay']==0].states.unique()

array(['WB', 'TS'], dtype=object)

In [454]:
new1=pd.melt(new,id_vars=['bucket','district','states','int_ay'],value_vars=['2020','2016'])
new2=new1.set_index(['district','states','int_ay','variable','bucket'])
new2=new2.unstack(4)

In [367]:
new2[new2['Average out of pocket expenditure per delivery in public health facility '].notna()]

,district,states,int_ay,variable,Child Vaccinations and Vitamin A Supplementation,Anaemia among Children and Adults,Average out of pocket expenditure per delivery in public health facility,Blood Sugar Level among Adults (age 15-49 years) Men,Blood Sugar Level among Adults (age 15-49 years) Women,Characteristics of Adults (15-19 Years),...,Hypertension among Adults (age 15-49 years) Women,Marriage and Fertility,Maternal and Child Health,Nutritional Status for Adults (Age 15-49 Years),Population and Household Profile,Quality of Family Planning Services,Tobacco and Alcohol Consumption,Treatment of Childhood Diseases,Unmet Need for Family Planning (currently Married Women Age 15-49 Years),"Women Age 15-49 Years Who Have Ever Undergone Examinations of: Cervix, Breast, Oral Cavity"
0,Ahmednagar,MH,1,2016,63.087500,43.925,4851.000000,3.633333,3.200000,62.500000,...,2.566667,26.100,67.233333,20.400000,75.120000,34.05,NaN,38.883333,8.05,32.033333
1,Ahmednagar,MH,1,2020,70.825000,50.860,4747.873038,7.700000,6.800000,51.166667,...,14.033333,30.650,72.828571,29.700000,82.136364,25.60,15.775,44.683333,5.45,0.566667
2,Aizawl,MZ,1,2016,63.787500,17.000,5087.000000,8.333333,7.150000,74.700000,...,5.733333,6.300,78.800000,16.900000,88.720000,30.45,NaN,37.700000,14.30,23.200000
3,Aizawl,MZ,1,2020,61.541667,34.440,8356.256547,10.433333,9.600000,56.100000,...,13.400000,24.700,67.242857,26.500000,91.500000,28.20,37.550,21.733333,19.00,5.700000
4,Akola,MH,1,2016,75.937500,41.900,1711.000000,6.766667,2.900000,60.800000,...,3.900000,11.150,77.200000,20.650000,73.940000,27.95,NaN,34.633333,6.80,17.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,Yadgir,KA,1,2020,68.666667,62.660,3735.277335,8.500000,4.966667,26.900000,...,10.866667,27.875,58.857143,25.733333,72.627273,44.05,16.725,28.833333,6.70,0.100000
632,Yavatmal,MH,1,2016,74.250000,57.575,1954.000000,4.633333,2.550000,56.200000,...,1.466667,13.900,62.671429,21.000000,72.910000,35.30,NaN,42.766667,6.60,38.666667
633,Yavatmal,MH,1,2020,66.358333,62.660,1476.737551,8.500000,4.966667,26.900000,...,10.866667,27.875,69.100000,25.733333,72.627273,44.05,16.725,34.900000,6.70,0.100000
634,Zunheboto,NL,1,2016,43.350000,35.350,10499.000000,6.333333,6.300000,57.850000,...,7.566667,3.850,25.700000,14.500000,72.470000,14.55,NaN,1.000000,12.80,8.300000
635,Zunheboto,NL,1,2020,56.616667,35.080,6433.261512,6.566667,7.366667,42.433333,...,22.066667,24.900,32.800000,29.800000,76.645455,42.60,19.600,0.900000,1.75,0.433333

In [456]:
new2=new2.to_csv('NFHS4_5_data_not_transposed.csv')

In [177]:
new

,bucket,district,states,int_ay,2020,2016,rf_change,nl_change,change,pct_change
0,Population and Household Profile,Ahmednagar,MH,1,230.390909,232.44,0.037139,0.619834,-2.049091,-0.008816
1,Population and Household Profile,Aizawl,MZ,1,262.827273,265.66,-0.009650,0.249802,-2.832727,-0.010663
2,Population and Household Profile,Akola,MH,1,262.827273,239.27,0.035971,0.599010,23.557273,0.098455
3,Population and Household Profile,Alappuzha,KL,1,307.209091,256.40,0.125358,0.986913,50.809091,0.198163
4,Population and Household Profile,Amravati,MH,1,307.209091,266.11,0.044344,0.510749,41.099091,0.154444
...,...,...,...,...,...,...,...,...,...,...
6631,Hypertension among Adults (age 15-49 years) Men,Palghar,MH,1,14.166667,NaN,NaN,NaN,NaN,NaN
6632,Hypertension among Adults (age 15-49 years) Men,Peddapalli,TS,0,21.566667,NaN,NaN,NaN,NaN,NaN
6633,Hypertension among Adults (age 15-49 years) Men,Rajanna Sircilla,TS,0,10.466667,NaN,NaN,NaN,NaN,NaN
6634,Hypertension among Adults (age 15-49 years) Men,Sangareddy,TS,0,20.733333,NaN,NaN,NaN,NaN,NaN
6635,Hypertension among Adults (age 15-49 years) Men,Sepahijala,TR,1,11.500000,NaN,NaN,NaN,NaN,NaN

In [859]:
df.to_csv('transpose_with_ay_imp.csv')

In [41]:
new=pd.read_csv('transpose_with_controls_nfhs4_nfhs5_full.csv')

In [42]:
new=pd.read_csv('transpose_with_controls_nfhs4_nfhs5_full.csv')
temp=new
temp=temp.merge(buc,on='variable')
temp['change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))
temp['pct_change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))/temp['2016'].astype('float64')
temp=get_int_ay(temp)

In [309]:
temp.to_csv('bucket_with_controls_final.csv')

In [831]:
from linearmodels import OLS
df['date']='01-01-2020'
df['date']=pd.to_datetime(df['date'])
temp=df[['District','date','states','2020','2016','int_ay']]
#temp=pd.read_csv('transpose_regression.csv')

temp=temp.set_index(['District','date'])
import statsmodels.api as sm

temp=temp.dropna()
temp['change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))/temp['2016'].astype('float64')
l=temp['change'].values
mod = sm.OLS(np.log1p(temp['change']),temp['int_ay'],missing='drop')
res = mod.fit()
res.params

int_ay   NaN
dtype: float64

In [256]:
temp_dup

,bucket,district,states,int_ay,2020,2016,rf_change,nl_change,change,pct_change
0,Population and Household Profile,Ahmednagar,MH,1,82.136364,75.12,NaN,NaN,7.016364,0.093402
1,Population and Household Profile,Aizawl,MZ,1,91.500000,88.72,NaN,NaN,2.780000,0.031335
2,Population and Household Profile,Akola,MH,1,91.500000,73.94,NaN,NaN,17.560000,0.237490
3,Population and Household Profile,Alappuzha,KL,1,95.054545,84.68,NaN,-0.637999,10.374545,0.122515
4,Population and Household Profile,Amravati,MH,1,95.054545,77.56,NaN,NaN,17.494545,0.225561
...,...,...,...,...,...,...,...,...,...,...
6631,Hypertension among Adults (age 15-49 years) Men,Palghar,MH,1,14.166667,NaN,NaN,NaN,NaN,NaN
6632,Hypertension among Adults (age 15-49 years) Men,Peddapalli,TS,0,21.566667,NaN,NaN,NaN,NaN,NaN
6633,Hypertension among Adults (age 15-49 years) Men,Rajanna Sircilla,TS,0,10.466667,NaN,NaN,NaN,NaN,NaN
6634,Hypertension among Adults (age 15-49 years) Men,Sangareddy,TS,0,20.733333,NaN,NaN,NaN,NaN,NaN
6635,Hypertension among Adults (age 15-49 years) Men,Sepahijala,TR,1,11.500000,NaN,NaN,NaN,NaN,NaN

In [371]:
temp1=temp[['District', 'states','bucket','variable' 'int_ay', '2020', '2016','change','pct_change']]
temp1

         District states  int_ay  2020  2016  change  pct_change
0      Ahmednagar     MH       1  77.4  75.4     2.0    0.026525
1      Ahmednagar     MH       1  77.4  57.8    19.6    0.339100
2      Ahmednagar     MH       1   0.2  14.4   -14.2   -0.986111
3      Ahmednagar     MH       1  14.7   NaN     NaN         NaN
4      Ahmednagar     MH       1  37.7   NaN     NaN         NaN
...           ...    ...     ...   ...   ...     ...         ...
33379  Sepahijala     TR       1  19.9   NaN     NaN         NaN
33380  Sepahijala     TR       1  11.3   NaN     NaN         NaN
33381  Sepahijala     TR       1   3.3   NaN     NaN         NaN
33382  Sepahijala     TR       1   0.9   NaN     NaN         NaN
33383  Sepahijala     TR       1   0.2   NaN     NaN         NaN

[33384 rows x 7 columns]

In [93]:
temp.Buckets.unique()[10]

'Average out of pocket expenditure per delivery in public health facility '

In [95]:
i=temp.Buckets.unique()[10]
t=temp[temp['Buckets']==i].dropna()
t['2020']=t['2020']/1.17
t['pct_change']=(t['2020'].astype('float64')-t['2016'].astype('float64'))/t['2016'].astype('float64')
mod = sm.OLS(t['pct_change'].astype('float64'),sm.add_constant(t['int_ay']))
res = mod.fit()
[res.params[1],res.pvalues[1],res.tvalues[1]]

[0.622403047368414, 0.0018126456840666491, 3.155464876489916]

In [340]:
i=temp.bucket.unique()[10]
t=temp[temp['bucket']==i].dropna()
t['rf_change']=t['rf_change'].astype('float64').apply(np.log)
t['nl_change']=t['nl_change'].astype('float64').apply(np.log)
#t=temp[temp['bucket']==i].dropna()
t['nl_change'].dropna().mean()

-0.6612256942463642

In [353]:
temp1['pct_change']=(temp1['2020'].astype('float64')-temp1['2016'].astype('float64'))/temp1['2016'].astype('float64')

<ipython-input-353-e52933b8c7c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp1['pct_change']=(temp1['2020'].astype('float64')-temp1['2016'].astype('float64'))/temp1['2016'].astype('float64')

In [330]:
#np.log1p(temp['rf_change'])
temp.to_csv('pre_reg_nfhs_transpose_csv.csv')

In [2]:
temp=pd.read_csv('pre_reg_nfhs_transpose_csv.csv')

In [3]:
temp

,Unnamed: 0,Unnamed: 0.1,bucket,district,states,int_ay,2020,2016,rf_change,nl_change,change,pct_change
0,0,0,Population and Household Profile,Ahmednagar,MH,1,82.136364,75.12,0.037139,0.619834,7.016364,0.093402
1,1,1,Population and Household Profile,Aizawl,MZ,1,91.500000,88.72,-0.009650,0.249802,2.780000,0.031335
2,2,2,Population and Household Profile,Akola,MH,1,91.500000,73.94,0.035971,0.599010,17.560000,0.237490
3,3,3,Population and Household Profile,Alappuzha,KL,1,95.054545,84.68,0.125358,0.986913,10.374545,0.122515
4,4,4,Population and Household Profile,Amravati,MH,1,95.054545,77.56,0.044344,0.510749,17.494545,0.225561
...,...,...,...,...,...,...,...,...,...,...,...,...
6631,6631,6631,Hypertension among Adults (age 15-49 years) Men,Palghar,MH,1,14.166667,NaN,NaN,NaN,NaN,NaN
6632,6632,6632,Hypertension among Adults (age 15-49 years) Men,Peddapalli,TS,0,21.566667,NaN,NaN,NaN,NaN,NaN
6633,6633,6633,Hypertension among Adults (age 15-49 years) Men,Rajanna Sircilla,TS,0,10.466667,NaN,NaN,NaN,NaN,NaN
6634,6634,6634,Hypertension among Adults (age 15-49 years) Men,Sangareddy,TS,0,20.733333,NaN,NaN,NaN,NaN,NaN
6635,6635,6635,Hypertension among Adults (age 15-49 years) Men,Sepahijala,TR,1,11.500000,NaN,NaN,NaN,NaN,NaN

In [13]:
import numpy as np
variables=temp.variable.unique()
mainl=[]
import statsmodels.api as sm
#temp['rf_change']=np.log(temp['rf_change'])
#temp['nl_change']=np.log(temp['nl_change'])
for i in variables:
    try:
        t=temp[temp['variable']==i]
        t=t.dropna()
        t=t[t['pct_change']!=np.inf]
        mod = sm.OLS(t['pct_change'].astype('float64'),sm.add_constant(t['int_ay']))
        res = mod.fit()
        coef=res.params[1]
        p=res.pvalues[1]
        t=res.tvalues[1]
        l=[i,coef,p,t]
        mainl.append(l)
    except:
        mainl.append([i,None,None,None])
        continue
result=pd.DataFrame(mainl,columns=['variable','coef','p-values','t-stats'])
result

,variable,coef,p-values,t-stats
0,1. Female population age 6 years and above who...,0.046100,3.753203e-02,2.091483
1,10. Households using clean fuel for cooking3 (...,-0.203582,3.228723e-01,-0.990604
2,100. Ever undergone an oral cavity examination...,-0.168817,9.074404e-07,-5.041609
3,101. Women age 15 years and above who use any ...,NaN,NaN,NaN
4,102. Men age 15 years and above who use any ki...,NaN,NaN,NaN
...,...,...,...,...
99,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,NaN,NaN
100,95. Mildly elevated blood pressure (Systolic 1...,NaN,NaN,NaN
101,96. Moderately or severely elevated blood pres...,0.606529,3.582237e-01,0.920720
102,98.Ever undergone a screening test for cervica...,-0.131728,2.006279e-03,-3.123432
103,99.Ever undergone a breast examination for bre...,-0.041076,3.318040e-01,-0.972445

In [376]:
result.to_csv('nfhs_variables_reg_result_changes_without_controls_pct_change.csv')

In [502]:
result.to_csv('bucket_result_regressions_percentage_changes_trans.csv')

In [98]:
#temp['pct_change']=temp['change'].astype('float64')/temp['2016'].astype('float64')
#temp.variable.unique()
temp.columns

Index(['Unnamed: 0', 'District', 'states', 'variable', '2016', '2020',
       'districts', 'UID2', 'rainfall_2016', 'rainfall_2020', 'nl_2016',
       'nl_2020', 'Classes', 'Buckets', 'new_class', 'change', 'pct_change',
       'int_ay'],
      dtype='object')

In [97]:
#temp[temp['variable']=='4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)']

In [84]:
buc=pd.read_csv("bucket_merging (1).csv")
new=pd.read_csv('transpose_with_controls_nfhs4_nfhs5_full.csv')
temp=new
temp=temp.merge(buc,on='variable')
temp['change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))
temp['pct_change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))/temp['2016'].astype('float64')
temp=get_int_ay(temp)

,Unnamed: 0,District,states,variable,2016,2020,districts,UID2,rainfall_2016,rainfall_2020,nl_2016,nl_2020,Classes,Buckets,new_class,change,pct_change,int_ay
0,0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334,Neutral,Population and Household Profile,1,2.0,0.026525,1

In [176]:
mainl=[]
#72.79,0.24 for delivery care
buc=pd.read_csv("bucket_merging (1).csv")
new=pd.read_csv('transpose_with_controls_nfhs4_nfhs5_full.csv')

temp1=new
temp1=process_df(temp1)
temp1=temp1.merge(buc,on='variable')
temp1['uid']=temp1['District']+temp1['states']
temp1=get_int_ay(temp1)
#print(temp1[temp1['new_class']==1].int_ay.value_counts())
#print(temp1[temp1['new_class']==1].variable.unique())
for i in temp1.uid.unique():
    t=temp1[temp1['uid']==i]
    for j in t.new_class.unique():
        try:
            t1=t[t['new_class']==j]
            if(len(t1.variable.unique())==1):
                l=[t1.District.iat[0],t1.states.iat[0],i,list(t1.variable.unique()),t1['2016'].iat[0],t1['2020'].iat[0],t1.Buckets.iat[0],j]
                #print(t1.variable.unique())
            else:    
                l=[t1.District.iat[0],t1.states.iat[0],i,list(t1.variable.unique()),t1['2016'].mean(),t1['2020'].mean(),t1.Buckets.iat[0],j]
            mainl.append(l)
        except:
            l=[t1.District.iat[0],t1.states.iat[0],i,list(t1.variable.unique()),None,None,t1.Buckets.iat[0],j]
            mainl.append(l)
temp=pd.DataFrame(mainl,columns=['District', 'states','uid', 'variable', '2016', '2020','buckets','new_class'])
temp['change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))
temp['pct_change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))/temp['2016'].astype('float64')
temp=get_int_ay(temp)
#print(temp[temp['new_class']==1].int_ay.value_counts())
temp
#print(temp[temp['new_class']==1]['variable'].iat[0])

,District,states,uid,variable,2016,2020,buckets,new_class,change,pct_change,int_ay
0,Ahmednagar,MH,AhmednagarMH,[1. Female population age 6 years and above wh...,75.4,77.4,Population and Household Profile,1,2.0,0.026525,1
1,Ahmednagar,MH,AhmednagarMH,[10. Households using clean fuel for cooking3 ...,57.8,77.4,Population and Household Profile,10,19.6,0.339100,1
2,Ahmednagar,MH,AhmednagarMH,[100. Ever undergone an oral cavity examinatio...,14.4,0.2,Women Age 15-49 Years Who Have Ever Undergone ...,100,-14.2,-0.986111,1
3,Ahmednagar,MH,AhmednagarMH,[101. Women age 15 years and above who use any...,NaN,14.7,Tobacco and Alcohol Consumption,101,NaN,NaN,1
4,Ahmednagar,MH,AhmednagarMH,[102. Men age 15 years and above who use any k...,NaN,37.7,Tobacco and Alcohol Consumption,102,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
30811,Sepahijala,TR,SepahijalaTR,[95. Elevated blood pressure (Systolic ≥140 mm...,NaN,19.9,Hypertension among Adults (age 15-49 years) Men,97,NaN,NaN,1
30812,Sepahijala,TR,SepahijalaTR,[95. Mildly elevated blood pressure (Systolic ...,NaN,11.3,Hypertension among Adults (age 15-49 years) Men,95,NaN,NaN,1
30813,Sepahijala,TR,SepahijalaTR,[96. Moderately or severely elevated blood pre...,NaN,3.3,Hypertension among Adults (age 15-49 years) Men,96,NaN,NaN,1
30814,Sepahijala,TR,SepahijalaTR,[98.Ever undergone a screening test for cervic...,NaN,0.9,Women Age 15-49 Years Who Have Ever Undergone ...,98,NaN,NaN,1
30815,Sepahijala,TR,SepahijalaTR,[99.Ever undergone a breast examination for br...,NaN,0.2,Women Age 15-49 Years Who Have Ever Undergone ...,99,NaN,NaN,1

In [139]:
temp

,District,states,uid,variable,2016,2020,buckets,new_class,change,pct_change,int_ay
0,Ahmednagar,MH,AhmednagarMH,[1. Female population age 6 years and above wh...,75.4,77.4,Population and Household Profile,1,2.0,0.026525,1
1,Ahmednagar,MH,AhmednagarMH,[10. Households using clean fuel for cooking3 ...,57.8,77.4,Population and Household Profile,10,19.6,0.339100,1
2,Ahmednagar,MH,AhmednagarMH,[100. Ever undergone an oral cavity examinatio...,14.4,0.2,Women Age 15-49 Years Who Have Ever Undergone ...,100,-14.2,-0.986111,1
3,Ahmednagar,MH,AhmednagarMH,[101. Women age 15 years and above who use any...,NaN,14.7,Tobacco and Alcohol Consumption,101,NaN,NaN,1
4,Ahmednagar,MH,AhmednagarMH,[102. Men age 15 years and above who use any k...,NaN,37.7,Tobacco and Alcohol Consumption,102,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
24245,Zunheboto,NL,ZunhebotoNL,[95. Elevated blood pressure (Systolic ≥140 mm...,NaN,41.2,Hypertension among Adults (age 15-49 years) Men,97,NaN,NaN,1
24246,Zunheboto,NL,ZunhebotoNL,[95. Mildly elevated blood pressure (Systolic ...,NaN,29.2,Hypertension among Adults (age 15-49 years) Men,95,NaN,NaN,1
24247,Zunheboto,NL,ZunhebotoNL,[96. Moderately or severely elevated blood pre...,3.1,11.8,Hypertension among Adults (age 15-49 years) Men,96,8.7,2.806452,1
24248,Zunheboto,NL,ZunhebotoNL,[98.Ever undergone a screening test for cervic...,14.3,0.2,Women Age 15-49 Years Who Have Ever Undergone ...,98,-14.1,-0.986014,1
24249,Zunheboto,NL,ZunhebotoNL,[99.Ever undergone a breast examination for br...,2.0,0.4,Women Age 15-49 Years Who Have Ever Undergone ...,99,-1.6,-0.800000,1

In [177]:
variables=temp.new_class.unique()
mainl=[]
s_ratio_vars=[3,4]
for i in variables:
    try:
        t=temp[temp['new_class']==i]
        t=t.dropna()
        b=t.buckets.iat[0]
        #t=t[t['pct_change']!=np.inf]
        mod = sm.OLS(t['change'].astype('float64'),sm.add_constant(t['int_ay']))
        res = mod.fit()
        coef=res.params[1]
        p=res.pvalues[1]
        ts=res.tvalues[1]
        l=[b,i,t.variable.iat[0],coef,p,ts]
        mainl.append(l)
    except:
        #print(t)
        print(type(t))
        l=[b,i,[],None,None,None]
        mainl.append(l)
        continue
result=pd.DataFrame(mainl,columns=['buckets','new_class','variables','coef','p-values','t-stats'])
#result=result.merge(buc, on='new_class')
result

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

,buckets,new_class,variables,coef,p-values,t-stats
0,Population and Household Profile,1,[1. Female population age 6 years and above wh...,2.909100,0.041094,2.052905
1,Population and Household Profile,10,[10. Households using clean fuel for cooking3 ...,5.330418,0.167614,1.383820
2,Women Age 15-49 Years Who Have Ever Undergone ...,100,[100. Ever undergone an oral cavity examinatio...,-11.607448,0.000191,-3.785664
3,Women Age 15-49 Years Who Have Ever Undergone ...,101,[],NaN,NaN,NaN
4,Women Age 15-49 Years Who Have Ever Undergone ...,102,[],NaN,NaN,NaN
...,...,...,...,...,...,...
91,Hypertension among Adults (age 15-49 years) Women,97,[],NaN,NaN,NaN
92,Hypertension among Adults (age 15-49 years) Women,95,[],NaN,NaN,NaN
93,Hypertension among Adults (age 15-49 years) Men,96,[96. Moderately or severely elevated blood pre...,0.540460,0.399202,0.844452
94,Women Age 15-49 Years Who Have Ever Undergone ...,98,[98.Ever undergone a screening test for cervic...,-15.352197,0.000040,-4.179195
95,Women Age 15-49 Years Who Have Ever Undergone ...,99,[99.Ever undergone a breast examination for br...,-7.551130,0.001685,-3.174290

In [147]:
result.head(12)

,buckets,new_class,coef,p-values,t-stats,Classes,Buckets,variable
0,Population and Household Profile,1,2.909100,0.041094,2.052905,Neutral,Population and Household Profile,1. Female population age 6 years and above who...
1,Population and Household Profile,10,5.330418,0.167614,1.383820,Neutral,Population and Household Profile,10. Households using clean fuel for cooking3 (...
2,Women Age 15-49 Years Who Have Ever Undergone ...,100,-11.607448,0.000191,-3.785664,Neutral,Women Age 15-49 Years Who Have Ever Undergone ...,100. Ever undergone an oral cavity examination...
3,Women Age 15-49 Years Who Have Ever Undergone ...,101,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption,101. Women age 15 years and above who use any ...
4,Women Age 15-49 Years Who Have Ever Undergone ...,102,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption,102. Men age 15 years and above who use any ki...
5,Women Age 15-49 Years Who Have Ever Undergone ...,103,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption,103. Women age 15 years and above who consume ...
6,Women Age 15-49 Years Who Have Ever Undergone ...,104,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption,104. Men age 15 years and above who consume al...
7,Population and Household Profile,11,0.536862,0.755045,0.312328,Neutral,Population and Household Profile,11. Households using iodized salt (%)(PHP)
8,Health Insurance/Financing Scheme Coverage,12,19.721883,0.000021,4.336617,Positive,Health Insurance/Financing Scheme Coverage,12. Households with any usual member covered u...
9,Health Insurance/Financing Scheme Coverage,13,NaN,NaN,NaN,Neutral,Characteristics of Adults (15-19 Years),13. Children age 5 years who attended pre-prim...
10,Characteristics of Adults (15-19 Years),14,1.929644,0.311832,1.013379,Neutral,Characteristics of Adults (15-19 Years),14. Women who are literate4 (%)(CW(Age 15-49))
11,Characteristics of Adults (15-19 Years),15,0.059686,0.980734,0.024172,Neutral,Characteristics of Adults (15-19 Years),15. Women with 10 or more years of schooling (...

In [178]:
result[result['new_class']==61]

,buckets,new_class,variables,coef,p-values,t-stats
57,Treatment of Childhood Diseases,61,[61. Prevalence of diarrhoea in the 2 weeks pr...,-8.209414,0.046479,-2.000674

In [168]:
result.to_csv('Difference_change_all_variables_reg_result_trans_new_with_bucket_new_final_4.csv')

In [31]:
result.to_csv('results_reg.csv')

In [25]:
result=pd.read_csv('Difference_change_all_variables_reg_result_trans_new.csv')
result=result.merge(buc, on='variable')
result

,Unnamed: 0,variable,coef,p-values,t-stats,Classes,Buckets
0,1,1. Female population age 6 years and above who...,2.863117,0.045127,2.013942,Neutral,Population and Household Profile
1,2,2. Population below age 15 years (%)(PHP),-0.376704,0.674407,-0.420621,Neutral,Population and Household Profile
2,3,3. Sex ratio of the total population (females ...,3.473991,0.807581,0.243815,Neutral,Population and Household Profile
3,4,4. Sex ratio at birth for children born in the...,-38.308744,0.368102,-0.901728,Neutral,Population and Household Profile
4,5,5. Children under age 5 years whose birth was ...,4.371570,0.069762,1.821554,Neutral,Population and Household Profile
...,...,...,...,...,...,...,...
99,100,100. Ever undergone an oral cavity examination...,-11.535247,0.000259,-3.708711,Neutral,Women Age 15-49 Years Who Have Ever Undergone ...
100,101,101. Women age 15 years and above who use any ...,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption
101,102,102. Men age 15 years and above who use any ki...,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption
102,103,103. Women age 15 years and above who consume ...,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption
103,104,104. Men age 15 years and above who consume al...,NaN,NaN,NaN,Neutral,Tobacco and Alcohol Consumption

In [150]:
temp['date']=20200101
#temp['date1']=pd.to_datetime(temp.date)
#temp=df[['District','date','states','2020','2016','int_ay']]
#temp1=temp.set_index(['District','date'])
#temp1

In [922]:
type(temp['date'].iat[0])

pandas._libs.tslibs.timestamps.Timestamp

In [152]:
type

pandas.core.frame.DataFrame

In [153]:
from linearmodels import PanelOLS
variables=temp.new_class.unique()
import numpy as np
mainl=[]
for i in variables:
    try:
        t=temp[temp['new_class']==i]

        #temp['change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))/temp['2016'].astype('float64')
        l=t['change']
        t['const']=1
        t.date=pd.to_numeric(t.date)
        t=t.set_index(['District','date'])
        mod = PanelOLS(t['change'],t[['int_ay','const']])
        res = mod.fit(clustering='entity')
        coef=res.params[0]
        p=res.pvalues[0]
        t=res.tstats[0]
        l=[i,coef,p,t]
        mainl.append(l)
    except:
        l=[i,None,None,None]
        mainl.append(l) 
        continue
   
result=pd.DataFrame(mainl,columns=['variable','coef','p-values','t-stats'])
result.head(12)

aveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
<ipython-input-153-a28ee46e0344>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['const']=1
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

    variable       coef  p-values   t-stats
0          1   2.909100  0.041094  2.052905
1         10   5.330418  0.167614  1.383820
2        100 -11.607448  0.000191 -3.785664
3        101        NaN       NaN       NaN
4        102        NaN       NaN       NaN
5        103        NaN       NaN       NaN
6        104        NaN       NaN       NaN
7         11   0.536862  0.755045  0.312328
8         12  19.721883  0.000021  4.336617
9         13        NaN       NaN       NaN
10        14   1.929644  0.311832  1.013379
11        15   0.059686  0.980734  0.024172

In [34]:
result.to_csv('panel_ols_nfhs_reg_result.csv')

In [74]:
df.states.value_counts()

BR    3640
MH    3224
KA    2808
AS    2392
GJ    1872
KL    1456
JK    1352
WB    1352
AP    1248
NL    1144
HP    1040
MZ     832
MN     832
ML     416
SK     312
CG     312
TS     312
DD     208
GA     208
TR     208
AN     104
Name: states, dtype: int64

In [70]:
result.to_csv('transposed_regression_results_nfhs_only_differences_with_constant_term.csv')

In [69]:
result.dropna()

,variable,coef,p-values,t-stats
0,1. Female population age 6 years and above who...,0.437720,0.755789,0.311369
1,2. Population below age 15 years (%)(PHP),0.935407,0.277215,1.089062
2,3. Sex ratio of the total population (females ...,-10.646200,0.474393,-0.716473
3,4. Sex ratio at birth for children born in the...,-24.124449,0.611669,-0.508355
4,5. Children under age 5 years whose birth was ...,4.258398,0.099620,1.653062
...,...,...,...,...
93,94. Elevated blood pressure (Systolic ≥140 mm ...,-1.597550,0.369801,-0.898529
95,96. Moderately or severely elevated blood pres...,-0.114978,0.872691,-0.160412
97,98.Ever undergone a screening test for cervica...,-16.140363,0.000105,-3.945444
98,99.Ever undergone a breast examination for bre...,-8.024670,0.002755,-3.025098
99,100. Ever undergone an oral cavity examination...,-11.744273,0.000841,-3.381623

In [819]:
temp=pd.read_csv('transpose_regression.csv')

In [814]:
temp.to_csv('transpose_regression.csv')
temp

PermissionError: [Errno 13] Permission denied: 'transpose_regression.csv'

In [798]:
temp=pd.read_csv('transpose_regression.csv')
temp

         District        date states  2020  2016  int_ay    change
0      Ahmednagar  2020-01-01     MH  77.4  75.4       1  0.026525
1          Aizawl  2020-01-01     MZ  97.8  95.9       1  0.019812
2           Akola  2020-01-01     MH  97.8  83.0       1  0.178313
3       Alappuzha  2020-01-01     KL  97.8  96.9       1  0.009288
4        Amravati  2020-01-01     MH  97.8  78.3       1  0.249042
...           ...         ...    ...   ...   ...     ...       ...
18519       Wokha  2020-01-01     NL   0.0  23.6       1 -1.000000
18520      Y.S.R.  2020-01-01     AP   0.0  11.9       1 -1.000000
18521      Yadgir  2020-01-01     KA   0.2   3.9       1 -0.948718
18522    Yavatmal  2020-01-01     MH   0.2  30.9       1 -0.993528
18523   Zunheboto  2020-01-01     NL   0.7   8.6       1 -0.918605

[18524 rows x 7 columns]

In [792]:
temp=temp[temp['int_ay']==1].sample(2000).append(temp[temp['int_ay']==0])

In [789]:
temp.columns

Index(['District', 'date', 'states', '2020', '2016', 'int_ay', 'change'], dtype='object')

In [799]:
from linearmodels import OLS
#df['date']='01-01-2020'
#temp['date']=pd.to_datetime(temp['date'])
#temp=df[['District','date','states','2020','2016','int_ay','change']]
temp.dropna()
#temp['change']=(temp['2020'].astype('float64')-temp['2016'].astype('float64'))/temp['2016'].astype('float64')
l=temp['change']
#temp=temp.set_index(['District','date'])
mod = PanelOLS(l,temp['int_ay'])
res = mod.fit()
res

ValueError: Series can only be used with a 2-level MultiIndex

In [760]:
temp.int_ay.value_counts()

1    23608
0     1664
Name: int_ay, dtype: int64

In [752]:
temp.change

District    date
Ahmednagar  2020-01-01    0.026525
Aizawl      2020-01-01    0.019812
Akola       2020-01-01    0.178313
Alappuzha   2020-01-01    0.009288
Amravati    2020-01-01    0.249042
                            ...
Wokha       2020-01-01         NaN
Y.S.R.      2020-01-01         NaN
Yadgir      2020-01-01         NaN
Yavatmal    2020-01-01         NaN
Zunheboto   2020-01-01         NaN
Name: change, Length: 25272, dtype: float64

In [754]:
temp=temp.dropna()

In [756]:
mod = PanelOLS(temp.change,temp['int_ay'])
res = mod.fit()

In [757]:
res

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 change   R-squared:
Estimator:                   PanelOLS   R-squared (Between):
No. Observations:               18337   R-squared (Within):               0.0000
Date:                Sat, Apr 03 2021   R-squared (Overall):
Time:                        15:20:01   Log-likelihood
Cov. Estimator:            Unadjusted
                                        F-statistic:                      0.0000
Entities:                         243   P-value                           1.0000
Avg Obs:                       75.461   Distribution:                 F(1,18336)
Min Obs:                       62.000
Max Obs:                       84.000   F-statistic (robust):
                                        P-value
Time periods:                       1   Distribution:                 F(1,18336)
Avg Obs:                    1.834e+04
Min Obs:                    1.834e+04
Max Obs:                    1.834e+04

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
int_ay
==============================================================================


PanelEffectsResults, id: 0x173651c0df0

In [54]:
dft=pd.read_csv('transpose_nfhs_final.csv')
df=pd.read_csv('NFHS4_NFHS5_DISTRICT_DATA_Processed.csv')
dft.shape[0]

33384

In [55]:
len(dft.District.unique())

316

In [56]:
nldt=pd.read_csv('nightlight_transpose_nfhs_data.csv')

nld=pd.read_csv('nightlight_nfhs_data.csv')

In [57]:
rfd=pd.read_csv('rainfall_nfhs_data.csv')
rfd_t=pd.read_csv('transpose_rainfall_data_nfhs.csv')

In [11]:
l=pd.read_csv('districts_list_nfhs.csv')
l2=pd.read_csv('districts_list_nfhs2.csv')

import jelly

In [17]:
l.merge(l2, on='districts', how='inner')

     Unnamed: 0_x     districts  Unnamed: 0_y
0               0    Ahmednagar             3
1               1        Aizawl             4
2               2         Akola             6
3               3     Alappuzha             7
4               4      Amravati            15
..            ...           ...           ...
240           310  West Tripura           625
241           312         Wokha           626
242           315        Yadgir           628
243           316      Yavatmal           631
244           317     Zunheboto           632

[245 rows x 3 columns]

In [32]:
import jellyfish
from jellyfish import jaro_similarity
d={}
mainl=[]
for i in l.districts:
    m=0
    for j in l2.districts:
        score=jaro_similarity(i,j)
        if(score>m):
            l=[i,j]
            d[i]=j
            m=score
    mainl.append(l)

In [34]:
pd.DataFrame(mainl).to_csv('district_mapping_nfhs.csv')

In [87]:
d_map=pd.read_csv('district_mapping_nfhs.csv')

In [59]:
d_map=d_map.dropna()

In [88]:
d_map

     Unnamed: 0                  one          two
0             0           Ahmednagar   Ahmednagar
1             1               Aizawl       Aizawl
2             2                Akola        Akola
3             3            Alappuzha    Alappuzha
4             4             Amravati     Amravati
..          ...                  ...          ...
313         313               Y.S.R.          YSR
314         314  Yadadri Bhuvanagiri  Krishnagiri
315         315               Yadgir       Yadgir
316         316             Yavatmal     Yavatmal
317         317            Zunheboto    Zunheboto

[318 rows x 3 columns]

In [61]:
d={}
for i in range(d_map.shape[0]):
    d[d_map['one'].iat[i]]=d_map['two'].iat[i]

In [89]:
df_t=dft
df_t['districts']=df_t['District'].map(d)
df_t

,District,states,variable,2016,2020,districts,UID2
0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar,AhmednagarMH
1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4,Ahmednagar,AhmednagarMH
2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2,Ahmednagar,AhmednagarMH
3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7,Ahmednagar,AhmednagarMH
4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7,Ahmednagar,AhmednagarMH
...,...,...,...,...,...,...,...
33379,Zunheboto,NL,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,41.2,Zunheboto,ZunhebotoNL
33380,Zunheboto,NL,95. Mildly elevated blood pressure (Systolic 1...,NaN,29.2,Zunheboto,ZunhebotoNL
33381,Zunheboto,NL,96. Moderately or severely elevated blood pres...,3.1,11.8,Zunheboto,ZunhebotoNL
33382,Zunheboto,NL,98.Ever undergone a screening test for cervica...,14.3,0.2,Zunheboto,ZunhebotoNL
33383,Zunheboto,NL,99.Ever undergone a breast examination for bre...,2.0,0.4,Zunheboto,ZunhebotoNL

In [114]:
df_t.districts.isna().value_counts()

False    32136
True      1248
Name: districts, dtype: int64

In [92]:
df_t_append=df_t[df_t.districts.isna()]

In [118]:
df_t_append['2016']

6552    NaN
6553    NaN
6554    NaN
6555    NaN
6556    NaN
         ..
25787   NaN
25788   NaN
25789   NaN
25790   NaN
25791   NaN
Name: 2016, Length: 1248, dtype: float64

In [93]:
df_t_new=df_t.dropna(subset=['districts'])
#len(df_t.districts.value_counts)
df_t_new

,District,states,variable,2016,2020,districts,UID2
0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar,AhmednagarMH
1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4,Ahmednagar,AhmednagarMH
2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2,Ahmednagar,AhmednagarMH
3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7,Ahmednagar,AhmednagarMH
4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7,Ahmednagar,AhmednagarMH
...,...,...,...,...,...,...,...
33379,Zunheboto,NL,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,41.2,Zunheboto,ZunhebotoNL
33380,Zunheboto,NL,95. Mildly elevated blood pressure (Systolic 1...,NaN,29.2,Zunheboto,ZunhebotoNL
33381,Zunheboto,NL,96. Moderately or severely elevated blood pres...,3.1,11.8,Zunheboto,ZunhebotoNL
33382,Zunheboto,NL,98.Ever undergone a screening test for cervica...,14.3,0.2,Zunheboto,ZunhebotoNL
33383,Zunheboto,NL,99.Ever undergone a breast examination for bre...,2.0,0.4,Zunheboto,ZunhebotoNL

In [126]:
df_t[df_t.districts.isna()].District.unique()

array(['DevbhumiDwarka', 'Mahabubabad', 'Mahisagar', 'Majuli',
       'Mancherial', 'Medchal-Malkajgiri', 'Nagarkurnool', 'Palghar',
       'Peddapalli', 'Rajanna Sircilla', 'Sangareddy', 'Sepahijala'],
      dtype=object)

In [86]:
d_map[d_map['two'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, one, two]
Index: []

In [94]:
rfd_t['UID2']=rfd_t['districts']+rfd_t['states']
df_t['UID2']=df_t['districts']+df_t['states']

In [108]:
df_t_new=df_t.merge(rfd_t[['UID2','rainfall_2016','rainfall_2020']],on='UID2',how='outer').dropna(subset=['districts'])

In [109]:
df_t_new

,District,states,variable,2016,2020,districts,UID2,rainfall_2016,rainfall_2020
0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043
1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043
2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2,Ahmednagar,AhmednagarMH,0.099904,0.137043
3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7,Ahmednagar,AhmednagarMH,0.099904,0.137043
4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7,Ahmednagar,AhmednagarMH,0.099904,0.137043
...,...,...,...,...,...,...,...,...,...
54595,Zunheboto,NL,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,41.2,Zunheboto,ZunhebotoNL,0.243050,0.297988
54596,Zunheboto,NL,95. Mildly elevated blood pressure (Systolic 1...,NaN,29.2,Zunheboto,ZunhebotoNL,0.243050,0.297988
54597,Zunheboto,NL,96. Moderately or severely elevated blood pres...,3.1,11.8,Zunheboto,ZunhebotoNL,0.243050,0.297988
54598,Zunheboto,NL,98.Ever undergone a screening test for cervica...,14.3,0.2,Zunheboto,ZunhebotoNL,0.243050,0.297988
54599,Zunheboto,NL,99.Ever undergone a breast examination for bre...,2.0,0.4,Zunheboto,ZunhebotoNL,0.243050,0.297988

In [130]:
df_t_new1=df_t_new1.append(df_t_append)

In [112]:
df_t_new1.District.value_counts()

Bijapur       208
Hamirpur      208
Bilaspur      208
Aurangabad    208
Raigarh       208
             ...
Birbhum       104
Kupwara       104
Bhojpur       104
Davanagere    104
Begusarai     104
Name: District, Length: 316, dtype: int64

In [128]:
nldt['UID2']=nldt['districts']+nldt['states']
df_t_new1=df_t_new.merge(nldt[['UID2','nl_2016','nl_2020']],on='UID2',how='outer').dropna(subset=['districts'])

In [131]:
df_t_new1

,District,states,variable,2016,2020,districts,UID2,rainfall_2016,rainfall_2020,nl_2016,nl_2020
0,Ahmednagar,MH,1. Female population age 6 years and above who...,75.4,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
1,Ahmednagar,MH,10. Households using clean fuel for cooking3 (...,57.8,77.4,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
2,Ahmednagar,MH,100. Ever undergone an oral cavity examination...,14.4,0.2,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
3,Ahmednagar,MH,101. Women age 15 years and above who use any ...,NaN,14.7,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
4,Ahmednagar,MH,102. Men age 15 years and above who use any ki...,NaN,37.7,Ahmednagar,AhmednagarMH,0.099904,0.137043,0.5395,1.159334
...,...,...,...,...,...,...,...,...,...,...,...
25787,Sepahijala,TR,95. Elevated blood pressure (Systolic ≥140 mm ...,NaN,19.9,NaN,NaN,NaN,NaN,NaN,NaN
25788,Sepahijala,TR,95. Mildly elevated blood pressure (Systolic 1...,NaN,11.3,NaN,NaN,NaN,NaN,NaN,NaN
25789,Sepahijala,TR,96. Moderately or severely elevated blood pres...,NaN,3.3,NaN,NaN,NaN,NaN,NaN,NaN
25790,Sepahijala,TR,98.Ever undergone a screening test for cervica...,NaN,0.9,NaN,NaN,NaN,NaN,NaN,NaN
25791,Sepahijala,TR,99.Ever undergone a breast examination for bre...,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
df_t_new1.to_csv('transpose_with_controls_nfhs4_nfhs5_full.csv')

In [120]:
df=pd.read_csv('transpose_with_controls_nfhs4_nfhs5_full.csv')

In [144]:
df['districts']=df['District'].map(d)

In [150]:
df['UID2']=df['districts']+df['states']+df['Year'].apply(str)

In [164]:
nld

,Unnamed: 0,districts,state,UID,variable,value,states
0,0,South Andaman,Andaman and Nicobar,South AndamanAndaman and Nicobar,2016,0.159315,AN
1,639,South Andaman,Andaman and Nicobar,South AndamanAndaman and Nicobar,2020,0.450531,AN
2,1,Nicobar,Andaman and Nicobar,NicobarAndaman and Nicobar,2016,0.022680,AN
3,640,Nicobar,Andaman and Nicobar,NicobarAndaman and Nicobar,2020,0.242715,AN
4,2,North and Middle Andaman,Andaman and Nicobar,North and Middle AndamanAndaman and Nicobar,2016,0.021727,AN
...,...,...,...,...,...,...,...
1273,1275,Darjiling,West Bengal,DarjilingWest Bengal,2020,0.841823,WB
1274,637,Jalpaiguri,West Bengal,JalpaiguriWest Bengal,2016,0.347154,WB
1275,1276,Jalpaiguri,West Bengal,JalpaiguriWest Bengal,2020,0.856079,WB
1276,638,Kochbihar,West Bengal,KochbiharWest Bengal,2016,0.351499,WB
1277,1277,Kochbihar,West Bengal,KochbiharWest Bengal,2020,0.882005,WB

In [162]:
temp_dist=rfd_t[['districts','states','State']].drop_duplicates()
temp_dist['UID']=temp_dist['districts']+temp_dist['State']
nld=nld.merge(temp_dist[['UID','states']], on='UID')
nld['UID2']=nld['districts']+nld['states']+nld['variable'].apply(str)
nld

In [167]:
nld['UID2']=nld['districts']+nld['states']+nld['variable'].apply(str)
nld

,Unnamed: 0,districts,state,UID,variable,value,states,UID2
0,0,South Andaman,Andaman and Nicobar,South AndamanAndaman and Nicobar,2016,0.159315,AN,South AndamanAN2016
1,639,South Andaman,Andaman and Nicobar,South AndamanAndaman and Nicobar,2020,0.450531,AN,South AndamanAN2020
2,1,Nicobar,Andaman and Nicobar,NicobarAndaman and Nicobar,2016,0.022680,AN,NicobarAN2016
3,640,Nicobar,Andaman and Nicobar,NicobarAndaman and Nicobar,2020,0.242715,AN,NicobarAN2020
4,2,North and Middle Andaman,Andaman and Nicobar,North and Middle AndamanAndaman and Nicobar,2016,0.021727,AN,North and Middle AndamanAN2016
...,...,...,...,...,...,...,...,...
1273,1275,Darjiling,West Bengal,DarjilingWest Bengal,2020,0.841823,WB,DarjilingWB2020
1274,637,Jalpaiguri,West Bengal,JalpaiguriWest Bengal,2016,0.347154,WB,JalpaiguriWB2016
1275,1276,Jalpaiguri,West Bengal,JalpaiguriWest Bengal,2020,0.856079,WB,JalpaiguriWB2020
1276,638,Kochbihar,West Bengal,KochbiharWest Bengal,2016,0.351499,WB,KochbiharWB2016
1277,1277,Kochbihar,West Bengal,KochbiharWest Bengal,2020,0.882005,WB,KochbiharWB2020

In [168]:
df_new=df.merge(nld[['UID2','value']],on='UID2',how='outer').dropna(subset=['districts'])

In [169]:
df_new

,state,District,Year,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),6. Deaths in the last 3 years registered with the civil authority (%)(PHP),7. Population living in households with electricity (%)(PHP),...,SK,TN,TR,TS,UK,UP,WB,districts,UID2,value
0,Maharashtra,Ahmednagar,2016.0,75.4,25.8,905.0,843.0,93.4,na,92.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ahmednagar,AhmednagarMH2016,0.539500
1,Maharashtra,Ahmednagar,2020.0,77.4,23.0,967.0,845.0,99.3,85.7,94.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ahmednagar,AhmednagarMH2020,1.159334
2,Mizoram,Aizawl,2016.0,95.9,27.6,1064.0,902.0,96.9,na,99.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Aizawl,AizawlMZ2016,0.073543
3,Mizoram,Aizawl,2020.0,97.8,25.1,1052.0,1042.0,99.3,86.2,99.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Aizawl,AizawlMZ2020,0.323344
4,Maharashtra,Akola,2016.0,83.0,25.0,959.0,878.0,98.7,na,92.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Akola,AkolaMH2016,0.399099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Karnataka,Yadgir,2020.0,51.9,29.2,1020.0,922.0,92.7,74.2,99.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Yadgir,YadgirKA2020,0.698419
996,Maharashtra,Yavatmal,2016.0,76.1,24.7,969.0,863.0,95.8,na,89.6,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Yavatmal,YavatmalMH2016,0.262776
997,Maharashtra,Yavatmal,2020.0,51.9,29.2,1020.0,922.0,92.7,74.2,99.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Yavatmal,YavatmalMH2020,0.737543
998,Nagaland,Zunheboto,2016.0,86.5,29.4,936.0,747.0,58.9,na,99.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Zunheboto,ZunhebotoNL2016,0.096625
999,Nagaland,Zunheboto,2020.0,87.4,22.2,1132.0,1207.0,51.6,51,99.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Zunheboto,ZunhebotoNL2020,0.421629

In [172]:
rfd

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,UID,districts,State,year,date,rf_value
0,2,2,2,South AndamanAndaman and Nicobar,South Andaman,Andaman and Nicobar,2016,01-01-2016,0.302860
1,6,6,6,South AndamanAndaman and Nicobar,South Andaman,Andaman and Nicobar,2020,01-01-2020,0.264579
2,9,9,9,NicobarAndaman and Nicobar,Nicobar,Andaman and Nicobar,2016,01-01-2016,0.347969
3,13,13,13,NicobarAndaman and Nicobar,Nicobar,Andaman and Nicobar,2020,01-01-2020,0.246068
4,16,16,16,North and Middle AndamanAndaman and Nicobar,North and Middle Andaman,Andaman and Nicobar,2016,01-01-2016,0.277899
...,...,...,...,...,...,...,...,...,...
1273,4458,4458,4458,DarjilingWest Bengal,Darjiling,West Bengal,2020,01-01-2020,0.452644
1274,4461,4461,4461,JalpaiguriWest Bengal,Jalpaiguri,West Bengal,2016,01-01-2016,0.344129
1275,4465,4465,4465,JalpaiguriWest Bengal,Jalpaiguri,West Bengal,2020,01-01-2020,0.574333
1276,4468,4468,4468,KochbiharWest Bengal,Kochbihar,West Bengal,2016,01-01-2016,0.368563
1277,4472,4472,4472,KochbiharWest Bengal,Kochbihar,West Bengal,2020,01-01-2020,0.607764

In [174]:
temp_dist=rfd_t[['districts','states','State']].drop_duplicates()
temp_dist['UID']=temp_dist['districts']+temp_dist['State']
rfd=rfd.merge(temp_dist[['UID','states']], on='UID')
rfd['UID2']=rfd['districts']+rfd['states']

In [178]:
rfd['UID2']=rfd['districts']+rfd['states']+rfd['year'].apply(str)
df_new1=df_new.merge(rfd[['UID2','rf_value']],on='UID2',how='outer').dropna(subset=['districts'])
df_new1

,state,District,Year,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),6. Deaths in the last 3 years registered with the civil authority (%)(PHP),7. Population living in households with electricity (%)(PHP),...,TN,TR,TS,UK,UP,WB,districts,UID2,value,rf_value
0,Maharashtra,Ahmednagar,2016.0,75.4,25.8,905.0,843.0,93.4,na,92.2,...,0.0,0.0,0.0,0.0,0.0,0.0,Ahmednagar,AhmednagarMH2016,0.539500,0.099904
1,Maharashtra,Ahmednagar,2020.0,77.4,23.0,967.0,845.0,99.3,85.7,94.5,...,0.0,0.0,0.0,0.0,0.0,0.0,Ahmednagar,AhmednagarMH2020,1.159334,0.137043
2,Mizoram,Aizawl,2016.0,95.9,27.6,1064.0,902.0,96.9,na,99.7,...,0.0,0.0,0.0,0.0,0.0,0.0,Aizawl,AizawlMZ2016,0.073543,0.286498
3,Mizoram,Aizawl,2020.0,97.8,25.1,1052.0,1042.0,99.3,86.2,99.7,...,0.0,0.0,0.0,0.0,0.0,0.0,Aizawl,AizawlMZ2020,0.323344,0.276848
4,Maharashtra,Akola,2016.0,83.0,25.0,959.0,878.0,98.7,na,92.8,...,0.0,0.0,0.0,0.0,0.0,0.0,Akola,AkolaMH2016,0.399099,0.112865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Karnataka,Yadgir,2020.0,51.9,29.2,1020.0,922.0,92.7,74.2,99.0,...,0.0,0.0,1.0,0.0,0.0,0.0,Yadgir,YadgirKA2020,0.698419,0.121832
564,Maharashtra,Yavatmal,2016.0,76.1,24.7,969.0,863.0,95.8,na,89.6,...,0.0,0.0,1.0,0.0,0.0,0.0,Yavatmal,YavatmalMH2016,0.262776,0.129024
565,Maharashtra,Yavatmal,2020.0,51.9,29.2,1020.0,922.0,92.7,74.2,99.0,...,0.0,0.0,1.0,0.0,0.0,0.0,Yavatmal,YavatmalMH2020,0.737543,0.159000
566,Nagaland,Zunheboto,2016.0,86.5,29.4,936.0,747.0,58.9,na,99.4,...,0.0,0.0,0.0,0.0,0.0,0.0,Zunheboto,ZunhebotoNL2016,0.096625,0.243050
567,Nagaland,Zunheboto,2020.0,87.4,22.2,1132.0,1207.0,51.6,51,99.4,...,0.0,0.0,0.0,0.0,0.0,0.0,Zunheboto,ZunhebotoNL2020,0.421629,0.297988

In [186]:
df_new1

,Unnamed: 0,state,District,Year,1. Female population age 6 years and above who ever attended school (%)(PHP),2. Population below age 15 years (%)(PHP),"3. Sex ratio of the total population (females per 1,000 males)(PHP)","4. Sex ratio at birth for children born in the last five years (females per 1,000 males)(PHP)",5. Children under age 5 years whose birth was registered with the civil authority (%)(PHP),6. Deaths in the last 3 years registered with the civil authority (%)(PHP),...,99.Ever undergone a breast examination for breast cancer (%)(TUACA(Age>=150)),100. Ever undergone an oral cavity examination for oral cancer (%)(TUACA(Age>=150)),101. Women age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150)),102. Men age 15 years and above who use any kind of tobacco (%)(TUACA(Age>=150)),103. Women age 15 years and above who consume alcohol (%)(TUACA(Age>=150)),104. Men age 15 years and above who consume alcohol (%)(TUACA(Age>=150)),states,districts_for_merging,nl_value,rf_value
0,0,Maharashtra,Ahmednagar,2016,75.4,25.8,905,843,93.4,na,...,28.9,14.4,na,na,na,na,MH,Ahmednagar,0.539500,0.099904
1,1,Maharashtra,Ahmednagar,2020,77.4,23.0,967,845,99.3,85.7,...,0.2,0.2,14.7,37.7,0.2,10.5,MH,Ahmednagar,1.159334,0.137043
2,2,Mizoram,Aizawl,2016,95.9,27.6,1064,902,96.9,na,...,10.2,33.7,na,na,na,na,MZ,Aizawl,0.073543,0.286498
3,3,Mizoram,Aizawl,2020,97.8,25.1,1052,1042,99.3,86.2,...,4.7,1.6,54.7,68.7,1,25.8,MZ,Aizawl,0.323344,0.276848
4,4,Maharashtra,Akola,2016,83.0,25.0,959,878,98.7,na,...,9.3,11.0,na,na,na,na,MH,Akola,0.399099,0.112865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,563,Karnataka,Yadgir,2020,51.9,29.2,1020,922,92.7,74.2,...,0.1,0.2,14.6,31.8,1.1,19.4,KA,Yadgir,0.698419,0.121832
564,564,Maharashtra,Yavatmal,2016,76.1,24.7,969,863,95.8,na,...,35.9,30.9,na,na,na,na,MH,Yavatmal,0.262776,0.129024
565,565,Maharashtra,Yavatmal,2020,51.9,29.2,1020,922,92.7,74.2,...,0.1,0.2,14.6,31.8,1.1,19.4,MH,Yavatmal,0.737543,0.159000
566,566,Nagaland,Zunheboto,2016,86.5,29.4,936,747,58.9,na,...,2.0,8.6,na,na,na,na,NL,Zunheboto,0.096625,0.243050
567,567,Nagaland,Zunheboto,2020,87.4,22.2,1132,1207,51.6,51,...,0.4,0.7,8,48.9,0.2,21.3,NL,Zunheboto,0.421629,0.297988

In [179]:
df_new1.to_csv('NFHS4_5_data_processed_with_controls.csv')

In [192]:
df_new1=pd.read_csv('nfhs4_nfhs5_with_controls_wo_border_marking.csv')

In [204]:
df=df_new1
for i in cols:
    for j in range(df.shape[0]):
        if(isinstance(df[i].iat[j],str)):
            df[i].iat[j]=df[i].iat[j].replace(',','')
            df[i].iat[j]=df[i].iat[j].replace('(','')
            df[i].iat[j]=df[i].iat[j].replace(')','')
            df[i].iat[j]=df[i].iat[j].replace('-','')
            if(df[i].iat[j]!='na' and df[i].iat[j]!='*' and df[i].iat[j]!='nan' and df[i].iat[j]!=' *'):
                df[i].iat[j]=float(df[i].iat[j])
    for j in range(df.shape[0]):
        if(isinstance(df[i].iat[j],int) or isinstance(df[i].iat[j],float)):
            df[i].iat[j]=abs(df[i].iat[j])   
        if(df[i].iat[j]=='na' or df[i].iat[j]=='*' or df[i].iat[j]=='nan' or df[i].iat[j]==' *'):
                df[i].iat[j]=None

In [212]:
temp=pd.melt(df,id_vars=['state','District','Year','states','districts_for_merging','nl_value','rf_value'],value_vars=cols,value_name='pct')

In [191]:
df_new1.columns[82]

'79. Women who are overweight or obese (BMI â‰¥25.0 kg/m2)21 (%)(ACW)'

In [206]:
temp

,state,District,Year,states,districts_for_merging,nl_value,rf_value,variable,pct
0,Maharashtra,Ahmednagar,2016,MH,Ahmednagar,0.539500,0.099904,1. Female population age 6 years and above who...,75.4
1,Maharashtra,Ahmednagar,2020,MH,Ahmednagar,1.159334,0.137043,1. Female population age 6 years and above who...,77.4
2,Mizoram,Aizawl,2016,MZ,Aizawl,0.073543,0.286498,1. Female population age 6 years and above who...,95.9
3,Mizoram,Aizawl,2020,MZ,Aizawl,0.323344,0.276848,1. Female population age 6 years and above who...,97.8
4,Maharashtra,Akola,2016,MH,Akola,0.399099,0.112865,1. Female population age 6 years and above who...,83
...,...,...,...,...,...,...,...,...,...
59067,Karnataka,Yadgir,2020,KA,Yadgir,0.698419,0.121832,104. Men age 15 years and above who consume al...,19.4
59068,Maharashtra,Yavatmal,2016,MH,Yavatmal,0.262776,0.129024,104. Men age 15 years and above who consume al...,None
59069,Maharashtra,Yavatmal,2020,MH,Yavatmal,0.737543,0.159000,104. Men age 15 years and above who consume al...,19.4
59070,Nagaland,Zunheboto,2016,NL,Zunheboto,0.096625,0.243050,104. Men age 15 years and above who consume al...,None
59071,Nagaland,Zunheboto,2020,NL,Zunheboto,0.421629,0.297988,104. Men age 15 years and above who consume al...,21.3

In [213]:
b_merge=pd.read_csv('bucket_merging.csv')

In [214]:
b_merge

,Classes,Buckets,variable
0,Neutral,Population and Household Profile,1. Female population age 6 years and above who...
1,Neutral,Population and Household Profile,2. Population below age 15 years (%)(PHP)
2,Neutral,Population and Household Profile,3. Sex ratio of the total population (females ...
3,Neutral,Population and Household Profile,4. Sex ratio at birth for children born in the...
4,Neutral,Population and Household Profile,5. Children under age 5 years whose birth was ...
...,...,...,...
99,Neutral,Women Age 15-49 Years Who Have Ever Undergone ...,100. Ever undergone an oral cavity examination...
100,Neutral,Tobacco and Alcohol Consumption,101. Women age 15 years and above who use any ...
101,Neutral,Tobacco and Alcohol Consumption,102. Men age 15 years and above who use any ki...
102,Neutral,Tobacco and Alcohol Consumption,103. Women age 15 years and above who consume ...
103,Neutral,Tobacco and Alcohol Consumption,104. Men age 15 years and above who consume al...

In [215]:
temp=temp.merge(b_merge, on='variable')

In [235]:
temp['UID']=temp['District']+temp['state']

In [245]:
mainl=[]

for i in ['Positive','Negative','Spec']:
    temp1=temp[temp['Classes']==i]
    for j in temp.UID.unique():
        dist_temp=temp1[temp['UID']==j]
        for k in dist_temp.Year.unique():
            t_year=dist_temp[dist_temp['Year']==k]
            mean=t_year['pct'].dropna().mean()
            l=[t_year.District.iat[0],t_year.states.iat[0], k, i, t_year.nl_value.iat[0], t_year.rf_value.iat[0], t_year.districts_for_merging.iat[0],mean]
            mainl.append(l)

python-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]
<ipython-input-245-ca2c8461de35>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dist_temp=temp1[temp['UID']==j]

In [247]:
df_final=pd.DataFrame(mainl,columns=['district','states','year','class','nl_value','rf_value','districts_for_merging','mean'])

In [248]:
t=df_final.set_index(['district','states','year','class','nl_value','rf_value','districts_for_merging'])
t=t.unstack(3)
t

                                                                     mean  \
class                                                            Negative
district   states year nl_value rf_value districts_for_merging
Ahmednagar MH     2016 0.539500 0.099904 Ahmednagar             15.454167
                  2020 1.159334 0.137043 Ahmednagar             20.803333
Aizawl     MZ     2016 0.073543 0.286498 Aizawl                 10.741667
                  2020 0.323344 0.276848 Aizawl                 17.763333
Akola      MH     2016 0.399099 0.112865 Akola                  15.717391
...                                                                   ...
Yadgir     KA     2020 0.698419 0.121832 Yadgir                 21.990000
Yavatmal   MH     2016 0.262776 0.129024 Yavatmal               19.679167
                  2020 0.737543 0.159000 Yavatmal               22.046667
Zunheboto  NL     2016 0.096625 0.243050 Zunheboto              13.666667
                  2020 0.421629 0.297988 Zunheboto              20.276667

                                                                           \
class                                                            Positive
district   states year nl_value rf_value districts_for_merging
Ahmednagar MH     2016 0.539500 0.099904 Ahmednagar             45.207895
                  2020 1.159334 0.137043 Ahmednagar             54.222222
Aizawl     MZ     2016 0.073543 0.286498 Aizawl                 48.910256
                  2020 0.323344 0.276848 Aizawl                 46.766667
Akola      MH     2016 0.399099 0.112865 Akola                  53.471429
...                                                                   ...
Yadgir     KA     2020 0.698419 0.121832 Yadgir                 51.060465
Yavatmal   MH     2016 0.262776 0.129024 Yavatmal               50.112821
                  2020 0.737543 0.159000 Yavatmal               52.716279
Zunheboto  NL     2016 0.096625 0.243050 Zunheboto              24.922222
                  2020 0.421629 0.297988 Zunheboto              37.147619


class                                                              Spec
district   states year nl_value rf_value districts_for_merging
Ahmednagar MH     2016 0.539500 0.099904 Ahmednagar              4851.0
                  2020 1.159334 0.137043 Ahmednagar              5575.0
Aizawl     MZ     2016 0.073543 0.286498 Aizawl                  5087.0
                  2020 0.323344 0.276848 Aizawl                  9812.0
Akola      MH     2016 0.399099 0.112865 Akola                   1711.0
...                                                                 ...
Yadgir     KA     2020 0.698419 0.121832 Yadgir                  4386.0
Yavatmal   MH     2016 0.262776 0.129024 Yavatmal                1954.0
                  2020 0.737543 0.159000 Yavatmal                1734.0
Zunheboto  NL     2016 0.096625 0.243050 Zunheboto              10499.0
                  2020 0.421629 0.297988 Zunheboto               7554.0

[568 rows x 3 columns]

In [249]:
t.to_csv('final_negative_positive_classes.csv')

In [230]:
t=pd.read_csv('final_negative_positive_classes.csv')

In [232]:
t.district.value_counts()

Kiphire                 2
Vizianagaram            2
Anantnag                2
East District           2
Gulbarga                2
                       ..
Dadra _ Nagar Haveli    1
Punch                   1
Kathua                  1
Vikarabad               1
Thoubal                 1
Name: district, Length: 304, dtype: int64

In [233]:
df_new1.District.value_counts()

Aurangabad        4
Bilaspur          3
Raigarh           3
Bijapur           3
Hamirpur          3
                 ..
Kathua            1
Punch             1
Vikarabad         1
Warangal Rural    1
Nirmal            1
Name: District, Length: 304, dtype: int64

In [182]:
n=int(input())
num=0
for i in range(1,n):
    print(i*(num*10+1))
    num=num*10+1

1
22

In [ ]:
temp=s.split('-')
temp=temp[1:]
s=''.join(temp)

In [183]:
#make the duplicate column of cati name so that you get the ictos with the spelling that occurs in the dataset column
new_df['uid']=new_df['Cati_name']
new_df.merge(df2,on='uid')

#original spelling and ictos
new_df['column']=new_df['Cati_name']+'('+new_df['ICTO'].apply(str)+')'
list_of_cati=list(new_df['cati_name'])
list_of_unique_cati=list(new_df['cati_name'].unique())
list_of_replacements=list(new_df['new_column'])###(none)


for i in range(len(list_of_cati)):
    if('ICTO' in i):
        d[list_of_cati[i]]=list_of_replacements[i]# mapping it to the replacement string if ICTO present
    else:
        d[list_of_cati[i]]=list_of_cati[i]# mapping it to itself if it ICTO not in the replacement string




for i in range(df.shape[0]):
    s=df.dataset_for_col.iat[i]
    for name in list_of_unique_cati:
        if(name in s):
            new_string=s.replace(name,d[name])
            df.dataset_for_col.iat[i]=new_string

    


#d['original name'] will output new_name

SyntaxError: invalid syntax (<ipython-input-183-30bbf67e5823>, line 2)

In [184]:
d={'1':2}

In [185]:
d['1']

2

In [ ]:
for i in range(len(l)):
    if(l[i][0]==' '):
        l[0]=l[0][1:]
    if(l[i][-1]==' '):
        l[i]=l[i][:len(l[i])-1]