In [1]:
import pandas as pd
import os
os.chdir('C:\\Users\\akhil\\Downloads')
mfi=pd.read_stata('MFI_cnt (1).dta')

In [184]:
mfi

,night_lights,qrt_yr,district,rainfall,unnamed0,disbursal_period_actual,quarterofbookclosingperoid,state,ru_classification,lendertype,...,value_default_30_90,value_default_1_90,value_default_91_180,value_default_90_plus,value_default_180_plus,value_default_360_plus,val_def,int_ay,int_pmk,pre_lend
0,2.323529,2018Q2,AGRA,0.041636,6377.0,BEFORE FY 2017-18,Q2,UP,,Banks,...,0.236073,0.236073,0.343015,0.614823,0.271808,0.000000,0.850897,0.0,0.0,1.0
1,1.793267,2018Q3,AGRA,0.349963,11376.0,FY 2017-2018 Q1,Q3,UP,Semi-Urban,NBFC MFI,...,0.035239,0.068193,0.021084,0.021977,0.000893,0.000000,0.090170,0.0,0.0,1.0
2,2.983452,2018Q4,AGRA,0.005660,17677.0,FY 2017-2018 Q2,Q4,UP,Semi-Urban,Banks,...,0.001747,0.004881,0.004057,0.004057,0.000000,0.000000,0.008938,0.0,0.0,1.0
3,2.879875,2019Q1,AGRA,0.025102,11783.0,FY 2017-2018 Q4,Q1,UP,Rural,Banks,...,0.003098,0.005992,0.000000,0.000000,0.000000,0.000000,0.005992,1.0,1.0,1.0
4,2.435467,2019Q2,AGRA,0.029124,29992.0,FY 2017-2018 Q1,Q2,UP,Rural,SFBs,...,0.143402,0.285784,0.138213,0.344136,0.205922,0.046289,0.629920,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341030,0.478021,2020Q1,ZUNHEBOTO,0.044609,36077.0,FY 2017-2018 Q4,Q1,NL,Semi-Urban,Banks,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0
341031,0.478021,2020Q1,ZUNHEBOTO,0.044609,47590.0,FY 2017-2018 Q2,Q1,NL,Semi-Urban,Banks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
341032,0.478021,2020Q1,ZUNHEBOTO,0.044609,47588.0,FY 2017-2018 Q2,Q1,NL,Rural,Banks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
341033,0.478021,2020Q1,ZUNHEBOTO,0.044609,37612.0,FY 2019-2020 Q1,Q1,NL,Semi-Urban,Banks,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.0
341034,0.478021,2020Q1,ZUNHEBOTO,0.044609,37610.0,FY 2019-2020 Q1,Q1,NL,Rural,Banks,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.0

In [100]:
mfi.columns
ru_type=mfi['ru_classification'].unique()
len_type=mfi['lendertype'].unique()
print(ru_type,len_type)

['' 'Semi-Urban' 'Rural' 'Urban'] ['Banks' 'NBFC MFI' 'SFBs' 'Others' '']

In [151]:
cols=['night_lights', 'qrt_yr', 'district', 'rainfall', 'disbursal_period_actual', 'quarterofbookclosingperoid', 'state','ru_classification', 'lendertype', 'avgticketsize','val_def','volume_def','volume_default_90_plus', 'int_ay', 'int_pmk', 'pre_lend','dummy_rural', 'urban', 'dummy_semi_urban', 'dummy_sfbs','dummy_others_len', 'dummy_banks', 'dummy_nbfcs',  'border', 'border_statewise', 'border_state_DL','border_state_WB', 'border_state_OR', 'border_state_TS','border_district_DL', 'border_district_WB', 'border_district_OR','border_district_TS', 'final_border_abimp']
cols2=['night_lights', 'qrt_yr', 'district', 'rainfall', 'disbursal_period_actual', 'quarterofbookclosingperoid', 'state','ru_classification', 'lendertype', 'avgticketsize','val_def','volume_def','volume_default_90_plus', ,'val_def_90_plus''int_ay', 'int_pmk', 'pre_lend','dummy_rural', 'urban', 'dummy_semi_urban', 'dummy_sfbs','dummy_others_len', 'dummy_banks', 'dummy_nbfcs']

In [152]:
rural=[]
semi_urban=[]
urban=[]
others_len=[]
sfbs=[]
banks=[]
nbfc_mfi=[]
for i in range(mfi.shape[0]):
    if(mfi.ru_classification.iat[i]=='Rural'):
        rural.append(1)
        semi_urban.append(0)
        urban.append(0)
    elif(mfi.ru_classification.iat[i]=='Urban'):
        rural.append(0)
        semi_urban.append(0)
        urban.append(1)
    elif(mfi.ru_classification.iat[i]=='Semi-Urban'):
        rural.append(0)
        semi_urban.append(1)
        urban.append(0)
    else:
        rural.append(0)
        semi_urban.append(0)
        urban.append(0)
len_type=['Others', 'SFBs', 'Banks', 'NBFC MFI']
for i in range(mfi.shape[0]):
    if(mfi.lendertype.iat[i]==len_type[0]):
        others_len.append(1)
        sfbs.append(0)
        nbfc_mfi.append(0)
        banks.append(0)
    elif(mfi.lendertype.iat[i]==len_type[1]):
        others_len.append(0)
        sfbs.append(1)
        nbfc_mfi.append(0)
        banks.append(0)
    elif(mfi.lendertype.iat[i]==len_type[2]):
        others_len.append(0)
        sfbs.append(0)
        nbfc_mfi.append(0)
        banks.append(1)
    elif(mfi.lendertype.iat[i]==len_type[3]):
        others_len.append(0)
        sfbs.append(0)
        nbfc_mfi.append(1)
        banks.append(0)
    else:
        others_len.append(0)
        sfbs.append(0)
        nbfc_mfi.append(0)
        banks.append(0)

In [188]:
mfi['dummy_rural']=rural
mfi['urban']=urban
mfi['dummy_semi_urban']=semi_urban
mfi['dummy_sfbs']=sfbs
mfi['dummy_others_len']=others_len
mfi['dummy_banks']=banks
mfi['dummy_nbfcs']=nbfc_mfi

In [110]:
border_markings=pd.read_csv('districts_correct.csv')

In [189]:
mfi1=mfi[cols2]
mfi1

,night_lights,qrt_yr,district,rainfall,disbursal_period_actual,quarterofbookclosingperoid,state,ru_classification,lendertype,avgticketsize,...,int_ay,int_pmk,pre_lend,dummy_rural,urban,dummy_semi_urban,dummy_sfbs,dummy_others_len,dummy_banks,dummy_nbfcs
0,2.323529,2018Q2,AGRA,0.041636,BEFORE FY 2017-18,Q2,UP,,Banks,21167.0,...,0.0,0.0,1.0,0,0,0,0,0,1,0
1,1.793267,2018Q3,AGRA,0.349963,FY 2017-2018 Q1,Q3,UP,Semi-Urban,NBFC MFI,31383.0,...,0.0,0.0,1.0,0,0,1,0,0,0,1
2,2.983452,2018Q4,AGRA,0.005660,FY 2017-2018 Q2,Q4,UP,Semi-Urban,Banks,23170.0,...,0.0,0.0,1.0,0,0,1,0,0,1,0
3,2.879875,2019Q1,AGRA,0.025102,FY 2017-2018 Q4,Q1,UP,Rural,Banks,22898.0,...,1.0,1.0,1.0,1,0,0,0,0,1,0
4,2.435467,2019Q2,AGRA,0.029124,FY 2017-2018 Q1,Q2,UP,Rural,SFBs,36764.0,...,1.0,1.0,1.0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341030,0.478021,2020Q1,ZUNHEBOTO,0.044609,FY 2017-2018 Q4,Q1,NL,Semi-Urban,Banks,50000.0,...,1.0,1.0,1.0,0,0,1,0,0,1,0
341031,0.478021,2020Q1,ZUNHEBOTO,0.044609,FY 2017-2018 Q2,Q1,NL,Semi-Urban,Banks,NaN,...,1.0,1.0,1.0,0,0,1,0,0,1,0
341032,0.478021,2020Q1,ZUNHEBOTO,0.044609,FY 2017-2018 Q2,Q1,NL,Rural,Banks,NaN,...,1.0,1.0,1.0,1,0,0,0,0,1,0
341033,0.478021,2020Q1,ZUNHEBOTO,0.044609,FY 2019-2020 Q1,Q1,NL,Semi-Urban,Banks,62750.0,...,1.0,1.0,0.0,0,0,1,0,0,1,0
341034,0.478021,2020Q1,ZUNHEBOTO,0.044609,FY 2019-2020 Q1,Q1,NL,Rural,Banks,36667.0,...,1.0,1.0,0.0,1,0,0,0,0,1,0

In [190]:
mfi1=mfi1.merge(border_markings,on='district')

In [191]:
mfi_bord=mfi1[mfi1['border']==1]

In [192]:
mfi_bord

,night_lights,qrt_yr,district,rainfall,disbursal_period_actual,quarterofbookclosingperoid,state,ru_classification,lendertype,avgticketsize,...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
0,2.323529,2018Q2,AGRA,0.041636,BEFORE FY 2017-18,Q2,UP,,Banks,21167.0,...,0,0,1,0,0,0,0,0,1,0
1,1.793267,2018Q3,AGRA,0.349963,FY 2017-2018 Q1,Q3,UP,Semi-Urban,NBFC MFI,31383.0,...,0,0,1,0,0,0,0,0,1,0
2,2.983452,2018Q4,AGRA,0.005660,FY 2017-2018 Q2,Q4,UP,Semi-Urban,Banks,23170.0,...,0,0,1,0,0,0,0,0,1,0
3,2.879875,2019Q1,AGRA,0.025102,FY 2017-2018 Q4,Q1,UP,Rural,Banks,22898.0,...,0,0,1,0,0,0,0,0,1,0
4,2.435467,2019Q2,AGRA,0.029124,FY 2017-2018 Q1,Q2,UP,Rural,SFBs,36764.0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341030,NaN,2020Q1,WEST JAINTIA HILLS,NaN,FY 2018-2019 Q3,Q1,ML,Rural,Banks,56875.0,...,0,0,0,0,0,0,0,0,0,0
341031,NaN,2020Q1,WEST JAINTIA HILLS,NaN,FY 2019-2020 Q1,Q1,ML,Urban,NBFC MFI,30000.0,...,0,0,0,0,0,0,0,0,0,0
341032,NaN,2020Q1,WEST JAINTIA HILLS,NaN,FY 2018-2019 Q2,Q1,ML,Semi-Urban,Banks,80000.0,...,0,0,0,0,0,0,0,0,0,0
341033,NaN,2020Q1,WEST JAINTIA HILLS,NaN,FY 2018-2019 Q4,Q1,ML,Rural,SFBs,35625.0,...,0,0,0,0,0,0,0,0,0,0
341034,NaN,2020Q1,WEST JAINTIA HILLS,NaN,FY 2018-2019 Q1,Q1,ML,Urban,NBFC MFI,29800.0,...,0,0,0,0,0,0,0,0,0,0

In [193]:
def get_dates(df):
    l=[]
    for i in range(df.shape[0]):
        
        year=df['qrt_yr'].iat[i][0:4]
        if(df['qrt_yr'].iat[i][4:]=='Q1'):
            l.append(year+'-01-01')
        elif(df['qrt_yr'].iat[i][4:]=='Q2'):
            l.append(year+'-04-01')
        elif(df['qrt_yr'].iat[i][4:]=='Q3'):
            l.append(year+'-07-01')
        elif(df['qrt_yr'].iat[i][4:]=='Q4'):
            l.append(year+'-10-01')
        else:
            l.append(None)
    df['date']=pd.to_datetime(l)    
    return df

In [194]:
mfi_bord=get_dates(mfi_bord)

<ipython-input-193-c5952187962d>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date']=pd.to_datetime(l)

In [175]:
mfi_bord.date

256      2018-04-01
257      2018-07-01
258      2018-10-01
259      2019-01-01
260      2019-04-01
            ...
337058   2020-01-01
337059   2020-01-01
337060   2020-01-01
337061   2020-01-01
337062   2020-01-01
Name: date, Length: 34660, dtype: datetime64[ns]

In [73]:
plac_states=['CG','UP','HR','JH','BR','AS','SK']

In [203]:
import random
def get_rand_3_states(l):
    return random.sample(l,3)

def get_bord_districts(df,test):
    return df[(df[test[0]]==1)|(df[test[1]]==1)|(df[test[2]]==1)]

def get_non_imp(df):
    return df[(df['state']!='OR')&(df['state']!='WB')&(df['state']!='DL')]

def get_fk_df(df,test):
    t=[]
    for i in range(df.shape[0]):
        if(df['state'].iat[i]==test[0] or df['state'].iat[i]==test[1] or df['state'].iat[i]==test[2]):
            t.append(0)
        else:
            t.append(df.int_ay.iat[i])
    df['int_ay']=t
    return df

from linearmodels import PanelOLS
def vol_reg(df):
    df=df.set_index(['district','date'])
    df=df[df['ru_classification']!='']
    df=df[df['lendertype']!='']
    df['const']=1
    mod = PanelOLS(df['volume_default_90_plus'],df[['int_ay','urban', 'dummy_semi_urban', 'dummy_sfbs', 'dummy_banks', 'dummy_nbfcs','const']],entity_effects=True,time_effects=True)
    res = mod.fit(cluster_entity=True,cov_type='clustered')
    return [res.params[0],res.pvalues[0],res.tstats[0]]

In [215]:

mainl=[]
c=0
for i in range(100):
    c+=1
    non_imp=get_non_imp(mfi_bord)
    test=get_rand_3_states(plac_states)
    temp=get_bord_districts(non_imp,test)
    reg_df=get_fk_df(temp,test)
    coefs_p_t=vol_reg(reg_df)
    coefs_p_t.append(test)
    mainl.append(coefs_p_t)
    print(coefs_p_t,c)

with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.005390403650233155, 0.4571158125236534, -0.743614493212048, ['CG', 'HR', 'SK']] 9
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.013195346116378641, 0.020932835102123626, 2.3092997505625688, ['BR', 'HR', 'UP']] 10
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.016380915657242496, 0.01298527509483871, 2.4842770159346874, ['AS', 'SK', 'HR']] 11
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.00043745428332192803, 0.9298085953896074, -0.08808614750313462, ['CG', 'UP', 'BR']] 12
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.0006382013054685881, 0.8941134950128087, -0.1331015920566138, ['HR', 'AS', 'SK']] 13
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.008555447288469166, 0.13663363260577732, 1.488469132523412, ['SK', 'CG', 'UP']] 14
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.00829712493402285, 0.06360893038039772, 1.8549502014164563, ['JH', 'CG', 'UP']] 15
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.003437727130872408, 0.4731312811221786, -0.7173994144988555, ['AS', 'SK', 'BR']] 16
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.0023846198043597083, 0.6110541684815156, -0.508573198733749, ['CG', 'UP', 'JH']] 17
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.011335718685080052, 0.04901278887986904, 1.9685731839104315, ['BR', 'SK', 'HR']] 18
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.016727791882166006, 0.003530641282408098, -2.9174675188540258, ['SK', 'JH', 'BR']] 19
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.0022727994580503735, 0.6771913635920503, 0.4163030197133601, ['SK', 'CG', 'UP']] 20
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.014235487815869126, 0.0036907742978709024, 2.90358551740779, ['HR', 'UP', 'JH']] 21
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.00450055656820082, 0.3636072852411165, 0.9085267631489494, ['JH', 'AS', 'SK']] 22
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.006160030399435625, 0.3652666486991287, 0.9053856642659395, ['AS', 'SK', 'CG']] 23
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.005086583193869209, 0.30878056851899816, -1.017795363490797, ['HR', 'CG', 'AS']] 24
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.00793660035242827, 0.11301683041679111, 1.5848020276615513, ['CG', 'JH', 'UP']] 25
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.00936900013162339, 0.18736730142298086, 1.318423868224158, ['HR', 'JH', 'SK']] 26
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.006837432608415805, 0.17386578923246265, -1.3599081366006098, ['BR', 'JH', 'SK']] 27
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.0045557300096424275, 0.34345925791302956, 0.9473641722921389, ['AS', 'UP', 'JH']] 28
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.01151930004875472, 0.02537694679075808, -2.2356810028921976, ['AS', 'BR', 'CG']] 29
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.004637976673144737, 0.22672564522007987, 1.208856614891982, ['UP', 'JH', 'CG']] 30
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.001505785676041865, 0.8139126720032228, 0.23538310084013617, ['AS', 'SK', 'UP']] 31
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.004617075055877299, 0.35394883004230904, 0.926970450552165, ['JH', 'CG', 'UP']] 32
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.012843438627026766, 0.07200785576275082, -1.7991110529404393, ['CG', 'AS', 'BR']] 33
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[-0.016856785812366843, 0.002445359754603471, -3.030159676514269, ['JH', 'BR', 'CG']] 34
<ipython-input-203-fd2e0115f804>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_ay']=t
C:\Users\akhil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\linearmodels\shared\exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)
[0.000749208661118805, 0.8764477485328492, 0.15547500176857834, ['JH', 'SK', 'HR']] 35

In [216]:
reg_res1=pd.DataFrame(mainl,columns=['coef','p','t','state_comb']).drop_duplicates('coef')
reg_res1.shape[0]

35

In [217]:
reg_res1.to_csv('volume_coefficients_regression_result3.csv')

In [218]:
df=pd.read_csv('volume_coefficients_regression_result3.csv')

In [211]:
l=list(df['state_comb'])
l

["['BR', 'HR', 'AS']",
 "['AS', 'UP', 'JH']",
 "['JH', 'SK', 'BR']",
 "['JH', 'BR', 'AS']",
 "['JH', 'BR', 'HR']",
 "['AS', 'SK', 'CG']",
 "['HR', 'CG', 'BR']",
 "['CG', 'JH', 'UP']",
 "['CG', 'BR', 'SK']",
 "['HR', 'CG', 'SK']",
 "['UP', 'SK', 'CG']",
 "['SK', 'UP', 'HR']",
 "['UP', 'JH', 'HR']",
 "['HR', 'AS', 'JH']",
 "['BR', 'HR', 'UP']",
 "['AS', 'CG', 'HR']",
 "['AS', 'CG', 'BR']",
 "['CG', 'SK', 'JH']",
 "['UP', 'SK', 'AS']",
 "['JH', 'SK', 'AS']",
 "['CG', 'UP', 'BR']",
 "['SK', 'BR', 'AS']",
 "['UP', 'SK', 'BR']",
 "['JH', 'CG', 'HR']",
 "['UP', 'HR', 'AS']",
 "['UP', 'AS', 'CG']",
 "['SK', 'UP', 'JH']",
 "['SK', 'HR', 'BR']",
 "['AS', 'UP', 'BR']",
 "['HR', 'SK', 'JH']",
 "['CG', 'AS', 'JH']",
 "['JH', 'CG', 'BR']",
 "['JH', 'UP', 'BR']",
 "['CG', 'HR', 'UP']",
 "['HR', 'AS', 'SK']"]

In [168]:
df1.state.unique()

array(['UP', 'WB', 'OR', 'CG', 'JH', 'DL', 'AS', 'SK', 'HR', 'BR'],
      dtype=object)

In [186]:
#df1=get_bord_districts(mfi_bord,['DL','OR','WB'])
df1=mfi_bord
df1=df1[df1['ru_classification']!='']
df1=df1[df1['lendertype']!='']
df1=df1.set_index(['district','date'])
df1['const']=1
mod = PanelOLS(df1['volume_default_90_plus'],df1[['int_ay', 'urban', 'dummy_semi_urban' ,'dummy_sfbs', 'dummy_banks','dummy_nbfcs','const']],entity_effects=True,time_effects=True)
res = mod.fit(cluster_entity=True,cov_type='clustered')
res

                            PanelOLS Estimation Summary
====================================================================================
Dep. Variable:     volume_default_90_plus   R-squared:                        0.0105
Estimator:                       PanelOLS   R-squared (Between):              0.0401
No. Observations:                   28353   R-squared (Within):               0.0066
Date:                    Fri, Apr 09 2021   R-squared (Overall):              0.0047
Time:                            20:32:38   Log-likelihood                    2581.8
Cov. Estimator:                 Clustered
                                            F-statistic:                      49.804
Entities:                              65   P-value                           0.0000
Avg Obs:                           436.20   Distribution:                 F(6,28275)
Min Obs:                           146.00
Max Obs:                           624.00   F-statistic (robust):             14.328
                                            P-value                           0.0000
Time periods:                           8   Distribution:                 F(6,28275)
Avg Obs:                           3544.1
Min Obs:                           1658.0
Max Obs:                           5343.0

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
int_ay              -0.0205     0.0059    -3.4814     0.0005     -0.0320     -0.0089
urban                0.0050     0.0045     1.1148     0.2649     -0.0038      0.0139
dummy_semi_urban    -0.0044     0.0047    -0.9477     0.3433     -0.0136      0.0047
dummy_sfbs          -0.0629     0.0103    -6.1072     0.0000     -0.0831     -0.0427
dummy_banks         -0.0394     0.0108    -3.6465     0.0003     -0.0605     -0.0182
dummy_nbfcs         -0.0428     0.0095    -4.5042     0.0000     -0.0615     -0.0242
const                0.1352     0.0078     17.261     0.0000      0.1198      0.1505
====================================================================================

F-test for Poolability: 13.904
P-value: 0.0000
Distribution: F(71,28275)

Included effects: Entity, Time
PanelEffectsResults, id: 0x26028255670

In [219]:
plac_states=['CG','UP','HR','JH','BR','AS','SK']
d={'CG':'Chattisgarh','UP':'Uttar Pradesh','HR':'Haryana','JH':'Jharkhand','BR':'Bihar','AS':'Assam','SK':'Sikkim'}
for i in range(df.shape[0]):
    l=eval(df.state_comb.iat[i])
    #print(l)
    for j in range(len(l)):
        l[j]=d[l[j]]
    s=l[0]+', '+l[1]+', '+l[2]
    df.state_comb.iat[i]=s
df

,Unnamed: 0,coef,p,t,state_comb
0,0,0.001945,0.611451,0.508006,"Jharkhand, Assam, Haryana"
1,1,0.002019,0.666356,0.431157,"Sikkim, Assam, Uttar Pradesh"
2,2,0.007470,0.228790,1.203512,"Bihar, Jharkhand, Haryana"
3,3,-0.005573,0.327168,-0.979847,"Bihar, Chattisgarh, Uttar Pradesh"
4,4,0.006053,0.112491,1.587126,"Haryana, Assam, Jharkhand"
5,5,-0.009817,0.190839,-1.308134,"Sikkim, Bihar, Chattisgarh"
6,6,0.004841,0.310953,1.013236,"Uttar Pradesh, Jharkhand, Bihar"
7,7,0.004823,0.277434,1.086112,"Uttar Pradesh, Chattisgarh, Haryana"
8,8,-0.005390,0.457116,-0.743614,"Chattisgarh, Haryana, Sikkim"
9,9,0.013195,0.020933,2.309300,"Bihar, Haryana, Uttar Pradesh"
10,10,0.016381,0.012985,2.484277,"Assam, Sikkim, Haryana"
11,11,-0.000437,0.929809,-0.088086,"Chattisgarh, Uttar Pradesh, Bihar"
12,12,-0.000638,0.894113,-0.133102,"Haryana, Assam, Sikkim"
13,13,0.008555,0.136634,1.488469,"Sikkim, Chattisgarh, Uttar Pradesh"
14,14,0.008297,0.063609,1.854950,"Jharkhand, Chattisgarh, Uttar Pradesh"
15,15,-0.003438,0.473131,-0.717399,"Assam, Sikkim, Bihar"
16,16,-0.002385,0.611054,-0.508573,"Chattisgarh, Uttar Pradesh, Jharkhand"
17,17,0.011336,0.049013,1.968573,"Bihar, Sikkim, Haryana"
18,18,-0.016728,0.003531,-2.917468,"Sikkim, Jharkhand, Bihar"
19,19,0.002273,0.677191,0.416303,"Sikkim, Chattisgarh, Uttar Pradesh"
20,20,0.014235,0.003691,2.903586,"Haryana, Uttar Pradesh, Jharkhand"
21,21,0.004501,0.363607,0.908527,"Jharkhand, Assam, Sikkim"
22,22,0.006160,0.365267,0.905386,"Assam, Sikkim, Chattisgarh"
23,23,-0.005087,0.308781,-1.017795,"Haryana, Chattisgarh, Assam"
24,24,0.007937,0.113017,1.584802,"Chattisgarh, Jharkhand, Uttar Pradesh"
25,25,0.009369,0.187367,1.318424,"Haryana, Jharkhand, Sikkim"
26,26,-0.006837,0.173866,-1.359908,"Bihar, Jharkhand, Sikkim"
27,27,0.004556,0.343459,0.947364,"Assam, Uttar Pradesh, Jharkhand"
28,28,-0.011519,0.025377,-2.235681,"Assam, Bihar, Chattisgarh"
29,29,0.004638,0.226726,1.208857,"Uttar Pradesh, Jharkhand, Chattisgarh"
30,30,0.001506,0.813913,0.235383,"Assam, Sikkim, Uttar Pradesh"
31,31,0.004617,0.353949,0.926970,"Jharkhand, Chattisgarh, Uttar Pradesh"
32,32,-0.012843,0.072008,-1.799111,"Chattisgarh, Assam, Bihar"
33,33,-0.016857,0.002445,-3.030160,"Jharkhand, Bihar, Chattisgarh"
34,34,0.000749,0.876448,0.155475,"Jharkhand, Sikkim, Haryana"

In [220]:
df.to_csv('Regression_Placebo_test_result_new_final.csv')

In [94]:
df

    Unnamed: 0      coef         p         t          state_comb
0            0 -0.003827  0.614280 -0.503979  ['CG', 'SK', 'JH']
1            1 -0.001158  0.891051 -0.136975  ['AS', 'BR', 'JH']
2            2 -0.002073  0.708779 -0.373499  ['HR', 'BR', 'CG']
3            3  0.005942  0.355816  0.923376  ['SK', 'CG', 'UP']
4            5 -0.000812  0.921478 -0.098573  ['BR', 'JH', 'CG']
5            6  0.004403  0.667016  0.430251  ['JH', 'SK', 'BR']
6            8 -0.010766  0.069848 -1.812945  ['SK', 'HR', 'AS']
7            9  0.001768  0.772777  0.288745  ['UP', 'CG', 'BR']
8           10  0.005101  0.352290  0.930164  ['CG', 'HR', 'UP']
9           11 -0.006467  0.335996 -0.962120  ['SK', 'JH', 'AS']
10          12 -0.003195  0.596433 -0.529539  ['UP', 'AS', 'CG']
11          13 -0.003967  0.557831 -0.586070  ['SK', 'AS', 'UP']
12          16 -0.003950  0.490882 -0.688910  ['JH', 'AS', 'UP']
13          17 -0.010426  0.066097 -1.837803  ['CG', 'HR', 'AS']
14          19 -0.005829  0.307312 -1.020888  ['BR', 'AS', 'HR']
15          20 -0.001597  0.777078 -0.283130  ['UP', 'AS', 'HR']
16          21 -0.005170  0.444761 -0.764183  ['BR', 'UP', 'AS']
17          22 -0.009439  0.054288 -1.924572  ['JH', 'AS', 'HR']
18          23 -0.003687  0.496329 -0.680282  ['SK', 'JH', 'HR']
19          24 -0.000059  0.991792 -0.010287  ['CG', 'UP', 'JH']
20          25 -0.002424  0.751022 -0.317294  ['SK', 'AS', 'BR']
21          32 -0.006102  0.263856 -1.117335  ['CG', 'JH', 'HR']
22          39  0.001356  0.847512  0.192295  ['BR', 'UP', 'SK']
23          42  0.006410  0.289320  1.059625  ['HR', 'UP', 'SK']
24          46 -0.005601  0.386290 -0.866374  ['BR', 'AS', 'CG']
25          55 -0.009496  0.226074 -1.210559  ['CG', 'SK', 'AS']
26          59  0.000960  0.872330  0.160700  ['BR', 'HR', 'SK']
27          70 -0.004955  0.540692 -0.611771  ['BR', 'JH', 'UP']
28          76 -0.008794  0.175346 -1.355246  ['JH', 'AS', 'CG']
29          80  0.000642  0.927872  0.090523  ['CG', 'SK', 'BR']
30          82  0.003132  0.609664  0.510556  ['JH', 'UP', 'SK']
31          88  0.003520  0.503623  0.668804  ['JH', 'UP', 'HR']
32         108 -0.003885  0.550375 -0.597204  ['SK', 'CG', 'HR']
33         116 -0.003238  0.605136 -0.517032  ['BR', 'HR', 'JH']
34         117  0.002370  0.690640  0.397988  ['HR', 'UP', 'BR']