In [10]:
import pandas as pd
import os
os.chdir('C:\\Users\\akhil\\Downloads')
df=pd.read_stata('MFI_cnt.dta')

In [11]:
districts=pd.read_csv('districts2.csv')

In [12]:
border=districts[districts['border']==1]

In [13]:
mfi=df.merge(border,on='district')

In [37]:
mfi

,night_lights,qrt_yr,district,rainfall,unnamed0,disbursal_period_actual,quarterofbookclosingperoid,state,ru_classification,lendertype,...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
0,2.323529,2018Q2,AGRA,0.041636,5164,FY 2017-2018 Q1,Q2,UP,,Others,...,0,0,1,0,0,0,0,0,0,0
1,1.793267,2018Q3,AGRA,0.349963,13989,BEFORE FY 2017-18,Q3,UP,Rural,Others,...,0,0,1,0,0,0,0,0,0,0
2,2.983452,2018Q4,AGRA,0.005660,21595,BEFORE FY 2017-18,Q4,UP,Rural,SFBs,...,0,0,1,0,0,0,0,0,0,0
3,2.879875,2019Q1,AGRA,0.025102,11788,FY 2017-2018 Q4,Q1,UP,Semi-Urban,Others,...,0,0,1,0,0,0,0,0,0,0
4,2.435467,2019Q2,AGRA,0.029124,29990,FY 2017-2018 Q1,Q2,UP,,Banks,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188155,0.826344,2020Q1,YAVATMAL,0.025320,22338,FY 2018-2019 Q2,Q1,MH,Urban,SFBs,...,0,0,0,0,0,0,1,0,0,0
188156,0.826344,2020Q1,YAVATMAL,0.025320,46363,FY 2017-2018 Q1,Q1,MH,Semi-Urban,SFBs,...,0,0,0,0,0,0,1,0,0,0
188157,0.826344,2020Q1,YAVATMAL,0.025320,46356,FY 2017-2018 Q1,Q1,MH,,SFBs,...,0,0,0,0,0,0,1,0,0,0
188158,0.826344,2020Q1,YAVATMAL,0.025320,46364,FY 2017-2018 Q1,Q1,MH,Semi-Urban,NBFC MFI,...,0,0,0,0,0,0,1,0,0,0
188159,0.826344,2020Q1,YAVATMAL,0.025320,35314,FY 2017-2018 Q4,Q1,MH,Semi-Urban,Others,...,0,0,0,0,0,0,1,0,0,0

In [15]:
new_cols=['night_lights','rainfall','yearofbookclosingperoid', 'quarterofbookclosingperoid','state','district','ru_classification','lendertype','volume_def','val_def','post','int_ay','qrt_yr','pre_lend','avgticketsize','AN', 'AP', 'AR', 'AS', 'BR', 'CG', 'CH', 'DD', 'DL', 'DN', 'GA', 'GJ', 'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ', 'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TN', 'TR', 'TS', 'UK', 'UP', 'WB','border_y']

In [16]:
mfi_final=mfi[new_cols]

In [17]:
mfi_final=mfi_final=mfi_final[mfi_final['pre_lend']==1]

In [18]:
for i in range(mfi_final.shape[0]):
    mfi_final[mfi_final.state.iloc[i]].iloc[i]=1

In [19]:
mainl=[]
df1=mfi_final
for district in list(df1.district.unique()):
    temp=df1[df1['district']==district]
    l=[temp.state.iloc[0],district]
    l.append(temp['volume_def'].mean())
    l.append(temp['val_def'].mean())
    mainl.append(l)
df_district=pd.DataFrame(mainl,columns=['State','district','volume_def','val_def'])

In [22]:
df_new=df_district.merge(border,on='district')

In [25]:
df_new
for i in range(df_new.shape[0]):
    df_new[df_new.State.iloc[i]].iloc[i]=1

In [26]:
df_new

,State,district,volume_def,val_def,Unnamed: 0,states,border,AN,AP,AR,...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
0,UP,AGRA,0.266937,0.292726,568,UP,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,MZ,AIZAWL,0.072608,0.083585,397,MZ,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,UP,ALIGARH,0.241462,0.263072,569,UP,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,MP,ALIRAJPUR,0.074593,0.087188,347,MP,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,RJ,ALWAR,0.169543,0.193443,473,RJ,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,NL,WOKHA,0.035189,0.035884,414,NL,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
333,KA,YADGIR,0.060910,0.070782,279,KA,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
334,HR,YAMUNANAGAR,0.105533,0.116101,204,HR,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
335,PY,YANAM,0.695652,0.695652,471,PY,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
336,MH,YAVATMAL,0.256502,0.291536,327,MH,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [92]:
def get_sim(df2):
    df_result=pd.DataFrame()
    max_no=1
    c=0
    for i in range(df2.shape[0]):
        n=df2.volume_def.iloc[i]
        new=df2[(df2['val_def']>=n-float(0.01))&(df2['val_def']<=n)]
        if(max_no<new.shape[0] and len(df2.State.unique())>=2):
            df_result=new
            max_no=df_result.shape[0]
        new=df2[(df2['val_def']<=n+float(0.01))&(df2['val_def']>=n)]
        if(max_no<new.shape[0]and len(df2.State.unique())>=2):
            df_result=new
            max_no=df_result.shape[0]
        new=df2[df2['val_def']>=n-float(0.005)]
        new=new[new['val_def']<=n+float(0.005)]
        if(max_no<new.shape[0]and len(df2.State.unique())>=2):
            df_result=new
            max_no=df_result.shape[0]
        c+=1
    
    return df_result

def get_sim_v2(df2,state):
    df_result=pd.DataFrame()
    max_no=1
    c=0
    for i in range(df2.shape[0]):
        n=df2.volume_def.iloc[i]
        new=df2[(df2['val_def']>=n-float(0.01))&(df2['val_def']<=n)]
        if(max_no<new.shape[0]and len(new.State.unique())>=2) and (state in list(new.State.unique())):
            df_result=new
            max_no=df_result.shape[0]
        new=df2[(df2['val_def']<=n+float(0.01))&(df2['val_def']>=n)]
        if(max_no<new.shape[0]and len(new.State.unique())>=2) and (state in list(new.State.unique())):
            df_result=new
            max_no=df_result.shape[0]
        #new=df2[df2['volume_def']>=n-float(0.005)]
        #new=new[new['volume_def']<=n+float(0.005)]
        #if(max_no<new.shape[0]and len(new.State.unique())>=2) and (state in list(new.State.unique())):
            #df_result=new
            #max_no=df_result.shape[0]
        c+=1
    
    return df_result

def get_sim_border(df,state):
    df=df[df[state]==1]
    border_states=list(df[df['State']!=state].State.unique())
    df_sim=pd.DataFrame(columns=list(df.columns[:5]))
    borders=[]
    for border_state in border_states:
        df_border_districts=df[df['State']==state].append(df[df['State']==border_state])
        df_border_districts=df_border_districts[df_border_districts[border_state]==1]
        df_sim_border=get_sim(df_border_districts)
        df_sim_border.reset_index(inplace=True)
        df_sim_border=df_sim_border[list(df_sim_border.columns[:5])]
        borders=[state+'&'+border_state]*df_sim_border.shape[0]
        df_sim_border['Border']=borders
        df_sim=df_sim.append(df_sim_border)
    
    return df_sim
def get_sim_borderv2(df,state):
    df=df[df[state]==1]
    border_states=list(df[df['State']!=state].State.unique())
    df_sim=pd.DataFrame(columns=list(df.columns[:5]))
    borders=[]
    
    df_sim_border=get_sim_v2(df,state)
    df_sim_border.reset_index(inplace=True)
    df_sim_border=df_sim_border[list(df_sim_border.columns[:5])]
    borders=[state]*df_sim_border.shape[0]
    df_sim_border['Border']=borders
    df_sim=df_sim.append(df_sim_border)
    
    return df_sim

def get_sim_border_between_2_states(df,state1,state2):
    df=df[df[state]==1]
    border_states=list(df[df['State']!=state].State.unique())
    df_sim=pd.DataFrame(columns=df.columns)
    df_border_districts=df[df['State']==state].append(df[df['State']==border_state])
    df_border_districts=df_border_districts[df_border_districts[border_state]==1]
    df_sim_border=get_sim(df_border_districts)
    
    df_sim=df_sim.append(df_sim_border)
        
    return df_sim

In [93]:
df1=get_sim_borderv2(df_new,'DL')
df1

  State district  volume_def   val_def Unnamed: 0  index Border
0    DL  CENTRAL    0.194470  0.197286        NaN   49.0     DL
1    HR  JHAJJAR    0.188719  0.204285        NaN  135.0     DL

In [94]:
df2=get_sim_borderv2(df_new[df_new['states']!='WB'],'OR')
df2

  State    district  volume_def   val_def Unnamed: 0  index Border
0    CG      BASTAR    0.120168  0.139117        NaN   29.0     OR
1    CG    DHAMTARI    0.115222  0.134912        NaN   74.0     OR
2    OR   KALAHANDI    0.119946  0.138179        NaN  146.0     OR
3    OR  MALKANGIRI    0.128142  0.138955        NaN  193.0     OR
4    OR     NUAPADA    0.123875  0.142890        NaN  226.0     OR

In [95]:
df3=get_sim_borderv2(df_new,'WB')
df3

  State       district  volume_def   val_def Unnamed: 0  index Border
0    WB        BIRBHUM    0.121526  0.139047        NaN   43.0     WB
1    JH         BOKARO    0.122482  0.139371        NaN   44.0     WB
2    SK  EAST DISTRICT    0.103040  0.142552        NaN   91.0     WB
3    BR        KATIHAR    0.125947  0.140618        NaN  159.0     WB
4    BR     KISHANGANJ    0.123105  0.141845        NaN  164.0     WB

In [33]:
get_sim_border(df_new,'TS')

Empty DataFrame
Columns: [State, district, volume_def, val_def, Unnamed: 0, index, Border]
Index: []

In [35]:
df_new[df_new['State']=='TS']

Empty DataFrame
Columns: [State, district, volume_def, val_def, Unnamed: 0, states, border, AN, AP, AR, AS, BR, CG, CH, DD, DL, DN, GA, GJ, HP, HR, JH, JK, KA, KL, LD, MH, ML, MN, MP, MZ, NL, OR, PB, PY, RJ, SK, TN, TR, TS, UK, UP, WB]
Index: []

[0 rows x 43 columns]

In [96]:
df_final=df1.append([df2,df3])
df_final

  State       district  volume_def   val_def Unnamed: 0  index Border
0    DL        CENTRAL    0.194470  0.197286        NaN   49.0     DL
1    HR        JHAJJAR    0.188719  0.204285        NaN  135.0     DL
0    CG         BASTAR    0.120168  0.139117        NaN   29.0     OR
1    CG       DHAMTARI    0.115222  0.134912        NaN   74.0     OR
2    OR      KALAHANDI    0.119946  0.138179        NaN  146.0     OR
3    OR     MALKANGIRI    0.128142  0.138955        NaN  193.0     OR
4    OR        NUAPADA    0.123875  0.142890        NaN  226.0     OR
0    WB        BIRBHUM    0.121526  0.139047        NaN   43.0     WB
1    JH         BOKARO    0.122482  0.139371        NaN   44.0     WB
2    SK  EAST DISTRICT    0.103040  0.142552        NaN   91.0     WB
3    BR        KATIHAR    0.125947  0.140618        NaN  159.0     WB
4    BR     KISHANGANJ    0.123105  0.141845        NaN  164.0     WB

In [97]:
df_final.drop(['Unnamed: 0','index'],axis=1,inplace=True)

In [98]:
df_final.to_csv('sim_val_def_mfi_1_percent_new.csv')

In [53]:
df_final=pd.read_csv('sim_volume_def_mfi_1_percent.csv')

In [59]:
df_final

   State       district  volume_def   val_def Border
0     DL           EAST    0.227161  0.261910  DL&UP
1     UP        BAGHPAT    0.236995  0.271665  DL&UP
2     DL          NORTH    0.278122  0.320443  DL&HR
3     DL     NORTH WEST    0.272247  0.314534  DL&HR
4     OR      KALAHANDI    0.119946  0.138179  OR&CG
5     OR   NABARANGAPUR    0.120977  0.127021  OR&CG
6     OR        NUAPADA    0.123875  0.142890  OR&CG
7     OR     SUNDARGARH    0.118238  0.128192  OR&CG
8     CG         BASTAR    0.120168  0.139117  OR&CG
9     CG       DHAMTARI    0.115222  0.134912  OR&CG
10    OR      BALESHWAR    0.144227  0.166828  OR&WB
11    OR     MAYURBHANJ    0.140736  0.153730  OR&WB
12    OR     SUNDARGARH    0.118238  0.128192  OR&JH
13    JH        SIMDEGA    0.109092  0.129203  OR&JH
14    OR      BALESHWAR    0.144227  0.166828  WB&OR
15    OR     MAYURBHANJ    0.140736  0.153730  WB&OR
16    WB         MALDAH    0.152263  0.159652  WB&JH
17    WB       PURULIYA    0.156406  0.175706  WB&JH
18    JH          DUMKA    0.159371  0.176092  WB&JH
19    JH        JAMTARA    0.155928  0.171874  WB&JH
20    JH         RANCHI    0.160846  0.180407  WB&JH
21    WB      DARJILING    0.129976  0.149474  WB&SK
22    SK  WEST DISTRICT    0.120540  0.118491  WB&SK
23    BR        KATIHAR    0.125947  0.140618  WB&BR
24    BR     KISHANGANJ    0.123105  0.141845  WB&BR

In [86]:
df_new

,State,district,volume_def,val_def,Unnamed: 0,states,border,AN,AP,AR,...,PB,PY,RJ,SK,TN,TR,TS,UK,UP,WB
0,UP,AGRA,0.266937,0.292726,568,UP,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,MZ,AIZAWL,0.072608,0.083585,397,MZ,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,UP,ALIGARH,0.241462,0.263072,569,UP,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,MP,ALIRAJPUR,0.074593,0.087188,347,MP,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,RJ,ALWAR,0.169543,0.193443,473,RJ,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,NL,WOKHA,0.035189,0.035884,414,NL,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
333,KA,YADGIR,0.060910,0.070782,279,KA,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
334,HR,YAMUNANAGAR,0.105533,0.116101,204,HR,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
335,PY,YANAM,0.695652,0.695652,471,PY,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
336,MH,YAVATMAL,0.256502,0.291536,327,MH,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0